<apex:page tabStyle="MobileSearch__tab" standardstylesheets="false" sidebar="false" showHeader="false" docType="html-5.0">
  <c:ConfigurationCheck needsIndex="false">
    <c:SearchInterface mobile="true" />
  </c:ConfigurationCheck>
</apex:page>