<apex:page standardController="Account" sidebar="false" >
 
<apex:composition template="KimbleOne__SiteMaster">

<apex:define name="Menu">


</apex:define>
    
<apex:define name="Content">

	<apex:form id="TheForm">  
	
		<apex:outputPanel layout="none" rendered="{!Account.Id == null}">
			<apex:sectionHeader title="{!$ObjectType.Account.label}" subtitle="{!$Label.kimbleone__new} {!$ObjectType.Account.label}"/>
		</apex:outputPanel>
       
		<apex:pagemessages escape="false"/>
      
		<apex:pageBlock mode="edit" >

			<apex:pageBlockSection title="{!$Label.kimbleone__detailsheading}">

				<apex:inputField id="accountName" value="{!Account.Name}" required="true"/>
				<apex:inputField id="accountCode" value="{!Account.KimbleOne__Code__c}"/>

			</apex:pageBlockSection>
			
			<apex:pageBlockSection title="{!$Label.kimbleone__customerdetailsheading}">

				<apex:inputField id="accountIsCustomer" value="{!Account.KimbleOne__IsCustomer__c}"/>
				<apex:pageBlockSectionItem />
			
				<apex:inputField id="accountBusinessUnitOperating" value="{!Account.KimbleOne__BusinessUnit__c}"/>
				<apex:inputField id="accountBusinessUnitTrading" value="{!Account.KimbleOne__BusinessUnitTradingEntity__c}"/>
			
				<apex:inputField id="accountInvoicingCcyIsoCode" value="{!Account.KimbleOne__InvoicingCurrencyIsoCode__c}"/>
				<apex:pageBlockSectionItem />
	        
				<apex:inputField id="accountTaxCode" value="{!Account.KimbleOne__TaxCode__c}"/>
				<apex:inputField id="accountTaxCodeReference" value="{!Account.KimbleOne__TaxCodeReference__c}"/>

				<apex:inputField id="accountInvoiceTemplate" value="{!Account.KimbleOne__InvoiceTemplate__c}"/>
				<apex:inputField id="accountInvoiceFormat" value="{!Account.KimbleOne__InvoiceFormat__c}"/>

				<apex:inputField id="accountPurchaseOrderRule" value="{!Account.KimbleOne__PurchaseOrderRule__c}"/>
				<apex:inputField id="accountLocale" value="{!Account.KimbleOne__Locale__c}"/>
			
				<apex:inputField id="accountInvoicePaymentTerms" value="{!Account.KimbleOne__InvoicePaymentTermDays__c}"/>

				<apex:inputField id="accountAllowPartItemInvoicing" value="{!Account.KimbleOne__AllowPartItemInvoicing__c}"/>
			
			</apex:pageBlockSection>

			<apex:pageBlockSection title="{!$Label.kimbleone__supplierdetailsheading}">

				<apex:inputField id="accountIsCustomer" value="{!Account.KimbleOne__IsSupplier__c}"/>
				<apex:pageBlockSectionItem />

			</apex:pageBlockSection>
		 	
		</apex:pageBlock>

		<apex:pageBlock >
			<apex:commandButton id="save" action="{!Save}" value="{!$Label.kimbleone__save}" />
		</apex:pageBlock>

	</apex:form>
  
</apex:define>

</apex:composition>

</apex:page>