<apex:page controller="KimbleOne.ChatterController" showHeader="false" sidebar="false" tabStyle="KimbleOne__ReferenceData__c">	
	<apex:sectionHeader title="{!ObjectType}" subtitle="{!ObjectName}" rendered="{!$CurrentPage.parameters.showheader='1'}"/>
	
	<chatter:feedWithFollowers entityId="{!$CurrentPage.parameters.id}" />
	
</apex:page>