<apex:page standardcontroller="KimbleOne__CustomerDeliveryGroup__c" sidebar="false" >

<apex:composition template="KimbleOne__SiteMaster">

<apex:define name="Menu">

	<c:Menu DefaultHelpPage="DeliveryEngagements.html" MenuContextType="DeliveryGroup" MenuContextId="{!KimbleOne__CustomerDeliveryGroup__c.KimbleOne__DeliveryGroup__c}" MenuContextName="{!KimbleOne__CustomerDeliveryGroup__c.DeliveryGroup__r.Name}"/>

</apex:define>
    
<apex:define name="Content">
 	  
	<apex:pageMessages escape="False" />
 
      
	<apex:pageBlock title="{!$Label.kimbleone__deliverygroupreviewdocumentsheader}">

		<apex:pageBlockSection collapsible="false">
  
			<apex:relatedList list="NotesAndAttachments" />

		</apex:pageBlockSection> 
		<script>
				jQuery(document).ready(function(){
  						$(function() {
  							hideNotesButtons();
  						})
  					});
  					function hideNotesButtons()
  					{
  						jQuery('input[name="newNote"]').remove();  						
  					}
			</script>
	</apex:pageBlock>
  
</apex:define>

</apex:composition>

</apex:page>