<apex:page standardController="KimbleOne__DeliveryProgram__c" extensions="KimbleOne.DeliveryProgramAssignmentsController"  showHeader="true" sidebar="false" standardStylesheets="true" tabStyle="KimbleOne__DeliveryProgram__c">

<apex:composition template="KimbleOne__SiteMaster">
    <apex:define name="Menu">
     	
     	<c:Menu DefaultHelpPage="ViewAssignments.html" MenuContextType="DeliveryProgram" MenuContextId="{!KimbleOne__DeliveryProgram__c.Id}" MenuContextName="{!KimbleOne__DeliveryProgram__c.Name}" />
     	 
    </apex:define>
    
    <apex:define name="Content">
    	<c:ActivityAssignments ComponentContext="{!TheProgramContext}"/>
    </apex:define>
</apex:composition>

</apex:page>