<apex:page standardController="KimbleOne__DeliveryElement__c" extensions="KimbleOne.DeliveryElementRedirectController">

	<apex:composition template="KimbleOne__SiteMaster">
	 
	<apex:define name="Menu">
		<c:Menu MenuContextName="{!$ObjectType.KimbleOne__DeliveryElement__c.Label}" />
	</apex:define>
	
	<apex:define name="Content">
		<apex:outputText value="{!$Label.kimbleone__deliveryelementpreventnewmessage}" rendered="{!IsNewElement}"/>
		
		<apex:outputPanel layout="none" rendered="{!!IsNewElement}">
			<apex:outputText value="{!$Label.kimbleone__deliveryelementredirectmessage}" />
			<apex:outputLink value="{!RedirectTo}">{!JSENCODE(KimbleOne__DeliveryElement__c.Name)}</apex:outputLink>
		</apex:outputPanel>
		
		<script>
			var delay = 5000;
			setTimeout(function(){ safeRedirectToSForceURL('{!RedirectTo}'); }, delay);
		</script>
	</apex:define>
	
	</apex:composition>
</apex:page>