<apex:page standardcontroller="KimbleOne__DeliveryPortfolio__c" extensions="KimbleOne.DeliveryPortfolioEditController" sidebar="false" >
 
<apex:composition template="KimbleOne__SiteMaster">

<apex:define name="Menu">

	<c:Menu DefaultHelpPage="DeliveryPortfolios.html" MenuContextType="DeliveryPortfolio" MenuContextId="{!KimbleOne__DeliveryPortfolio__c.Id}" MenuContextName="{!KimbleOne__DeliveryPortfolio__c.Name}" rendered="{!!ISBLANK(KimbleOne__DeliveryPortfolio__c.Id)}"/>

</apex:define>
    
<apex:define name="Content">
    
	<apex:outputPanel layout="none" rendered="{!KimbleOne__DeliveryPortfolio__c.Id == null}">
		<apex:sectionHeader title="" subtitle="{!$Label.kimbleone__new} {!$ObjectType.KimbleOne__DeliveryPortfolio__c.label}"/>
	</apex:outputPanel>
    
	<apex:pageMessages escape="false"/>
 
	<apex:form >  
      
		<apex:pageBlock mode="edit">

			<apex:pageBlockButtons location="top" >
			
				<apex:commandButton id="save" action="{!quicksave}" value="{!$Label.kimbleone__save}"/>
				<apex:commandButton id="saveAndClose" action="{!saveAndRedirect}" value="{!$Label.kimbleone__saveandclose}"/>
				
			</apex:pageBlockButtons>
		
			<apex:pageBlockSection >
				
				<apex:inputField id="name" value="{!KimbleOne__DeliveryPortfolio__c.Name}" required="true"/>
				<apex:inputField id="CurrencyIsoCode" value="{!KimbleOne__DeliveryPortfolio__c.CurrencyIsoCode}" required="true"/>
			
			</apex:pageBlockSection>	 
			
		</apex:pageBlock>

  	</apex:form>
  	
  	
	<apex:outputPanel id="DeliveryPortfolioDeliveryGroups" layout="block" rendered="{!!ISBLANK(KimbleOne__DeliveryPortfolio__c.Id)}">
		
		<apex:form >
			
			<div id="deliveryPortfolioDeliveryGroupErrors">
				<apex:pageMessages escape="false"/>
			</div>
			
			<apex:pageBlock >

				<apex:pageBlockButtons location="top">

					<input type="button" class="btn"
							value="{!$Label.New} {!$ObjectType.DeliveryPortfolioDeliveryGroup__c.Label}"
							onclick="initialiseModalBoxy('#DeliveryPortfolioDeliveryGroupPopup', '{!$Label.New} {!$ObjectType.DeliveryPortfolioDeliveryGroup__c.Label}'); newDeliveryPortfolioDeliveryGroup();"></input>

				</apex:pageBlockButtons>
				
				<apex:pageBlockTable value="{!DeliveryPortfolioDeliveryGroups}" var="dpdg">

					<apex:column headerValue="{!$Label.kimbleone__actionlinksheader}" >

	       	   			<apex:outputPanel layout="none" rendered="{!$ObjectType.KimbleOne__DeliveryPortfolioDeliveryGroup__c.deletable}">
           					<apex:commandLink onclick="var d = confirmDelete();if(!d) return;" action="{!deleteDeliveryPortfolioDeliveryGroup}" reRender="DeliveryPortfolioDeliveryGroups">{!$Label.kimbleone__delete}
								<apex:param name="dpdgId" value="{!dpdg.Id}" />
							</apex:commandLink>
           				</apex:outputPanel>
						
					</apex:column>

					<apex:column value="{!dpdg.KimbleOne__DeliveryGroup__c}" />

					<apex:column value="{!dpdg.DeliveryGroup__r.Account__r.Name}" />
					
				</apex:pageBlockTable>

			</apex:pageBlock>

			<apex:actionFunction action="{!newDeliveryPortfolioDeliveryGroup}" 
				name="newDeliveryPortfolioDeliveryGroup"
				rerender="DeliveryPortfolioDeliveryGroup"
				oncomplete="showModalBoxy();">
			</apex:actionFunction>

		</apex:form>
		
	</apex:outputPanel>

	<div id="DeliveryPortfolioDeliveryGroupPopup" style="display: none">
	
		<apex:outputPanel id="DeliveryPortfolioDeliveryGroup">

		<apex:form >
			
			<apex:outputPanel style="width:500px;" layout="block">
			
				<apex:outputPanel id="Errorpanel">
					<div id="deliveryPortfoliodDeliveryGroupErrors">
						<apex:pageMessages escape="false"/>
					</div>
				</apex:outputPanel>

				<apex:pageBlock >
			
					<apex:pageBlockButtons location="bottom">
						<apex:commandButton action="{!SaveDeliveryPortfolioDeliveryGroup}"
							value="{!$Label.kimbleone__save}"
							oncomplete="hideModalBoxyWithErrorCheck('#deliveryPortfolioDeliveryGroupErrors');"
							reRender="Errorpanel, DeliveryPortfolioDeliveryGroups" styleclass="SaveButton"/>
						<input class="btn" type="button" onclick="hideModalBoxy();"
							value="{!$Label.Cancel}" />
					</apex:pageBlockButtons>

					<apex:pageblockSection collapsible="false" showheader="false" columns="1">
						
						<apex:inputField value="{!DeliveryPortfolioDeliveryGroup.KimbleOne__DeliveryGroup__c}"/>
						
					</apex:pageblockSection>						

				</apex:pageBlock>

			</apex:outputPanel>

		</apex:form>

		</apex:outputPanel>
		
	</div>
   	

</apex:define>

</apex:composition>

</apex:page>