<apex:page controller="KimbleOne.DependenciesController" sidebar="false">
<apex:composition template="KimbleOne__SiteMaster">

<apex:define name="Menu">

	<c:Menu DefaultHelpPage="Issues.html" MenuContextType="{!MenuContextType}" MenuContextId="{!MenuContextId}" MenuContextName="{!MenuContextName}"/>

</apex:define>  
   
<apex:define name="Content">

	
    
	<apex:pagemessages escape="false"/>

    <apex:form >
		<apex:outputPanel id="DependenciesManagerPanel" >
		    	<apex:pageBlock id="DependenciesManagerBlock" title="{!$ObjectType.KimbleOne__Dependency__c.LabelPlural}">  
		    		<div id="DependenciesDependenciesManagerErrors">
           				<apex:pageMessages escape="false"/>
           			</div>
		    	   
		    	    <apex:pageBlockButtons location="top" rendered="{!($ObjectType.KimbleOne__Dependency__c.createable && idFromProposal) || ($ObjectType.KimbleOne__Dependency__c.createable && !idFromProposal && DependencyDeliveryGroup.DeliveryStage__r.KimbleOne__AllowNewDependencies__c)}">						
						<apex:commandButton action="{!newDependency}" value="{!$Label.kimbleone__new} {!$ObjectType.KimbleOne__Dependency__c.Label}" oncomplete="" reRender="DependenciesManagerPanel"/>						
					</apex:pageBlockButtons>
		    	
					<apex:pageBlockTable value="{!dependenciesList}" var="dependencyLine">
		       			<apex:column headerValue="{!$Label.kimbleone__actionlinksheader}">
							<apex:outputLink value="#" onclick="editDependency('{!JSINHTMLENCODE(dependencyLine.id)}');" rendered="{!($ObjectType.KimbleOne__Dependency__c.updateable && idFromProposal) || ($ObjectType.KimbleOne__Dependency__c.updateable && !idFromProposal && DependencyDeliveryGroup.DeliveryStage__r.KimbleOne__AllowNewDependencies__c)}">{!$Label.kimbleone__edit}</apex:outputLink> &nbsp;|&nbsp;
			  				<apex:outputLink value="#" onclick="var d = confirmDelete();if(!d) return; deleteDependency('{!JSINHTMLENCODE(dependencyLine.id)}');" rendered="{!($ObjectType.KimbleOne__Dependency__c.deletable && idFromProposal) || ($ObjectType.KimbleOne__Dependency__c.deletable && !idFromProposal && DependencyDeliveryGroup.DeliveryStage__r.KimbleOne__AllowNewDependencies__c)}">{!$Label.kimbleone__delete}</apex:outputLink>
						</apex:column>						  		
						<apex:column headerValue="{!$ObjectType.KimbleOne__Dependency__c.Fields.Name.Label}">
							<apex:outputLink value="#" onclick="detailDependency('{!JSINHTMLENCODE(dependencyLine.id)}');" rendered="{!$ObjectType.KimbleOne__Dependency__c.accessible}">{!dependencyLine.Name}</apex:outputLink> 
						</apex:column>
						<apex:column value="{!dependencyLine.KimbleOne__DueDate__c}" headerValue="{!$ObjectType.KimbleOne__Dependency__c.Fields.KimbleOne__DueDate__c.Label}"/>
						<apex:column value="{!dependencyLine.KimbleOne__Status__c}" headerValue="{!$ObjectType.KimbleOne__Dependency__c.Fields.KimbleOne__Status__c.Label}"/>
						<apex:column value="{!dependencyLine.KimbleOne__Summary__c}" headerValue="{!$ObjectType.KimbleOne__Dependency__c.Fields.KimbleOne__Summary__c.Label}"/>
						<apex:column value="{!dependencyLine.KimbleOne__Description__c}" headerValue="{!$ObjectType.KimbleOne__Dependency__c.Fields.KimbleOne__Description__c.Label}"/>
					</apex:pageBlockTable>
		    	</apex:pageBlock>
		</apex:outputPanel>

		<apex:actionFunction action="{!deleteDependency}" name="deleteDependency" rerender="DependenciesManagerPanel" oncomplete="">
       		<apex:param name="aId" value="" />
       	</apex:actionFunction>
 
		<apex:actionFunction action="{!editDependency}" name="editDependency" rerender="" oncomplete="">
       		<apex:param name="aId" value="" />
       	</apex:actionFunction>
       	
		<apex:actionFunction action="{!detailDependency}" name="detailDependency" rerender="" oncomplete="">
       		<apex:param name="aId" value="" />
       	</apex:actionFunction>
       	
     
    </apex:form>
    </apex:define>
    </apex:composition>

</apex:page>