<apex:page controller="KimbleOne.ExpenseExportController" standardStylesheets="true" showHeader="true" sidebar="false">
	This page is obsolete - click <a href="/{!$ObjectType.KimbleOne__OutboundInterfaceRun__c.KeyPrefix}">here</a> to export data
</apex:page>