<apex:page standardController="KimbleOne__Menu__c" extensions="KimbleOne.MenuEditController" showHeader="true" sidebar="true">
	<apex:form id="changeStatusForm">
		<apex:pageBlock title="{!$Label.kimbleone__edit} {!$ObjectType.KimbleOne__Menu__c.label}" mode="edit">
			<apex:pageMessages />
			
			<apex:pageBlockButtons location="top">
				<apex:commandButton value="{!$Label.kimbleone__save}" action="{!save}" />
				<apex:commandButton value="{!$Label.kimbleone__cancel}" action="{!cancel}" />
			</apex:pageBlockButtons>
			
			<apex:pageBlockSection title="{!$Label.kimbleone__detailsheading}" columns="2" collapsible="false">
			
				<apex:inputField value="{!KimbleOne__Menu__c.Name}" required="true" />
				<apex:inputField value="{!KimbleOne__Menu__c.KimbleOne__ContextType__c}" required="true" />

				<apex:inputField value="{!KimbleOne__Menu__c.KimbleOne__ContextItemsSource__c}"/>
				<apex:inputField value="{!KimbleOne__Menu__c.KimbleOne__FilterSource__c}" />
				
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
	<apex:pageBlock title="{!$ObjectType.KimbleOne__MenuItem__c.LabelPlural}">
		<apex:pageBlockTable value="{!MenuItems}" var="itm">
			<apex:column headerValue="{!$ObjectType.KimbleOne__MenuItem__c.Fields.Name.Label}" value="{!itm.Name}"/>
			<apex:column headerValue="{!$ObjectType.KimbleOne__MenuItem__c.Fields.KimbleOne__Sequence__c.Label}" value="{!itm.KimbleOne__Sequence__c}"/>
			<apex:column headerValue="{!$ObjectType.KimbleOne__MenuItem__c.Fields.KimbleOne__MenuItem__c.Label}" value="{!itm.KimbleOne__MenuItem__c}"/>
			<apex:column headerValue="{!$ObjectType.KimbleOne__MenuItem__c.Fields.KimbleOne__FormattedNodeName__c.Label}" value="{!itm.KimbleOne__FormattedNodeName__c}"/>
			<apex:column headerValue="{!$ObjectType.KimbleOne__MenuItem__c.Fields.KimbleOne__ObjectSource__c.Label}" value="{!itm.KimbleOne__ObjectSource__c}"/>
			<apex:column headerValue="{!$ObjectType.KimbleOne__MenuItem__c.Fields.KimbleOne__FilterContext__c.Label}" value="{!itm.KimbleOne__FilterContext__c}"/>
			<apex:column headerValue="{!$ObjectType.KimbleOne__MenuItem__c.Fields.KimbleOne__MenuCommand__c.Label}" value="{!itm.KimbleOne__MenuCommand__c}"/>
		</apex:pageBlockTable>	
	</apex:pageBlock>
</apex:page>