<apex:page standardController="KimbleOne__Payment__c" showHeader="true" sidebar="false" standardStylesheets="true" tabStyle="KimbleOne__Payment__c">

	<apex:Composition template="KimbleOne__SiteMaster">
	<apex:define name="Menu">
		<c:Menu rendered="{!KimbleOne__Payment__c.Id != null}" MenuContextType="Payment" MenuContextId="{!KimbleOne__Payment__c.Id}" MenuContextName="{!KimbleOne__Payment__c.Name}"/> 
	</apex:define>
		
		<apex:define name="Content">
				 <apex:form >
		           		<apex:pageBlock Id="PaymentNewEditPanel"  title="{!$ObjectType.KimbleOne__Payment__c.Label}">
		           			

		            		<apex:pageBlockButtons location="bottom">
								<apex:commandButton action="{!save}" value="{!$Label.kimbleone__save}" />
								<apex:commandButton action="{!cancel}" value="{!$Label.kimbleone__cancel}"/>
							</apex:pageBlockButtons>
		             		<apex:pageblockSection collapsible="false" showheader="false"  columns="1">
		               			<apex:inputfield value="{!KimbleOne__Payment__c.Name}" required="true" />
		               			<apex:inputfield value="{!KimbleOne__Payment__c.KimbleOne__Account__c}" required="true" />
		               			<apex:inputfield styleClass="datePickerPopup" value="{!KimbleOne__Payment__c.KimbleOne__PaymentDate__c}" required="true" />
									<apex:pageBlockSectionItem >
										<apex:outputLabel for="currencyIsoCode" value="{!$ObjectType.KimbleOne__Payment__c.Fields.CurrencyIsoCode.Label}"/>
				                        <apex:inputText value="{!KimbleOne__Payment__c.CurrencyIsoCode}" styleclass="kimblecustomlookup GetActiveCurrencyTypes null true true" required="true"/>
									</apex:pageBlockSectionItem>
		               			<apex:inputfield value="{!KimbleOne__Payment__c.KimbleOne__PaymentAmount__c}" required="true" />               			  

								<apex:repeat value="{!$ObjectType.KimbleOne__Payment__c.FieldSets.KimbleOne__PaymentDetails}" var="f">
				     				<apex:inputField value="{!KimbleOne__Payment__c[f]}" required="{!f.Required}" />
   								</apex:repeat>

				            </apex:pageBlockSection>
		        		</apex:pageBlock>
		         	</apex:form>
		</apex:define>
	</apex:Composition>
</apex:page>