<apex:page standardController="KimbleOne__DeliveryGroup__c" extensions="KimbleOne.PurchaseOrderSummaryCardController" showHeader="false" sidebar="false" contentType="text/css" tabStyle="KimbleOne__DeliveryGroup__c">    
    <apex:outputPanel layout="none" rendered="true">
		<div class="card">
			<div class="cardHeading">
				<h3 class="cardTitle"><apex:outputText value=""/></h3>
			</div>
		
			<div class="cardBody">

			</div>
		</div>
	</apex:outputPanel>
 					
    <script>

    </script>
	
</apex:page>