<apex:page standardController="KimbleOne__Risk__c" extensions="KimbleOne.RiskEditController"  sidebar="false">

 <apex:composition template="KimbleOne__SiteMaster">

  <apex:define name="Menu">

	<c:Menu DefaultHelpPage="Risks.html" MenuContextType="{!IF(ISBLANK(TheRisk.KimbleOne__Proposal__c), 'DeliveryGroup','Proposal')}" MenuContextId="{!IF(ISBLANK(TheRisk.KimbleOne__Proposal__c), TheRisk.KimbleOne__DeliveryGroup__c,TheRisk.KimbleOne__Proposal__c)}" MenuContextName="{!IF(ISBLANK(TheRisk.KimbleOne__Proposal__c), TheRisk.DeliveryGroup__r.Name ,TheRisk.Proposal__r.Name)}"/>
	

  </apex:define>  
   
  <apex:define name="Content">
	<apex:stylesheet value="{!URLFOR($Resource.KimbleOne__KimbleStyles, 'RiskStyle.css')}"/>

	<style>
		.add-mitigation-from-template-btn, .add-contingency-from-template-btn {
			vertical-align: top;
			font-size: 18px;
			color: #555;
			margin-left: 2px;
		}
		.filter-text {
			margin-bottom: 8px;
		  	width: 100%;
		}
		.template-text-column {
			width: 320px;
		}
		.template-table {
			width: 700px !important;
		}
		.table-wrapper {
			height: 355px;
		  	overflow-y: auto;
 				overflow-x: hidden;
		}
 		.full-width-field {
 			width: 97%;
 		}
		.new-contact-link {
 			white-space: nowrap;
		}
		.risk-template-table {
			width: 700px !important;
		}
		.risk-severity-value {
			padding: 3px 0px 3px 0px;
		}
	</style>
  	<apex:form id="TheForm">
  	         
	<!-- Hidden fields for use in controller -->
	<apex:outputField value="{!TheRisk.KimbleOne__Proposal__c}" rendered="False"/>
	<apex:outputField value="{!TheRisk.KimbleOne__DeliveryGroup__c}" rendered="False"/>
	<apex:outputField value="{!TheRisk.KimbleOne__RiskTemplate__c}" rendered="False"/>
	
    <apex:outputPanel id="RiskEditPanel" >
    
    	<apex:pageBlock id="RiskEditBlock">    
	   			
    		<div id="RiskEditErrors">
    			<apex:pageMessages escape="false"/>
    		</div>
         			           		
			<apex:pageBlockButtons location="bottom">
				<apex:commandButton styleClass="DisableButtonWhileBusy" action="{!save}" value="{!$Label.kimbleone__save}" oncomplete="" reRender="TheForm"/>						
				<input class="btn" type="button" onclick="safeNavigateToSForceURL('{!RedirectToContext}');" value="{!$Label.kimbleone__cancel}"/>
			</apex:pageBlockButtons>

           	<apex:pageblockSection collapsible="false" showheader="false" columns="3">

				<apex:pageBlockSectionItem dataStyle="width:30%" labelStyle="width:10%" rendered="{!AllowReferenceEdit}">
             		<apex:outputLabel value="{!$ObjectType.KimbleOne__Risk__c.Fields.Name.Label}" />
             		<apex:inputfield id="RiskNameInput" value="{!TheRisk.Name}" required="true" />
           		</apex:pageBlockSectionItem>
             	
             	<apex:pageBlockSectionItem dataStyle="width:30%" labelStyle="width:10%" rendered="{!!AllowReferenceEdit && ISBLANK(TheRisk.Id)}">
             		<apex:outputLabel value="{!$ObjectType.KimbleOne__Risk__c.Fields.Name.Label}" />
             		<apex:outputText value="{!$Label.kimbleone__autogeneratedlabel}" />
           		</apex:pageBlockSectionItem>

             	<apex:pageBlockSectionItem dataStyle="width:30%" labelStyle="width:10%" rendered="{!!AllowReferenceEdit && !ISBLANK(TheRisk.Id)}">
             		<apex:outputLabel value="{!$ObjectType.KimbleOne__Risk__c.Fields.Name.Label}" />
             		<apex:outputText id="RiskNameInput" value="{!TheRisk.Name}" />
           		</apex:pageBlockSectionItem>
           		
           		<apex:pageBlockSectionItem dataStyle="width:20%;text-align: center;" labelStyle="width:10%" >
					<apex:outputPanel rendered="{!TheRiskTemplates.size > 0}">
						<apex:actionRegion >
							<input class="btn" type="button" onclick="launchRiskTemplatePopup()" value="{!$Label.PopulateFromTemplateLabel}" />
							<apex:actionSupport event="onclick" action="{!ReinitialiseTemplateRiskPopup}" oncomplete="templatePopupLoadComplete();showModalBoxy();" />
		<!-- 					<apex:commandButton rendered="{!TheRiskTemplates.size > 0}" action="{!ReinitialiseTemplateRiskPopup}" value="{!$Label.New} {!$ObjectType.Risk__c.label} from Template" onclick="launchRiskTemplatePopup();" reRender="CreateRisksTemplates" oncomplete="templatePopupLoadComplete();showModalBoxy();"/> -->
						</apex:actionRegion>
					</apex:outputPanel>
           		</apex:pageBlockSectionItem>

             	<apex:pageBlockSectionItem dataStyle="width:20%" labelStyle="width:10%" >
					<apex:outputLabel value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__RiskSeverity__c.Label}" />
					<apex:outputPanel id="SeverityDetails">
						<apex:outputPanel layout="none" rendered="{!ISNULL(TheRisk.KimbleOne__RiskSeverity__c)}">
							<div class="risk-severity-class-0 risk-severity-value risk-attribute-cell">
								<apex:outputText value="-"/>
							</div>
						</apex:outputPanel>
						<apex:outputPanel layout="none" rendered="{!!ISNULL(TheRisk.KimbleOne__RiskSeverity__c)}">
							<div class="{!JSINHTMLENCODE(RiskSeverityMap[TheRisk.KimbleOne__RiskSeverity__c].StyleClass__c)} risk-severity-value risk-attribute-cell">
							    <apex:outputField value="{!RiskSeverityMap[TheRisk.KimbleOne__RiskSeverity__c].Name}"/>
							</div>
						</apex:outputPanel>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem dataStyle="width:30%" labelStyle="width:10%" >
					<apex:outputLabel value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__RaisedByContact__c.Label}" />
					<apex:inputfield value="{!TheRisk.KimbleOne__RaisedByContact__c}" id="raisedbycontactblock" styleclass="kimbleSearch" > 													
						<apex:outputLink value="#" styleClass="new-contact-link" onclick="initialiseModalBoxy('#NewContactPopup', '{!$Label.kimbleone__new} {!$ObjectType.Contact.label}');createNewContact()">{!$Label.kimbleone__new} {!$ObjectType.Contact.label}</apex:outputLink>
					</apex:inputfield>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem dataStyle="width:20%" labelStyle="width:10%" >
					<apex:outputLabel value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__RaisedDate__c.Label}" />
					<apex:inputfield value="{!TheRisk.KimbleOne__RaisedDate__c}" />
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem helpText="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__RiskImpact__c.inlineHelpText}" dataStyle="width:20%" labelStyle="width:10%" >
					<apex:outputText value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__RiskImpact__c.Label}" />
					<apex:actionRegion >
						<apex:selectList id="RiskImpactInput" value="{!TheRisk.KimbleOne__RiskImpact__c}" size="1" multiselect="false" required="false">
		           			<apex:selectOptions value="{!RiskImpacts}"/>
		           			<apex:actionSupport event="onchange" action="{!CalculateSeverity}" rerender="SeverityDetails"  />
		       			</apex:selectList>
					</apex:actionRegion>
				</apex:pageBlockSectionItem>
								          		
            	<apex:pageBlockSectionItem dataStyle="width:30%" labelStyle="width:10%" >
					<apex:outputLabel value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__RiskStatus__c.Label}" />
					<apex:outputPanel >
						<apex:selectList value="{!TheRisk.KimbleOne__RiskStatus__c}" size="1" multiselect="false" required="true">
		           			<apex:selectOptions value="{!RiskStatuses}"/>
						</apex:selectList>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem dataStyle="width:20%" labelStyle="width:10%" >
					<apex:outputLabel value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__ClosedDate__c.Label}" />
					<apex:inputfield value="{!TheRisk.KimbleOne__ClosedDate__c}" />
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem helpText="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__RiskProbability__c.inlineHelpText}" dataStyle="width:20%" labelStyle="width:10%" >
					<apex:outputText value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__RiskProbability__c.Label}" />
					<apex:actionRegion >
						<apex:selectList id="RiskProbabilityInput" value="{!TheRisk.KimbleOne__RiskProbability__c}" size="1" disabled="{!!AllowProbabilityEdit}" multiselect="false" required="false">
		           			<apex:selectOptions value="{!RiskProbabilities}"/>
							<apex:actionSupport event="onchange" action="{!CalculateSeverity}" rerender="SeverityDetails"  />
		       			</apex:selectList>
					</apex:actionRegion>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem dataStyle="width:30%" labelStyle="width:10%" >
					<apex:outputText value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__RiskCategory__c.Label}" />
					<apex:actionRegion >
						<apex:selectList id="RiskCategoryInput" value="{!TheRisk.KimbleOne__RiskCategory__c}" size="1" multiselect="false" required="true">
		           			<apex:selectOptions value="{!RiskCategories}"/>
		           			<apex:actionSupport event="onchange" action="{!CalculateSeverity}" rerender="RiskProbabilityInput,SeverityDetails"  />
		       			</apex:selectList>
	       			</apex:actionRegion>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem dataStyle="width:20%" labelStyle="width:10%" >
					<apex:outputText value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__IsInternal__c.Label}" />
					<apex:inputfield value="{!TheRisk.KimbleOne__IsInternal__c}" /> 					
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem dataStyle="width:20%" labelStyle="width:10%" >
					<apex:outputText value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__Issue__c.Label}" />
					<apex:outputfield value="{!KimbleOne__Risk__c.KimbleOne__Issue__c}" />
				</apex:pageBlockSectionItem>	

				<apex:pageBlockSectionItem dataStyle="width:20%" labelStyle="width:10%" rendered="{!DeliveryGroupSharedWithCustomer || KimbleOne__Risk__c.DeliveryGroup__r.KimbleOne__SharedWithCustomer__c}" >
					<apex:outputText value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__SharedWithCustomer__c.Label}" />
					<apex:inputfield value="{!TheRisk.KimbleOne__SharedWithCustomer__c}" /> 
				</apex:pageBlockSectionItem>

				<!-- Placeholder to preserve column layout -->
           		<apex:pageBlockSectionItem dataStyle="width:20%" labelStyle="width:10%" ></apex:pageBlockSectionItem>

           	</apex:pageblockSection>             		             

			<apex:pageblockSection collapsible="false" showheader="false"  columns="1">

				<apex:pageBlockSectionItem dataStyle="width:91%" labelStyle="width:9%" >
					<apex:outputText value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__Summary__c.Label}" />
					<apex:inputfield id="RiskSummaryInput" styleClass="full-width-field" value="{!TheRisk.KimbleOne__Summary__c}"/>
				</apex:pageBlockSectionItem>					

				<apex:pageBlockSectionItem dataStyle="width:91%" labelStyle="width:9%" >
					<apex:outputText value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__Description__c.Label}" />
					<apex:inputfield styleClass="full-width-field" value="{!TheRisk.KimbleOne__Description__c}"/>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>				

           	<apex:pageblockSection collapsible="false" showheader="false"  columns="3">
             	
				<apex:pageBlockSectionItem dataStyle="width:31%" labelStyle="width:9%" >
					<apex:outputText value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__OwnedByContact__c.Label}" />
					<apex:inputfield value="{!TheRisk.KimbleOne__OwnedByContact__c}" styleclass="kimbleSearch">
						<apex:outputLink value="#" styleClass="new-contact-link" onclick="initialiseModalBoxy('#NewContactPopup', '{!$Label.kimbleone__new} {!$ObjectType.Contact.label}');createNewContact()">{!$Label.kimbleone__new} {!$ObjectType.Contact.label}</apex:outputLink>
					</apex:inputfield>
           		</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem dataStyle="width:20%" labelStyle="width:13%" >
					<apex:outputPanel layout="none" rendered="{!RiskStrategies.size > 0}">
						<apex:outputText value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__RiskStrategy__c.Label}" />
						<apex:selectList value="{!TheRisk.KimbleOne__RiskStrategy__c}" size="1" multiselect="false" required="true">
		           			<apex:selectOptions value="{!RiskStrategies}"/>
		       			</apex:selectList>
	       			</apex:outputPanel>									
				</apex:pageBlockSectionItem>
           		
				<!-- Placeholder to preserve column layout -->
           		<apex:pageBlockSectionItem dataStyle="width:20%" labelStyle="width:10%" ></apex:pageBlockSectionItem>

			</apex:pageBlockSection>

			<apex:pageblockSection collapsible="false" showheader="false"  columns="1">	
				
				<apex:pageBlockSectionItem dataStyle="width:91%" labelStyle="width:9%" >
					<apex:outputText value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__Mitigation__c.Label}" />
					<apex:outputPanel id="RiskMitigationTemplatePanel" >
						<apex:inputfield styleClass="mitigation-text full-width-field" value="{!TheRisk.KimbleOne__Mitigation__c}" ></apex:inputfield>
						<apex:outputLink value="#" onclick="launchRiskMitigationTemplatePopup();" rendered="{!HasRiskMitigationTemplates}">
							<span title="Choose from template" class="fa fa-search add-mitigation-from-template-btn"></span>
						</apex:outputLink>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem dataStyle="width:30%" labelStyle="width:9%" >
					<apex:outputText value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__MitigationDueDate__c.Label}" />
					<apex:inputfield value="{!TheRisk.KimbleOne__MitigationDueDate__c}" />						
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem dataStyle="width:91%" labelStyle="width:9%" >
					<apex:outputText value="{!$ObjectType.KimbleOne__Risk__c.Fields.KimbleOne__Contingency__c.Label}" />
					<apex:outputPanel id="RiskContingencyTemplatePanel" >
						<apex:inputfield styleClass="contingency-text full-width-field" value="{!TheRisk.KimbleOne__Contingency__c}" ></apex:inputfield>
						<apex:outputLink value="#" onclick="launchRiskContingencyTemplatePopup();" rendered="{!HasRiskContingencyTemplates}">
							<span title="Choose from template" class="fa fa-search add-contingency-from-template-btn"></span>
						</apex:outputLink>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
								
			</apex:pageblockSection>
			
			<apex:pageblockSection collapsible="false" showheader="false"  columns="1">

				<apex:repeat value="{!$ObjectType.KimbleOne__Risk__c.FieldSets.KimbleOne__RiskFields}" var="r">
					<apex:pageBlockSectionItem dataStyle="width:91%" labelStyle="width:9%" >
						<apex:outputText value="{!r.Label}" />
    					<apex:inputField styleClass="{!CASE(r.Type, 'textarea', 'full-width-field', 'string', 'full-width-field','')}" required="{!r.Required}" value="{!TheRisk[r]}"/>
					</apex:pageBlockSectionItem>
 				</apex:repeat>
				
            </apex:pageBlockSection>						
								
    	</apex:pageBlock>			
			
	</apex:outputPanel>
	</apex:form>
	
	<apex:form id="RiskTemplateForm">
   <div id="RiskTemplatesPopup" style="display:none"> 
  
		<apex:outputPanel id="CreateRisksTemplates">
           		<apex:pageBlock >
           		 
           			<div id="CreateRisksTemplatesErrors">
           				<apex:pageMessages escape="false"/>
           			</div>
            		<apex:pageBlockButtons location="bottom">
						<input class="btn" type="button" onclick="hideModalBoxy();" value="{!$Label.kimbleone__cancel}"/>
					</apex:pageBlockButtons>

					<input type="text" id="search" class="filter-text"  placeholder="{!$Label.FilterInstructions}"/>
					
					<div class="table-wrapper">
             		<apex:pageBlockTable styleClass="risk-template-table" value="{!TheRiskTemplates}" var="TheRiskTemplate">
             			<apex:column width="5%">
		                	<input class="btn" type="button" onclick="useSelectedRiskTemplate('{!JSENCODE(TheRiskTemplate.TheTemplate.Id)}')" value="{!$Label.kimbleone__selectlabel}"/>
		                </apex:column>
			            <apex:column width="28%" value="{!TheRiskTemplate.TheTemplate.RiskCategory__r.Name}"/>
			            
               			<apex:column width="7%">
		                    <apex:facet name="header">
		                        <apex:outputText value="{!$Label.kimbleone__id}"/>
		                    </apex:facet>
		                    <apex:outputText value="{!TheRiskTemplate.TheTemplate.Name}"/>
		                </apex:column>
		                
			            <apex:column value="{!TheRiskTemplate.TheTemplate.KimbleOne__Summary__c}" width="58%"/>
						
						<!-- compensate for the scrollbar -->
			            <apex:column width="2%"/>
			        </apex:pageBlockTable>
			        </div>
            
        		</apex:pageBlock>
	

        </apex:outputPanel> 
  	</div>	

	<apex:actionFunction action="{!PopulateRiskFromTemplate}" name="useSelectedRiskTemplate" rerender="RiskNameInput,RiskCategoryInput,RiskSummaryInput,RiskImpactInput,RiskProbabilityInput,RiskContingencyTemplatePanel,CreateRiskContingency,RiskMitigationTemplatePanel,CreateRiskMitigation" oncomplete="hideModalBoxy()">
      	<apex:param name="riskTemplateId" value="" />
	</apex:actionFunction>
	</apex:form>

 
	<div id="NewContactPopup" style="display:none">
 
    <!-- Create a new contact -->
    <apex:form >

	<apex:outputPanel id="NewContactPanel" >
		
	      <div id="newContactErrors">
			<apex:pageMessages escape="false"/> 
		  </div>
  
			<apex:pageBlock >    
				<apex:pageBlockSection >         
					<apex:inputfield value="{!newContact.FirstName}" />
					<apex:inputfield value="{!newContact.LastName}" />	
					<apex:inputfield value="{!newContact.AccountId}" />
				</apex:pageBlockSection>
				
				<apex:pageBlockButtons location="bottom">
			  		<apex:commandButton action="{!insertContact}" value="{!$Label.kimbleone__save}" oncomplete="hideModalBoxyWithErrorCheck('#newContactErrors')" reRender="NewContactPanel , raisedbycontactblock"/>
					<apex:commandButton value="{!$Label.kimbleone__cancel}" oncomplete="hideModalBoxy();" />			
				</apex:pageBlockButtons>
       		</apex:pageBlock>
       		
	</apex:outputpanel>

    </apex:form>

    </div>
    
    <div id="RiskContingencyTemplatePopup" style="display:none"> 
  
		<apex:outputPanel id="CreateRiskContingency">
     	  <apex:form >
           		<apex:pageBlock >
           		 
           			<div id="CreateRiskContingencyErrors">
           				<apex:pageMessages escape="false"/>
           			</div>
            		<apex:pageBlockButtons location="bottom">
						<input class="btn" type="button" onclick="populateContingency();hideModalBoxy();" value="{!$Label.AddSelected}"/>
						<input class="btn" type="button" onclick="hideModalBoxy();" value="{!$Label.kimbleone__cancel}"/>
					</apex:pageBlockButtons>

					<input type="text" class="filter-text search-box contingency-search"  placeholder="{!$Label.FilterInstructions}"/>
					
					<div class="table-wrapper">
             		<apex:pageBlockTable styleClass="template-table" value="{!TheRiskContingencyTemplates}" var="TheRiskContingencyTemplate">
             			<apex:column width="5%">
		                    <apex:facet name="header">
								<apex:outputLabel value="{!$Label.kimbleone__selectlabel}"/>
							</apex:facet>
		                    <apex:inputCheckbox styleClass="row-selector" value="{!TheRiskContingencyTemplate.IsSelected}"/>
		                </apex:column>
			            <apex:column width="93%" styleClass="template-text-column" >
			            	<apex:facet name="header">
								<apex:outputLabel value="{!$ObjectType.KimbleOne__RiskContingencyTemplate__c.Fields.KimbleOne__Contingency__c.Label}"/>
							</apex:facet>
							<apex:outputText value="{!TheRiskContingencyTemplate.Text}"/>
			            </apex:column>
						<!-- compensate for the scrollbar -->
			            <apex:column width="2%"/>
			        </apex:pageBlockTable>
			        </div>
            
        		</apex:pageBlock>
	
         	</apex:form>

        </apex:outputPanel> 
  		
	</div>	
	    
     <div id="RiskMitigationTemplatePopup" style="display:none"> 
  
		<apex:outputPanel id="CreateRiskMitigation">
     	  <apex:form >
           		<apex:pageBlock >
           		 
           			<div id="CreateRiskMitigationErrors">
           				<apex:pageMessages escape="false"/>
           			</div>
            		<apex:pageBlockButtons location="bottom">
						<input class="btn" type="button" onclick="populateMitigation();hideModalBoxy();" value="{!$Label.AddSelected}"/>
						<input class="btn" type="button" onclick="hideModalBoxy();" value="{!$Label.kimbleone__cancel}"/>
					</apex:pageBlockButtons>

					<input type="text" class="filter-text search-box mitigation-search"  placeholder="{!$Label.FilterInstructions}"/>
					
					<div class="table-wrapper">
             		<apex:pageBlockTable styleClass="template-table" value="{!TheRiskMitigationTemplates}" var="TheRiskMitigationTemplate">
             			<apex:column width="5%">
		                    <apex:facet name="header">
								<apex:outputLabel value="{!$Label.kimbleone__selectlabel}"/>
							</apex:facet>
		                    <apex:inputCheckbox styleClass="row-selector" value="{!TheRiskMitigationTemplate.IsSelected}"/>
		                </apex:column>
			            <apex:column width="93%" styleClass="template-text-column" >
			            	<apex:facet name="header">
								<apex:outputLabel value="{!$ObjectType.KimbleOne__RiskMitigationTemplate__c.Fields.KimbleOne__Mitigation__c.Label}"/>
							</apex:facet>
							<apex:outputText value="{!TheRiskMitigationTemplate.Text}"/>
			            </apex:column>
						<!-- compensate for the scrollbar -->
			            <apex:column width="2%"/>
			        </apex:pageBlockTable>
			        </div>
            
        		</apex:pageBlock>
	
         	</apex:form>

        </apex:outputPanel> 
        </div>
 
 	<script>
		function launchRiskTemplatePopup()
		{
			initialiseModalBoxy('#RiskTemplatesPopup', '{!$Label.New} {!$ObjectType.Risk__c.label}');
  			jQuery('#RiskTemplatesPopup')[0].style.visibility='visible';
			jQuery("#search").on("keyup", filterTemplateTable);
		}
		
		function filterTemplateTable()
		{
			var theTableRows = jQuery('.risk-template-table .dataRow');
		    
		    var val = jQuery.trim(jQuery("#search").val()).replace(/ +/g, ' ').toLowerCase();
		    
		    theTableRows.show().filter(function() {
	        	var text = jQuery(this).text().replace(/\s+/g, ' ').toLowerCase();
	        	return !~text.indexOf(val);
		    }).hide();
		}

		function launchRiskMitigationTemplatePopup()
  		{
  			resetMitigationTemplates();
  			initialiseModalBoxy('#RiskMitigationTemplatePopup', '{!$Label.PopulateFromTemplateLabel}')
  			jQuery('#RiskMitigationTemplatePopup')[0].style.visibility='visible';
  			jQuery(".search-box.mitigation-search").on("keyup", filterTable);
  		}
  		
		function launchRiskContingencyTemplatePopup()
  		{
  			resetContingencyTemplates();
  			initialiseModalBoxy('#RiskContingencyTemplatePopup', '{!$Label.PopulateFromTemplateLabel}')
  			jQuery('#RiskContingencyTemplatePopup')[0].style.visibility='visible';
  			jQuery(".search-box.contingency-search").on("keyup", filterTable);
  		}
		
  		function populateContingency() {
			if(!jQuery('.contingency-text').val() == '')
				jQuery('.contingency-text').val(jQuery('.contingency-text').val() + '\n');
			
			var theTableRows = jQuery('.template-table .dataRow').find('.row-selector:checked').closest("td").siblings("td.template-text-column");
		    			    
		    theTableRows.each(function() {
		    	jQuery('.contingency-text').val(jQuery('.contingency-text').val() + jQuery(this).text() + '\n');
		    });
  		}
  		
  		function resetContingencyTemplates() {
		    jQuery(".search-box.contingency-search").val('');
		    jQuery('.template-table .dataRow').find('.row-selector:checked').prop('checked', false)
		    jQuery('.template-table .dataRow').show();  		
  		}
  		
  		function resetMitigationTemplates() {
		    jQuery(".search-box.mitigation-search").val('');
		    jQuery('.template-table .dataRow').find('.row-selector:checked').prop('checked', false)
		    jQuery('.template-table .dataRow').show();  		
  		}
  		
  		function populateMitigation() {
			if(!jQuery('.mitigation-text').val() == '')
				jQuery('.mitigation-text').val(jQuery('.mitigation-text').val() + '\n');
			
			var theTableRows = jQuery('.template-table .dataRow').find('.row-selector:checked').closest("td").siblings("td.template-text-column");
		    			    
		    theTableRows.each(function() {
		    	jQuery('.mitigation-text').val(jQuery('.mitigation-text').val() + jQuery(this).text() + '\n');
		    });
		    
		    jQuery(".search-box.mitigation-search").val('');
		    jQuery('.template-table .dataRow').show();
  		}
		
		function filterTable() {
			var theTableRows = jQuery('.template-table .dataRow');
		    
		    var val = jQuery.trim(jQuery(".search-box:visible").val()).replace(/ +/g, ' ').toLowerCase();
		    
		    theTableRows.show().filter(function() {
		    	// show any row that contains the text plus anything that's already checked
		    	if(jQuery(this).find('.row-selector')[0].checked)
		    	{
		    		return false;
	    		}
		    	else
		    	{
		        	var text = jQuery(this).text().replace(/\s+/g, ' ').toLowerCase();
		        	return !~text.indexOf(val);
		        }
		    }).hide();
		}

 	</script>
 	
	<apex:form >
		<apex:actionFunction action="{!newContact}" name="createNewContact" rerender="NewContactPanel" oncomplete="showModalBoxy()"/>
	</apex:form> 

 </apex:define>
 
 </apex:composition>

</apex:page>