<apex:page standardcontroller="KimbleOne__SalesOpportunity__c" sidebar="false" >
 
<script>
	window.setTimeout(redirect, 500);
	
	function redirect()
	{
		safeRedirectToSForceURL('{!$Page.SalesOppDeliveryGrpsAndElems}?id={!$CurrentPage.parameters.id}&menuContext={!JSENCODE($CurrentPage.parameters.menuContext)}&showDetail=1');
	}

	function isSFClassic()
	{
		return ( (typeof sforce == 'undefined' || typeof sforce.one == 'undefined') );
	}
	
	function safeRedirectToSForceURL(theURL)
	{
		if(isSFClassic())
		{
			// SF Classic
			window.location = theURL;
		}
		else
		{
			// SF Lightning
			sforce.one.navigateToURL(theURL, true);
		}
	}
</script>

</apex:page>