<apex:page Controller="KimbleOne.StatusSummariesController" sidebar="false">

<apex:composition template="KimbleOne__SiteMaster">

<apex:define name="Menu">

	<c:Menu DefaultHelpPage="StatusReporting.html" MenuContextType="{!MenuContextType}" MenuContextId="{!MenuContextId}" MenuContextName="{!MenuContextName}" />

</apex:define>
     
<apex:define name="Content">
 
	<apex:outputPanel id="Statuses"> 
     	  
		<apex:form id="theForm">
           	
			<apex:pageMessages escape="False" />
 			
           	<apex:pageBlock id="StatusSummaryTemplates" title="{!$ObjectType.KimbleOne__StatusSummaryTemplate__c.LabelPlural}" >
           		 
           		<apex:pageBlockButtons location="top" rendered="{!$ObjectType.KimbleOne__StatusSummaryTemplate__c.updateable}">
					<apex:commandButton id="save" action="{!Save}" value="{!$Label.kimbleone__save}"/>
				</apex:pageBlockButtons>

 	 			<apex:pageBlockSection >
					<apex:inputField label="{!$ObjectType.KimbleOne__DeliveryPortfolio__c.Label} {!$ObjectType.KimbleOne__DeliveryPortfolio__c.Fields.KimbleOne__StatusSummaryTemplateInternal__c.Label}" rendered="{!theDeliveryPortfolio!=null}" value="{!theDeliveryPortfolio.KimbleOne__StatusSummaryTemplateInternal__c}" />					
					<apex:inputField label="{!$ObjectType.KimbleOne__DeliveryProgram__c.Label} {!$ObjectType.KimbleOne__DeliveryProgram__c.Fields.KimbleOne__StatusSummaryTemplateInternal__c.Label}" rendered="{!theDeliveryProgram!=null}" value="{!theDeliveryProgram.KimbleOne__StatusSummaryTemplateInternal__c}" />	
				</apex:pageBlockSection>
				
        	</apex:pageBlock>

           	<apex:pageBlock id="Statuses" title="{!$ObjectType.KimbleOne__StatusSummary__c.Label}" >
           		 
           		<apex:pageBlockButtons location="top" rendered="{!$ObjectType.KimbleOne__StatusSummary__c.createable}">
<apex:commandButton rendered="{!theDeliveryPortfolio!=null}" value="{!$Label.kimbleone__new} {!$ObjectType.KimbleOne__StatusSummary__c.Fields.KimbleOne__Narrative__c.Label}" 
onclick="
safeNavigateToSForceURL('{!$Page.KimbleOne__StatusSummaryEdit}?deliveryPortfolioId={!theDeliveryPortfolio.Id}&menuContext={!JSENCODE($CurrentPage.parameters.menuContext)}');
" reRender="theForm"/>

<apex:commandButton rendered="{!theDeliveryProgram!=null}" value="{!$Label.kimbleone__new} {!$ObjectType.KimbleOne__StatusSummary__c.Fields.KimbleOne__Narrative__c.Label}" 
onclick="
safeNavigateToSForceURL('{!$Page.KimbleOne__StatusSummaryEdit}?deliveryProgramId={!theDeliveryProgram.Id}&menuContext={!JSENCODE($CurrentPage.parameters.menuContext)}');
" rerender="theForm" />
</apex:pageBlockButtons>

				<apex:pageBlockTable value="{!NarrativeList}" var="ss" >		          			
					<apex:column headerValue="{!$Label.kimbleone__actionlinksheader}">
<apex:outputLink value="#" 
rendered="{!theDeliveryProgram!=null && $ObjectType.KimbleOne__StatusSummary__c.updateable}" 
onclick="
safeNavigateToSForceURL('{!$Page.KimbleOne__StatusSummaryEdit}?id={!ss.Id}&deliveryProgramId={!theDeliveryProgram.Id}&menuContext={!JSENCODE($CurrentPage.parameters.menuContext)}');"
>{!$Label.kimbleone__edit}</apex:outputLink>

<apex:outputLink value="#" 
rendered="{!theDeliveryPortfolio!=null && $ObjectType.KimbleOne__StatusSummary__c.updateable}" 
onclick="
safeNavigateToSForceURL('{!$Page.KimbleOne__StatusSummaryEdit}?id={!ss.Id}&deliveryPortfolioId={!theDeliveryPortfolio.Id}&menuContext={!JSENCODE($CurrentPage.parameters.menuContext)}');"
>{!$Label.kimbleone__edit}</apex:outputLink>
		        		&nbsp; | &nbsp;
						<apex:outputLink rendered="{!$ObjectType.KimbleOne__StatusSummary__c.deletable}" value="#" onclick="var d = confirmDelete();if(!d) return; deleteNarrative('{!JSINHTMLENCODE(ss.Id)}');">{!$Label.kimbleone__delete}</apex:outputLink>							
					</apex:column>
					<apex:column value="{!ss.TimePeriod__r.Name}"  headerValue="{!$ObjectType.KimbleOne__TimePeriod__c.Fields.Name.Label}"/>
					<apex:column value="{!ss.DeliveryStatus__r.Name}"  headerValue="{!$ObjectType.KimbleOne__StatusSummary__c.Fields.KimbleOne__DeliveryStatus__c.Label}"/>
				</apex:pageBlockTable>
					
        	</apex:pageBlock>

			<apex:actionFunction action="{!deleteNarrative}" name="deleteNarrative" rerender="Statuses" oncomplete="" >
				<apex:param name="ssId" value="" />
			</apex:actionFunction>					

       	</apex:form>

	</apex:outputPanel> 

	<style>
		.currencyCode { margin-right: 3px; }
		.deliveryStatus>tbody>tr>td{border:0px !important;}
   		.deliveryStatus>tbody>tr>td.label{font-weight: bold;color: #4A4A56;font-size: 91%;text-align: right;}
   		.deliveryStatus>tbody>tr>td>input{vertical-align:baseline !important;}
   		.deliveryStatus>tbody>tr>td{padding:2px !important; margin:0px !important;}
   		.deliveryStatus>tbody>tr>td>select{margin-left:0px !important;}
	</style>

</apex:define>

</apex:composition>

</apex:page>