.THIS {
  opacity: 0;
  transition: opacity .1s ease-in-out;
}

.THIS.visible {
  opacity: 1;
  display: block;
}

.THIS.LightningWarningMessage, .THIS .LightningWarningMessage {
  display: none;
  opacity: 1;
  color: white;
  border-radius: 2px;
  background-color: #ECAD00;
  padding: 15px 10px 15px 10px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.THIS.visibleWarning {
  display: block;
  opacity: 1;
}

.THIS.LightningWarningMessage a, .THIS .LightningWarningMessage a{
  color: white;
  text-decoration: underline;
}

.THIS.CoveoPageCreator, .THIS .CoveoPageCreator {
  padding: 32px 0;
}

.THIS.hidden, .THIS .hidden {
  display: none;
}

.THIS .coveo-iframe-page-creator {
  display: none;
}

.THIS .CoveoSearchInterface {
  font-family: inherit;
  color: inherit;
}

.THIS.errorMessageDisplay {
  text-align: center;
  margin: 30px;
}

.THIS .logo-in-error-title {
  margin: 30px;
}

.THIS#CoveoInterfaceEditorToolbox, .THIS #CoveoInterfaceEditorToolbox {
  opacity: 1;
  position: relative;
  padding-bottom: 15px;
}

.THIS .coveo-interfaceEditor-bar {
  position: absolute;
}