.THIS h2 {    
    font-size: 20px;
    padding: 10px 0;
}
.THIS .commentFeed {
    background: token(TenableLightBkgd);
    padding: 15px 20px;
}
/* COMMENT POSTING */
.THIS button {
    float: right;
}
.THIS .saving {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}
.THIS .nonVisible {
    display: none;
}
.THIS .notSaving {
    visibility: visible;
}
/* COMMENT FEED */
.THIS .slds-size_1-of-2 {
    margin-bottom: 15px;
}
.THIS .slds-size_1-of-2 p {
    font-weight: 700;
    font-size: 16px;
}
.THIS p.createdDate {
    text-align: right;
}
.THIS .slds-size_1-of-1 p {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: token(TenableWarmGray);
}
.THIS .user, .THIS .admin {
    border-radius: token(TenableBorderRadius);
    width: 90%;
    margin-bottom: 15px;
    padding: 15px 20px;
}
/* User comment */
.THIS .user {
    background: white;
    box-shadow: 0px 0px 3px token(TenableAccentLightCoolGray);
}
/* Admin comment */
.THIS .admin {
    margin-left: 10%;
    background: token(TenableAccentLightTeal);
    box-shadow: 0px 0px 3px token(TenableAccentTeal);
}
/* ALERT MESSAGE */
.THIS .alertMsg {
    text-align: center;
    background: token(TenableAccentLightOrange);
    padding: 10px 0;
    color: token(TenableGray);
    margin-bottom: 20px;
}
@media only screen and (max-width : 768px) {
    .THIS .user, .THIS .admin { width: 100%; }
	.THIS .admin { margin-left: 0; }
}
.THIS .uiOutputRichText {white-space:pre-wrap; word-wrap:break-word; -webkit-user-select:text; -moz-user-select:text; -ms-user-select:text; user-select:text}
.THIS .uiOutputRichText.ql-blank:before {color:#54698d; content:attr(data-placeholder); pointer-events:none; position:absolute}
.THIS .uiOutputRichText a {text-decoration:underline}
.THIS .uiOutputRichText p, .THIS .uiOutputRichText ol, .THIS .uiOutputRichText ul, .THIS .uiOutputRichText pre, .THIS .uiOutputRichText blockquote, .THIS .uiOutputRichText h1, .THIS .uiOutputRichText h2, .THIS .uiOutputRichText h3, .THIS .uiOutputRichText h4, .THIS .uiOutputRichText h5, .THIS .uiOutputRichText h6 {counter-reset:list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9}
.THIS .uiOutputRichText ol, .THIS .uiOutputRichText ul {margin:0; padding:0; padding-left:1.5em}
.THIS .uiOutputRichText ol>li, .THIS .uiOutputRichText ul>li {list-style-type:none}
.THIS .uiOutputRichText ul>li:before {content:'\2022'; font-size:1.4em; vertical-align:middle; display:inline-block; line-height:normal}
.THIS .uiOutputRichText ul[data-checked=true], .THIS .uiOutputRichText ul[data-checked=false] {pointer-events:none}
.THIS .uiOutputRichText ul[data-checked=true]>li:before, .THIS .uiOutputRichText ul[data-checked=false]>li:before {color:#777; cursor:pointer; pointer-events:all}
.THIS .uiOutputRichText ul[data-checked=true]>li:before {content:'\2611'}
.THIS .uiOutputRichText ul[data-checked=false]>li:before {content:'\2610'}
.THIS .uiOutputRichText li:before {display:inline-block; margin-right:.3em; text-align:right; white-space:nowrap; width:1.2em}
.THIS .uiOutputRichText li:not(.ql-direction-rtl):before {margin-left:-1.5em}
.THIS .uiOutputRichText ol li, .THIS .uiOutputRichText ul li {padding-left:1.5em}
.THIS .uiOutputRichText ol li {counter-reset:list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9; counter-increment:list-num}
.THIS .uiOutputRichText ol li:before {content:counter(list-num, decimal) '. '}
.THIS .uiOutputRichText ol li.ql-indent-1 {counter-increment:list-1}
.THIS .uiOutputRichText ol li.ql-indent-1:before {content:counter(list-1, lower-alpha) '. '}
.THIS .uiOutputRichText ol li.ql-indent-1 {counter-reset:list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9}
.THIS .uiOutputRichText ol li.ql-indent-2 {counter-increment:list-2}
.THIS .uiOutputRichText ol li.ql-indent-2:before {content:counter(list-2, lower-roman) '. '}
.THIS .uiOutputRichText ol li.ql-indent-2 {counter-reset:list-3 list-4 list-5 list-6 list-7 list-8 list-9}
.THIS .uiOutputRichText ol li.ql-indent-3 {counter-increment:list-3}
.THIS .uiOutputRichText ol li.ql-indent-3:before {content:counter(list-3, decimal) '. '}
.THIS .uiOutputRichText ol li.ql-indent-3 {counter-reset:list-4 list-5 list-6 list-7 list-8 list-9}
.THIS .uiOutputRichText ol li.ql-indent-4 {counter-increment:list-4}
.THIS .uiOutputRichText ol li.ql-indent-4:before {content:counter(list-4, lower-alpha) '. '}
.THIS .uiOutputRichText ol li.ql-indent-4 {counter-reset:list-5 list-6 list-7 list-8 list-9}
.THIS .uiOutputRichText ol li.ql-indent-5 {counter-increment:list-5}
.THIS .uiOutputRichText ol li.ql-indent-5:before {content:counter(list-5, lower-roman) '. '}
.THIS .uiOutputRichText ol li.ql-indent-5 {counter-reset:list-6 list-7 list-8 list-9}
.THIS .uiOutputRichText ol li.ql-indent-6 {counter-increment:list-6}
.THIS .uiOutputRichText ol li.ql-indent-6:before {content:counter(list-6, decimal) '. '}
.THIS .uiOutputRichText ol li.ql-indent-6 {counter-reset:list-7 list-8 list-9}
.THIS .uiOutputRichText ol li.ql-indent-7 {counter-increment:list-7}
.THIS .uiOutputRichText ol li.ql-indent-7:before {content:counter(list-7, lower-alpha) '. '}
.THIS .uiOutputRichText ol li.ql-indent-7 {counter-reset:list-8 list-9}
.THIS .uiOutputRichText ol li.ql-indent-8 {counter-increment:list-8}
.THIS .uiOutputRichText ol li.ql-indent-8:before {content:counter(list-8, lower-roman) '. '}
.THIS .uiOutputRichText ol li.ql-indent-8 {counter-reset:list-9}
.THIS .uiOutputRichText ol li.ql-indent-9 {counter-increment:list-9}
.THIS .uiOutputRichText ol li.ql-indent-9:before {content:counter(list-9, decimal) '. '}
.THIS .uiOutputRichText ul li.ql-indent-1:before {content:'\25e6'}
.THIS .uiOutputRichText ul li.ql-indent-2:before, .THIS .uiOutputRichText ul li.ql-indent-3:before, .THIS .uiOutputRichText ul li.ql-indent-4:before, .THIS .uiOutputRichText ul li.ql-indent-5:before, .THIS .uiOutputRichText ul li.ql-indent-6:before, .THIS .uiOutputRichText ul li.ql-indent-7:before, .THIS .uiOutputRichText ul li.ql-indent-8:before {content:'\25aa'}
.THIS .uiOutputRichText .ql-indent-1:not(.ql-direction-rtl) {padding-left:3em}
.THIS .uiOutputRichText li.ql-indent-1:not(.ql-direction-rtl) {padding-left:4.5em}
.THIS .uiOutputRichText .ql-indent-1.ql-direction-rtl.ql-align-right {padding-right:3em}
.THIS .uiOutputRichText li.ql-indent-1.ql-direction-rtl.ql-align-right {padding-right:4.5em}
.THIS .uiOutputRichText .ql-indent-2:not(.ql-direction-rtl) {padding-left:6em}
.THIS .uiOutputRichText li.ql-indent-2:not(.ql-direction-rtl) {padding-left:7.5em}
.THIS .uiOutputRichText .ql-indent-2.ql-direction-rtl.ql-align-right {padding-right:6em}
.THIS .uiOutputRichText li.ql-indent-2.ql-direction-rtl.ql-align-right {padding-right:7.5em}
.THIS .uiOutputRichText .ql-indent-3:not(.ql-direction-rtl) {padding-left:9em}
.THIS .uiOutputRichText li.ql-indent-3:not(.ql-direction-rtl) {padding-left:10.5em}
.THIS .uiOutputRichText .ql-indent-3.ql-direction-rtl.ql-align-right {padding-right:9em}
.THIS .uiOutputRichText li.ql-indent-3.ql-direction-rtl.ql-align-right {padding-right:10.5em}
.THIS .uiOutputRichText .ql-indent-4:not(.ql-direction-rtl) {padding-left:12em}
.THIS .uiOutputRichText li.ql-indent-4:not(.ql-direction-rtl) {padding-left:13.5em}
.THIS .uiOutputRichText .ql-indent-4.ql-direction-rtl.ql-align-right {padding-right:12em}
.THIS .uiOutputRichText li.ql-indent-4.ql-direction-rtl.ql-align-right {padding-right:13.5em}
.THIS .uiOutputRichText .ql-indent-5:not(.ql-direction-rtl) {padding-left:15em}
.THIS .uiOutputRichText li.ql-indent-5:not(.ql-direction-rtl) {padding-left:16.5em}
.THIS .uiOutputRichText .ql-indent-5.ql-direction-rtl.ql-align-right {padding-right:15em}
.THIS .uiOutputRichText li.ql-indent-5.ql-direction-rtl.ql-align-right {padding-right:16.5em}
.THIS .uiOutputRichText .ql-indent-6:not(.ql-direction-rtl) {padding-left:18em}
.THIS .uiOutputRichText li.ql-indent-6:not(.ql-direction-rtl) {padding-left:19.5em}
.THIS .uiOutputRichText .ql-indent-6.ql-direction-rtl.ql-align-right {padding-right:18em}
.THIS .uiOutputRichText li.ql-indent-6.ql-direction-rtl.ql-align-right {padding-right:19.5em}
.THIS .uiOutputRichText .ql-indent-7:not(.ql-direction-rtl) {padding-left:21em}
.THIS .uiOutputRichText li.ql-indent-7:not(.ql-direction-rtl) {padding-left:22.5em}
.THIS .uiOutputRichText .ql-indent-7.ql-direction-rtl.ql-align-right {padding-right:21em}
.THIS .uiOutputRichText li.ql-indent-7.ql-direction-rtl.ql-align-right {padding-right:22.5em}
.THIS .uiOutputRichText .ql-indent-8:not(.ql-direction-rtl) {padding-left:24em}
.THIS .uiOutputRichText li.ql-indent-8:not(.ql-direction-rtl) {padding-left:25.5em}
.THIS .uiOutputRichText .ql-indent-8.ql-direction-rtl.ql-align-right {padding-right:24em}
.THIS .uiOutputRichText li.ql-indent-8.ql-direction-rtl.ql-align-right {padding-right:25.5em}
.THIS .uiOutputRichText .ql-indent-9:not(.ql-direction-rtl) {padding-left:27em}
.THIS .uiOutputRichText li.ql-indent-9:not(.ql-direction-rtl) {padding-left:28.5em}
.THIS .uiOutputRichText .ql-indent-9.ql-direction-rtl.ql-align-right {padding-right:27em}
.THIS .uiOutputRichText li.ql-indent-9.ql-direction-rtl.ql-align-right {padding-right:28.5em}