.THIS .linkBlock {
    width: 100%;
    display: inherit;
    margin: 15px 0;
}
.THIS h4 {
    font-size: 15px;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}
.THIS p {
    font-size: 14px;
    color: token(TenableWarmGray);
}
.THIS .textBlock.false {
    width: 100%;
}