.THIS {
    border: 1px solid rgb(218, 223, 225);
    border-radius: token(TenableBorderRadius);
    padding: 8px 15px 15px;
    border-top: 4px solid token(TenableTeal);
}
.THIS h3 {
    color: token(TenableAccentDarkTeal);
    font-size: 16px;
    font-weight: bold;
}
/* BUTTONS */
.THIS button {
    margin-bottom: 0 !important;
}

/* MODAL FORM */
.THIS .required {
    color:red;
}
.THIS .slds-button__icon svg {
    fill:#2574a9;
}
.THIS .slds-accordion__section {
    padding: 0;
}