.THIS .coveo-first-loading-animation {
    display: none;
}

.THIS.CoveoSearchInterface {
    display: block;
}

.THIS input[type=text]:disabled {
    background: whitesmoke;
}

.THIS .magic-box.magic-box-inline {
    overflow: visible;
}

.THIS .CoveoSearchButton {
    height: 48px;
    float:right;
    background-color: white;
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-left: 1px solid #9e9e9e;
}

.THIS .magic-box {
    position: relative;
    text-align: left;
    color: #212121;
    border: 1px solid #9e9e9e;
}

.THIS .magic-box-input {
    background: #fff;
    height: 48px;
    overflow: hidden;
    position: relative;
}
.THIS .magic-box-input > input {
    color: #212121;
    text-align: left;
    padding: 12px 0;
    text-indent: 12px;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    white-space: pre;
    overflow: auto;
    box-sizing: border-box;
    display: block;
    border: none;
}

.THIS#error {
    color: red;
    background: yellow;
    padding: 2px;
    text-align: center;
    margin-top: 5px;

    display: none;
}

.THIS #errorTitle {
    font-weight: bold;
}