.THIS {
	position: relative;
	min-height: 100px;
}
.THIS .presContainer {
	text-align: center;
	position: relative;
}
.THIS .presContainer > img {
	height:300px;
	width:auto;
	border: 0;
	cursor: pointer;

}
.THIS .slds-spinner__container {
	min-height: 65px;
}