.THIS {
}
.THIS .hidden {
	display:none;
}
.THIS .uiButton--default {

	font-weight: inherit;
	box-shadow: inherit;
	text-shadow: inherit;
	margin-top: 1px;
	margin-left: 1px;
}
.THIS .uiButton--default:hover {
	font-weight: inherit;
	box-shadow: inherit;
	text-shadow: inherit;
	background: #005fb2;
}
.THIS .uiButton--default .label {
	color: inherit;
	margin: inherit;

}