<apex:page title="Associate RFPIO Document" showHeader="true" controller="rfpio.RfpioController" action="{!assoicateOnLoad}" docType="html-5.0">
    <apex:stylesheet value="{!$Resource.rfpio__rfpio_css}" />
    <apex:includeScript value="/soap/ajax/41.0/connection.js"/>
    <apex:includeScript value="/soap/ajax/41.0/apex.js"/>
    <apex:includeScript value="{!$Resource.rfpio__rfpio_js}"/>
    <style type="text/css">
        .rfpio-doc-assoicate {
            width:100%;
            min-height:550px;
            height:650px;
            border:1px solid {!bgColor};
        }
    </style>
    <apex:pageMessages />
    <div class="bPageTitle">
        <div class="ptBody">
            <div class="content">
				<img src="{!$Resource.rfpio_logo}" alt="RFPIO Document" class="pageTitleIcon" title="RFPIO Document"/>
                <h1 class="pageType">Associate RFPIO Document - {!recordType}<span class="titleSeparatingColon">:</span></h1>
                <h2 class="pageDescription">{!recordName}</h2>
            </div>
        </div>
        
        <div class="ptBreadcrumb">
            &nbsp;«&nbsp;
            <a href="/{!$CurrentPage.parameters.ObjectId}">Back</a>
        </div>
    </div>

    <div id="rfpio_associate" class="rfpio-doc-assoicate"></div>
    
    <script type="text/javascript">
        sforce.connection.sessionId = "{!$Api.Session_ID}";
        
        var getPostMessage = function() {
            var jsonString = JSON.parse("{!JSENCODE(JSONString)}");
            return jsonString;
        }
        
        var boolErrorFlag = {!IF(errorFlag, "true", "false")};
        if(!boolErrorFlag) {
            __setup('rfpio_associate','{!JSENCODE(RFPIO_BASE_URL)}');
        }
    </script>
</apex:page>