<apex:page StandardController="Account" extensions="accountFindLMSController" sidebar="true" standardStylesheets="true" showHeader="true" id="lmspage">
    <apex:sectionHeader title="Create New Tenable Customer ID"/>
    <apex:form >
        <apex:pageBlock id="mainPanel">
            <apex:pageMessages id="msg" />
            <apex:pageBlockSection title="Search Criteria" columns="1" rendered="{!AND(NOT(pageError),OR(NOT(searched),NOT(resultsFound)))}">
                <apex:outputText style="font-weight:bold;" label="Customer Name: " value="{!Account.Name}"/>
                <apex:outputText style="font-weight:bold;" label="Email Domains: " value="{!emailDomains}"/>
                <!-- apex:outputText style="font-weight:bold;" label="Email Addresses: " value="{!emailAddrList}"/-->
            </apex:pageBlockSection>
            <apex:commandButton value="Search" rendered="{!AND(NOT(pageError),NOT(searched))}" action="{!searchSFDC}"/>
            <apex:pageBlockSection title="Search Results" rendered="{!AND(searched,resultsFound,NOT(pageError))}" columns="1" >
            
                <!-- apex:outputPanel rendered="{!AND(IF(paginater.isAll, false, true), IF(paginater.totalPage == 1, false, true))}">
                    <apex:outputText rendered="{!paginater.showPrevious}">
                        <apex:commandLink action="{!previousPage}" value="Prev" rerender="mainPanel" />
                    </apex:outputText>
                    <apex:repeat value="{!paginater.pageList}" var="pl">
                        <apex:outputText rendered="{!!pl.isActive}">
                            <apex:commandLink action="{!updatePage}" rerender="mainPanel">
                                {!pl.pageNum}                               
                                <apex:param name="selectedPage" value="{!pl.pageNum}" assignTo="{!paginater.pageNum}" />
                            </apex:commandLink>
                        </apex:outputText>
                        <apex:outputText rendered="{!pl.isActive}" value="{!pl.pageNum}" />
                         
                    </apex:repeat>
                    <apex:outputText rendered="{!paginater.showNext}">
                        <apex:commandLink action="{!nextPage}" value="Next" rerender="mainPanel" />
                    </apex:outputText>
                </apex:outputPanel>
                <br/-->
                
                <apex:pageBlockTable value="{!csrList}" columns="10" var="sr">
                    <apex:column headerValue="Company Name">
                        <apex:outputLink value="/{!sr.acct.Id}" target="_parent">{!sr.acct.Name}</apex:outputLink>
                    </apex:column>  
                    <apex:column headerValue="Match Source" value="{!sr.matchSource}"/>
                    <apex:column headerValue="Customer Id" value="{!sr.acct.LMS_Customer_ID__c}"/>
                    <apex:column headerValue="Territory" value="{!sr.acct.Territory__c}"/>
                    <apex:column headerValue="Company Address" value="{!sr.acct.BillingStreet}"/>
                    <apex:column headerValue="Company City" value="{!sr.acct.BillingCity}"/>
                    <apex:column headerValue="Company State" value="{!sr.acct.BillingState}"/>
                    <apex:column headerValue="Company Country" value="{!sr.acct.BillingCountry}"/>
                    <apex:column headerValue="Company Zip" value="{!sr.acct.BillingPostalCode}"/>
                    <apex:column headerValue="D & B Company" value="{!sr.acct.DandBCompany.Name}"/>
                    <!-- apex:column headerValue="D & B Company">
                        <apex:outputLink value="/{!sr.acct.DandBCompanyId}" target="_parent">{!sr.acct.DandBCompany.Name}</apex:outputLink>
                    </apex:column-->  
                </apex:pageBlockTable>
            
                <!-- apex:pageBlockTable value="{!csrList}" columns="11" var="sr">
                    <apex:column >
                        <apex:inputCheckbox value="{!sr.selected}"/>
                    </apex:column>
                    <apex:column headerValue="Company Name" value="{!sr.company_name}"/>
                    <apex:column headerValue="Search Source" value="{!sr.searchSource}"/>
                    <apex:column headerValue="Customer Id" value="{!sr.customerID}"/>
                    <apex:column headerValue="Company Address" value="{!sr.company_mailing_address}"/>
                    <apex:column headerValue="Company City" value="{!sr.company_mailing_city}"/>
                    <apex:column headerValue="Company State" value="{!sr.company_mailing_state}"/>
                    <apex:column headerValue="Company Country" value="{!sr.company_mailing_country}"/>
                    <apex:column headerValue="Company Zip" value="{!sr.company_mailing_zip}"/>
                    <apex:column headerValue="Contact Name" value="{!sr.name}"/>
                    <apex:column headerValue="Contact Email" value="{!sr.email_address}"/>
                </apex:pageBlockTable>
                <apex:commandButton rendered="{!resultsFound}" value="Select" action="{!selectCustId}"/-->    
            </apex:pageBlockSection>
            <!-- apex:pageblockButtons rendered="{!AND(searched,resultsFound)}" -->
            <apex:pageblockButtons rendered="{!AND(searched, IF(paginater.totalPage <= 1, false, true))}" >
                <apex:outputPanel id="myButtons">
                    <apex:commandButton value="First Page" action="{!Beginning}" disabled="{!disabledPrevious}" reRender="mainPanel"/>
                    <apex:commandButton value="Previous" action="{!previousPage}" disabled="{!disabledPrevious}" reRender="mainPanel"/>
                    <apex:outputText style="font-weight:bold" value=" Page {!paginater.pageNum} of {!paginater.totalPage} "></apex:outputText>
                    <apex:commandButton value="Next" action="{!nextPage}" disabled="{!disabledNext}" reRender="mainPanel"/>
                    <apex:commandButton value="Last Page" action="{!End}" disabled="{!disabledNext}" reRender="mainPanel"/>
                </apex:outputPanel>
            </apex:pageblockButtons>
            <apex:pageBlockSection title="No matches found" rendered="{!AND(searched,NOT(resultsFound),NOT(pageError))}" collapsible="false">
                <apex:outputText style="font-weight:bold;" value="No matching accounts found in Salesforce.  To create Netsuite account, click Create:   " />
                <apex:commandButton value="Create" action="{!createCustId}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Matching accounts found in Salesforce" rendered="{!AND(searched,resultsFound,NOT(pageError))}" collapsible="false" >
                <apex:outputText style="font-weight:bold;" value="Please merge your account with the appropriate matching account above.  Or, to create a new Netsuite account, click Create:   " />
                <apex:commandButton value="Create" action="{!createCustId}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
        
    </apex:form>  
</apex:page>