<apex:page controller="auditLogController" action="{!saveAuditRecord}">
<!--
	<apex:outputText value="{!userAgentinfo}"/> <BR/>
	<apex:outputText value="{!ipAddress}"/> <BR/>
	<apex:outputText value="{!Referer}"/><BR/>
	<apex:outputText value="{!$User.Id}"/><BR/>
-->
</apex:page>