<!--
    /******************************************************************************
    *
    *   Custom VisualForce Page for Case Tab
    *   Copyright 2006-2014 (c) by CloudLogistix.com
    *   All Rights Reserved, Modifications can only be made for your direct use and 
    *   not for distribution without explicit permission from CloudLogistix.
    *
    ********************************************************************************/
-->
<apex:page tabstyle="Case" >

    <apex:enhancedList type="Case" 
        height="850" 
        rendered="{!IF(CONTAINS($Profile.Name,'Community'), FALSE, TRUE)}"
    />

    <apex:listViews type="Case" 
        rendered="{!IF(CONTAINS($Profile.Name, 'Community'), TRUE, FALSE)}">
        <apex:facet name="header">&nbsp;</apex:facet>
    </apex:listViews>

</apex:page>