<apex:page standardController="Account" extensions="CreateNetSuiteVendor" action="{!accountSyncLMSNetsuite}" sidebar="false" showHeader="false">
    <h1>
        Your Vendor is being processed now !!!
    </h1>
</apex:page>