<apex:page StandardController="MDF_Transaction__c" extensions="fundInstructionsController" >
    <apex:form >
    <apex:outputText style="font-weight:bold;" value="No Proof of Performance items are required." rendered="{!(POPEmpty)}" />
    <apex:pageBlock rendered="{!NOT(POPEmpty)}">
        <apex:outputText style="font-weight:bold;" value="The following Proof of Performance items are required before claims can be submitted:"/>
        <br/><br/>
        <apex:outputText style="font-weight:bold; font-size:125%;" value="{!proofOfPerformance}"/>
        <br/>
        <br/>
        These items need to be attached to each claim before submitting the claim.<br/>
        <br/>
        <apex:pageBlockSection columns="1" rendered="{!NOT(POPAcknowledged)}" >
            Your acknowledgement of these requirements is needed before submitting this Fund Request.<br/>
            Please click this button to acknowledge these requirements:<br/>
            <apex:commandButton value="Acknowledge" action="{!updatePOP}" styleClass="buttonStyle" style="background:red"/>
        </apex:pageBlockSection>
    </apex:pageBlock>
    </apex:form>
</apex:page>