<apex:page >
    <!--<apex:outputPanel rendered="{!TEXT($User.UserType)=='PowerPartner'}">-->
        <apex:outputPanel >
         <!--<apex:iframe src="https://vshow.on24.com/vshow/TenableNetworkSecur/registration/10818?rc=Partner&target=https://vshow.on24.com/vshow/TenableNetworkSecur/exhibits/PartnerPlaza&rc=Partner&updateIfExists=Y" width="1150" height="800"/>-->
         <apex:iframe src=" https://university.tenable.com/partners" height="800"/>
    </apex:outputPanel>
    
    <!--<apex:outputPanel rendered="{!TEXT($User.UserType)=='Standard'}">
         <apex:iframe src="https://vshow.on24.com/vshow/TenableNetworkSecur/register?apiKey=tenable&email={!$User.Email}&firstName={!$User.FirstName}&lastName={!$User.LastName}&target=https://vshow.on24.com/vshow/TenableNetworkSecur/exhibits/Sales_Plaza&rc=000002&updateIfExists=Y" width="1150" height="800"/>
    </apex:outputPanel>-->
</apex:page>