<apex:page standardController="account2installbases__x" extensions="resetHostnameChangeTimer" sidebar="false" showHeader="false">
    <apex:form >
        <!--  apex:actionFunction name="callResetHostname" action="{!resetHostnameChangeTimer}"  />
        <apex:actionFunction name="callCancel" action="{!cancel}"  /-->
        
		<apex:pageBlock title="Are you sure you want to Reset Hostname Change Timer?" rendered="{!hasCustomPermission}" >	
			<apex:pageBlockButtons location="bottom">
	        	<apex:commandbutton value="Confirm" action="{!resetHostnameChangeTimer}"/>
	        	<apex:commandbutton value="Cancel" action="{!cancel}"/>
	        	<!-- apex:commandbutton value="Confirm" onclick="callResetHostname(); return false;"/>
	        	<apex:commandbutton value="Cancel" onclick="callCancel(); return false;"/-->
        	</apex:pageBlockButtons>
        </apex:pageBlock>	
        <apex:pageMessages id="msg" />
        <apex:commandbutton value="Back" action="{!cancel}" rendered="{! !hasCustomPermission}"/>       
    </apex:form>
    
    
</apex:page>