<apex:page standardController="contact2installbases__x" extensions="resetLicenseFeedContact" sidebar="false" showHeader="false">
    <apex:form >
        <!--  apex:actionFunction name="callResetHostname" action="{!resetHostnameChangeTimerContact}"  />
        <apex:actionFunction name="callCancel" action="{!cancel}"  /-->
        
		<apex:pageBlock title="Are you sure you want to Reset Hostname Change Timer?" rendered="{!hasCustomPermission}" >	
			<apex:pageBlockButtons location="bottom">
	        	<apex:commandbutton value="Confirm" action="{!resetHostnameChangeTimerContact}"/>
	        	<apex:commandbutton value="Cancel" action="{!cancel}" />
        	</apex:pageBlockButtons>
        </apex:pageBlock>	
        <apex:pageMessages id="msg" />
        <apex:commandbutton value="Back" action="{!cancel}" rendered="{! !hasCustomPermission}"/>    
    </apex:form>
</apex:page>