<apex:page controller="mkto_si.AddToMarketoCampaignController" tabstyle="Marketo_Sales_Insight__tab">
	<c:CssAndJavascript2 />
  
  <div class="mkto">
  	<apex:sectionHeader title="Add to Marketo Campaign" help="{!helpLink}"/>
  </div>
   
    <apex:pageMessage severity="error" strength="1" rendered="{!errorMessage != null}" summary="{!errorMessage}" />
    
    <div id="mktAddToMarketoCampaign">
      <apex:form >
        <apex:pageBlock title="Choose Campaign" rendered="true" id="mktChooseCampBlock">
          <apex:pageBlockButtons >
            <apex:commandButton action="{!save}" value="Add to Marketo Campaign" rendered="{!(hasContacts && hasCampaigns)}"/>
            <apex:commandButton action="{!cancel}" value="Cancel"/>
          </apex:pageBlockButtons>

          <apex:actionRegion rendered="{!(hasContacts && hasCampaigns)}">
            <apex:pageBlockSection collapsible="false" showHeader="false" columns="1">
    
              <apex:pageBlockSectionItem dataStyleClass="mktPageBlockSection" labelStyleClass="mktPageBlockSection">
                <apex:outputLabel value="{!contactType}(s)"/>
                <apex:outputText value="{!contactNames}"/>
              </apex:pageBlockSectionItem>
              
              <apex:pageBlockSectionItem dataStyleClass="mktPageBlockSection" labelStyleClass="mktPageBlockSection">
                <apex:outputLabel value="Campaign Name" for="mktSelectCampaign"/>
                <apex:selectList value="{!campaignId}" size="1" id="mktSelectCampaign" style="font-family: Arial; font-size: 96%">
                  <apex:selectOptions value="{!campaignList}"/>
                  <apex:actionSupport event="onchange" rerender="mktChooseCampBlock"/>
                </apex:selectList>
              </apex:pageBlockSectionItem>
    
              <apex:pageBlockSectionItem dataStyleClass="mktPageBlockSection" labelStyleClass="mktPageBlockSection">
                <apex:outputLabel value="Description"/>
                <apex:outputText value="{!description}" id="mktCampaignDesc"/>
              </apex:pageBlockSectionItem>
    
            </apex:pageBlockSection>
          </apex:actionRegion>

          <apex:actionRegion rendered="{!!hasContacts && hasCampaigns}">
            <apex:pageBlockSection collapsible="false" showHeader="false" columns="1">
    
              <apex:pageBlockSectionItem dataStyleClass="mktPageBlockSection" labelStyleClass="mktPageBlockSection">
                <apex:outputText value="Please choose at least one {!contactType} to add to the Marketo campaign."/>
              </apex:pageBlockSectionItem>
    
            </apex:pageBlockSection>
          </apex:actionRegion>

          <apex:actionRegion rendered="{!!hasCampaigns}">
            <apex:pageBlockSection collapsible="false" showHeader="false" columns="1">
    
              <apex:pageBlockSectionItem dataStyleClass="mktPageBlockSection" labelStyleClass="mktPageBlockSection">
                <apex:outputText value="There are no Marketo campaigns available"/>
              </apex:pageBlockSectionItem>
    
            </apex:pageBlockSection>
          </apex:actionRegion>

        </apex:pageBlock>
      </apex:form>
    </div>
</apex:page>