<apex:page controller="DSCORGPKG.discoverOrg_CompanyDetails"  id="pg"  tabStyle="DiscoverOrgSearch__tab"  sidebar="false">
    
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <meta charset="utf-8"/>
            <meta http-equiv="x-ua-compatible" content="ie=edge"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            
            <!-- Salesforce Lightning Design System -->
            <link href="{!URLFOR($Resource.SLDS080,'SLDS080/assets/styles/sf-lightning-for-sf-classic.css')}" type="text/css" rel="stylesheet" />
            <link href="{!URLFOR($Resource.SLDS080,'SLDS080/assets/styles/custom-styles.css')}" type="text/css" rel="stylesheet" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
            <!-- ********* scripts ******* -->
            <!-- SLDS Scripts -->
            <script src="{!URLFOR($Resource.SLDS080,'SLDS080/assets/script/jquery.min.js')}"></script>
            <script src="{!$Resource.Migrate}"></script>
            <script src="{!URLFOR($Resource.SLDS080,'SLDS080/assets/script/svg4everybody.legacy.js')}"></script>
            <script type="text/javascript">
                function openURL() {                
                    var oURL = '/apex/itorgchart?co_id={!URLENCODE(company.Account.DiscoverOrg_ID__c)}&CoName={!URLENCODE(company.Account.Name)}&dept_id={!URLENCODE(departmentIDurl)}';                                                       
                    window.open(oURL,'name','scrollbars=1, height=750,width=1200,top=60,left=60'); 
                }  
                
               window.onload = function() {
                jQuery('input[type=text]').blur();
               }; 
            </script>
            <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js">
            </script>
            <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
            <style>
                .slds-select {  padding-left:10px;   }
                .slds-no-top-border{ border-top: none !important;}
                td.noSidebarCell{ padding: 0; }
                .slds-no-bottom-border{  border-bottom: none !important;  }
                div.contact-avatar{  display: inline-block; float: left;  }
                td.contact--detail{  vertical-align: middle; }
                div.message{  color: white;  position: relative;  background: #54698d;  font-weight: 300;  padding: 0.5rem;
                text-align: center;  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.035) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.035) 50%, rgba(0, 0, 0, 0.035) 75%, transparent 75%, transparent);
                background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.035) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.035) 50%, rgba(0, 0, 0, 0.035) 75%, transparent 75%, transparent);
                background-size: 64px 64px;  }
                .messageTable td{ word-break: break-all;  }
                #header-fixed th span.slds-truncate{  font-weight: 400;  }
                #header-fixed {  position: fixed;    top: 0px;   background-color:white;   margin-top: 0;   }
                #action-table, #header-fixed{  z-index : 1001;  }
                .sort-icon{  width: 0.8rem;   height: 0.8rem;   margin-top: -3px;  margin-left: 5px;  margin-right: 20px; }
                .contact-info .titleName{float: left; margin-top: 6px; max-width: 69px; overflow: hidden; text-overflow: ellipsis; }
                .slds-button--brand, .slds-button--brand:hover, .slds-button--brand:focus {  background-color: #6EBE49;   border: 1px solid #6EBE49; }
                .slds-button:focus {  outline: 0;   box-shadow: 0 0 3px #6EBE49; }
                 a.orgChartIcon:hover, a.orgChartIcon:focus{  text-decoration: none;   }
                .slds-icon{ float:left}
                .slds-button-group .slds-button:first-child {  border-radius: 0.25rem 0 0 0.25rem;   border-left: 1px solid #d8dde6; }
                .slds-notify.slds-notify--toast,.slds-notify.slds-notify--alert{margin:0.5rem 1.5rem 0; display:block}
                .messageText {margin: 0 auto;  max-width: 1280px; padding: 0 12px; color:#fff}
                .messageTable span{ color:#fff}
                #totalRecords{   background: #F7F5F5;  padding: 8px;  font-size: 15px;   height: 36px;  font-weight: 600;   border-radius: 5px;  border: 1px solid #DEE2EA;   text-align: center;   color: #4FB9E2;    }
                .paginationBtns{   padding: 9px 5px 9px 5px;   background: white;  border: 1px solid #D4D1D1;  margin: 1px;  cursor: pointer;  text-decoration: none !important;   font-size: 14px;  font-weight: 100;    border-radius: 3px;    color: #0070d2 !important;    }
                .paginationBtns:Hover{    background: rgb(238, 238, 238);    }
                body, td {  font-family: "Salesforce Sans",Arial,sans-serif; }
                .intelligence-text {  color: white;   display: inline-block;   font-size: 1.1rem;  margin-left: 10px;  font-style: normal;  margin-top:5px   }
                .slds-page-header{ border-right:1px solid #d8dde6; padding: 1rem }
                .slds-button--icon-background { background: #fff;}
                .slds-nubbin--top:before, .slds-nubbin--right:before {   width: 1rem;   height: 1rem;   position: absolute;   -webkit-transform: rotate(45deg);   transform: rotate(45deg);   content: "";     background-color: inherit;   }
                .slds-nubbin--top:before{  left: 50%;   top: -0.5rem;  margin-left: -0.5rem;  }
                .slds-nubbin--right:before {    top: 50%;   right: -0.5rem;  margin-top: -0.5rem;  }
                .slds-popover{    border:none;    position: absolute;   min-width: 120px;  background: #061c3f;  color: white;  font-size: 13px;   font-family: "Salesforce Sans",Arial,sans-serif;  font-weight: 500;  }
                .sticky-main-header{ width:auto}
                .pngBtnImagesCss {   filter: invert(0.8);  height: 16px;  margin-bottom: 2px;  margin-right: 2px;  width: 16px;  }
                .slds-backdrop {  background: rgba(126, 140, 153, 0.8) none repeat scroll 0 0;  bottom: 0;   height: 100%;    left: 0;   opacity: 0;  position: fixed;   right: 0;     top: 0;   transition-duration: 0.4s;   visibility: hidden;  width: 100%;   z-index: 9000;                }
                .slds-backdrop--open { opacity: 1 !important;  transition: opacity 0.4s linear 0s;  visibility: visible !important;  }
                /* Help Tool Tip */
                .tooltipResReqArrow {  background-color: #061c3f;   color: white;  display: none;   height: 19px;   margin-top: 3px;   position: absolute;  right: 26px;  transform: rotate(45deg); width: 20px;   z-index: 20000; }
                .tooltipResReq {  background-color: #061c3f;  color: white;  display: none;  padding: 17px;  position: absolute;  right: 1px;  top: 59px;  width: 100%; z-index: 10000;}          
                 #Feedback-modal .error{ border:1px solid #f00}
                 #Feedback-modal textarea.slds-input{ line-height:normal; min-height:100px;}
                 .ui-autocomplete-loading {
                      background: white url("{!URLFOR($Resource.SLDS080,'SLDS080/assets/images/spinners/slds_spinner.gif')}") right center no-repeat;
                      background-size: 37px;
                  } 
                  .ui-autocomplete.ui-front{z-index:99999}
            </style>
            <script>
                function showToolTips(){
                   $(".showaddupdateToolTip").show();
               }
               function hideToolTips(){
                   $(".showaddupdateToolTip").hide();
               }
               
            </script>
            
            
            
        </head>
        
        <body>
            
            <apex:form id="frm">
            
                <div id="toptable">
                    <div class="slds-page-header" role="banner" style="position:static">
                        <div class="slds-grid slds-wrap slds-grid-main" style="padding-left:8px;">
                            <div class="slds-col slds-size--1-of-3 slds-medium-size--6-of-6 slds-large-size--4-of-12" style="margin-top:auto;margin-bottom:auto;">
                                <apex:outputLink value="/apex/MainPage" target="_blank"><img src="{!URLFOR($Resource.DiscoverOrgUI,'images/logo-x.png')}"  /></apex:outputLink>
                            </div>
                            <div class="slds-col slds-size--1-of-3 slds-medium-size--3-of-6 slds-large-size--3-of-12">
                                <div class="slds-button-group" role="group" style="float: right;">
                                    <button class="slds-button slds-button--icon-border slds-button--icon-background myAccount" aria-haspopup="true" style="height: 36px;margin:0;">
                                        <img src="{!URLFOR($Resource.SLDS080,'SLDS080/assets/icons/custom/user_60.png')}" style="width:50%;"/>     
                                        <div class="slds-popover slds-popover--tooltip slds-nubbin--top" role="tooltip" style="left: -45px; top: 45px;display:none;">
                                            <div class="slds-popover__body">My Account</div>
                                        </div>
                                    </button>
                                    <button class="slds-button slds-button--icon-border slds-button--icon-background gotoDOrg" aria-haspopup="true" style="height: 36px;margin:0;">
                                        <img src="{!URLFOR($Resource.SLDS080,'SLDS080/assets/icons/custom/DO_link.png')}"/>     
                                        <div class="slds-popover slds-popover--tooltip slds-nubbin--right" role="tooltip" style="left: -145px; top: -1px;display:none;">
                                            <div class="slds-popover__body">DiscoverOrg Site</div>
                                        </div>
                                    </button>
                                    <div class="slds-dropdown-trigger" style="display:block;z-index:999; position:relative; padding-bottom:10px">
                                        <button class="slds-button slds-button--icon-border slds-button--icon-background help-link" onclick="return false;" aria-haspopup="true" style="height: 36px;margin:0;border-radius: 0 0.25rem 0.25rem 0; border-left: 0;">
                                            <img src="{!URLFOR($Resource.SLDS080,'SLDS080/assets/icons/custom/help_60.png')}" style="width:50%;"/>     
                                        </button>
                                     <c:doHelpMenu />
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                    <div style=" background: #1b5eac;border: medium none; left: 0; padding: 0.5rem 1.5rem; position:static" class="slds-page-header main-header sticky-main-header">
                        <div class="slds-grid slds-page-header-grid">
                            <div class="slds-col"><a class="intelligence-text" href="#" onClick="return windowOpenUrl()" style="color:#fff" target="_blank">{!company.account.Name}</a></div>
                            <div class="slds-col"> <a href="#" id="backToSearchBtn" class="slds-button slds-button--brand slds-button--small" onClick="windowClose(); return false; " style="float:right; margin-right:-10px; font-weight:normal">Close Page</a></div>
                            <!--<div class="slds-col"> 
                                <apex:outputPanel id="backtoSearch" rendered="{!showBacktoSearch}">
                                    <a href="{!backtoUrl}" style="margin-left:40px ;" class="slds-button slds-button--brand slds-button--small" >&lt;&lt; Back to Contacts</a>
                                </apex:outputPanel>
                            </div>-->
                        </div>
                    </div>
                    <apex:outputPanel id="pageMessage" >
                        <apex:pageMessages escape="false"></apex:pageMessages>
                    </apex:outputPanel>
                    
                    
                    
                    <!--<apex:outputPanel >id="tableHeader" rendered="{!!showBacktoSearch}"-->
                    <apex:outputPanel id="tableHeader" rendered="{!!showBacktoSearch}">
                        <div class="slds-grid slds-wrap slds-grid-details slds-m-top--large">
                            
                            <div class="slds-col slds-size--2-of-2 slds-medium-size--3-of-6 slds-large-size--6-of-12 slds-col-main">
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__label">Company Name</span>
                                    <span class="slds-form-element__static">
                                        <apex:outputText value="{!company.account.Name}" id="company-name" />&nbsp;
                                        <a href="#" onclick="openURL();"> <img src="{!URLFOR($Resource.SLDS080,'/SLDS080/assets/icons/custom/org_chart_icon.png')}"/></a>
                                    </span>
                                </div>
                            </div>
                            <div class="slds-col slds-size--2-of-2 slds-medium-size--3-of-6 slds-large-size--6-of-12 slds-col-main">
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__label">Address</span>
                                    <span class="slds-form-element__static">
                                        <apex:outputText value="{!company.account.ShippingStreet} {!company.account.ShippingCity}, {!company.account.ShippingState} {!company.account.ShippingPostalCode} {!company.account.ShippingCountry}" />&nbsp;
                                    </span>
                                </div>
                            </div>
                            
                            <div class="slds-col slds-size--2-of-2 slds-medium-size--3-of-6 slds-large-size--6-of-12 slds-col-main">
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__label">No. Of Employees</span>
                                    <span class="slds-form-element__static">
                                        <apex:outputText value="{!company.account.NumberOfEmployees}" />&nbsp;
                                    </span>
                                </div>
                            </div>
                            <div class="slds-col slds-size--2-of-2 slds-medium-size--3-of-6 slds-large-size--6-of-12 slds-col-main">
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__label">Website</span>
                                    <span class="slds-form-element__static">
                                        <apex:outputText value="{!company.account.Website}" />&nbsp;
                                    </span>
                                </div>
                            </div>
                            
                            <div class="slds-col slds-size--2-of-2 slds-medium-size--3-of-6 slds-large-size--6-of-12 slds-col-main">
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__label">Annual Revenue</span>
                                    <span class="slds-form-element__static">
                                        <apex:outputText value="{0, number, 000,000}" >
                                            <apex:param value="{!company.account.AnnualRevenue}"/>
                                        </apex:outputText>&nbsp;
                                    </span>
                                </div>
                            </div>
                            <div class="slds-col slds-size--2-of-2 slds-medium-size--3-of-6 slds-large-size--6-of-12 slds-col-main">
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__label">Industry</span>
                                    <span class="slds-form-element__static">
                                        <apex:outputText value="{!company.account.Industry}" />&nbsp;
                                    </span>
                                </div>
                            </div>
                            
                            <div class="slds-col slds-size--2-of-2 slds-medium-size--3-of-6 slds-large-size--6-of-12 slds-col-main">
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__label">Description</span>
                                    <span class="slds-form-element__static">
                                        <apex:outputText value="{!company.account.Description}" />&nbsp;
                                    </span>
                                </div>
                            </div>
                            <div class="slds-col slds-size--2-of-2 slds-medium-size--3-of-6 slds-large-size--6-of-12 slds-col-main">
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__label">Phone</span>
                                    <span class="slds-form-element__static">
                                        <apex:outputText value="{!company.account.Phone}" />&nbsp;
                                    </span>
                                </div>
                            </div>
                        </div>
                    </apex:outputPanel>    
                    <div id="divProcessing" style="display:none;">
                        <div class="overlay-div" ></div>
                        <div class="overlay top-overlay" >
                            <div class="top-overlay-content">
                                <div class="slds-spinner--medium">
                                    <img src="{!URLFOR($Resource.SLDS080, '/SLDS080/assets/images/spinners/slds_spinner_inverse.gif')}" alt="Loading..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="action-table" class="slds-table slds-table--bordered slds-no-row-hover slds-no-top-border slds-no-bottom-border slds-m-top--large">
                        <tr>
                            <td data-label="Back to search" class="slds-no-top-border slds-no-bottom-border" style="width: 33%;">
                                <apex:outputPanel rendered="{! !calledFromInline}">
                                    <!--   <apex:outputLink rendered="{! !CalledfromInline}"  id="setting" value="/apex/mainpage"  title="<<Return to Search">&lt;&lt;Return to Search</apex:outputLink> -->
                                </apex:outputPanel>
                            </td>
                            <td data-label="Pagination" style="text-align: center;" class="slds-no-top-border slds-no-bottom-border">
                                <!--Pagination Top Start Here-->
                                <apex:outputPanel rendered="{!IF(contacts.size > 0 && showBacktoSearch == false, true, false)}" layout="block">                            
                                    <apex:outputPanel style="width:100%;" rendered="{!multiPage}" layout="block" >
                                        <div align="center" id="paginationsTags">
                                            <apex:commandLink value="<" styleClass="paginationBtns"  title="Previous" onclick="$('.top-overlay, .overlay-div').show();previous(); return false;" rendered="{! pageNo != 1 }"/>
                                            <apex:commandLink value="<" styleClass="paginationBtns" onclick="return false;" rendered="{! pageNo  == 1 }"/>
                                            <apex:commandLink value="1" styleClass="paginationBtns" style="background:{! if(pageNo ==1,'#D2D2D2','') };" onclick="$('.top-overlay, .overlay-div').show();first(); return false;" rendered="{! pageNo  != 1 }"/>
                                            <apex:commandLink value="1" styleClass="paginationBtns" onclick="return false;" style="background:{! if(pageNo ==1,'#D2D2D2','') };" rendered="{! pageNo  == 1 }"/>                                                                  
                                            <apex:commandLink value="{!pageCount}" styleClass="paginationBtns" style="background:{! if(pageNo ==pageCount,'#D2D2D2','') };" onclick="$('.top-overlay, .overlay-div').show();last(); return false;" rendered="{! pageNo  != pageCount }"/>
                                            <apex:commandLink value="{!pageCount}" styleClass="paginationBtns" onclick="return false;" style="background:{! if(pageNo ==pageCount,'#D2D2D2','') };" rendered="{! pageNo  == pageCount }"/>
                                            
                                            <apex:commandLink value=">" styleClass="paginationBtns" title="Next" onclick="$('.top-overlay, .overlay-div').show();next(); return false;" rendered="{! pageNo  != pageCount }"/>
                                            <apex:commandLink value=">" styleClass="paginationBtns" onclick="return false;" rendered="{! pageNo  == pageCount }"/>
                                            
                                            <input type="text" id="jumpTo" onkeydown="if(event.keyCode==13){jumpToPage();}" placeholder="Jump to..." style="width: 70px;padding: 3px;margin: 0px 0px 0px 0px;height: 36px;border: 1px solid #D4D1D1;font-size: 14px;border-radius: 2px;" />
                                            <a onclick="jumpToPage();" id="jumpToLink" class="paginationBtns">Go</a>
                                        </div>        
                                    </apex:outputPanel>
                                </apex:outputPanel>
                                <!--Pagination Top End Here-->
                                
                            </td>
                            
                            <td data-label="Add/Update" class="slds-float--right slds-no-top-border slds-no-bottom-border">
                                <div class="addUpdateModal" style="display: none;">
                                    <div aria-hidden="false" role="dialog" class="slds-modal slds-fade-in-open">
                                        <div class="slds-modal__container" style="display: inline-block;left: 25%;">
                                            <div class="slds-modal__header">
                                                <h2 class="slds-text-heading--medium">Add/Update</h2>
                                            </div>
                                            <div class="slds-modal__content">
                                                <div>
                                                    <fieldset class="slds-form--compound">
                                                        <legend class="slds-form-element__label">Select Operation</legend>
                                                        <div class="form-element__group">
                                                            <div class="slds-form-element__row">
                                                                <label class="slds-form-element__control slds-size--1-of-1">
                                                                    <apex:selectList id="addOperation" value="{!addOperationSelected}" styleClass="slds-select" multiselect="false" size="1">
                                                                        <apex:selectOptions value="{!AddOperations}" />
                                                                    </apex:selectList>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </fieldset>   
                                                    <fieldset class="slds-form--compound">
                                                        <legend class="slds-form-element__label">Assign to Campaign (Optional)</legend>
                                                        <div class="form-element__group">
                                                            <div class="slds-form-element__row">
                                                                <input style="font-size:14px;" type="text" class="slds-input" id="sfjscontactautocomplete" placeholder="Search Campaign.."/>
                                                                <apex:inputHidden value="{!CampaignSelected}" id="tempSearchData"/>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="slds-modal__footer">
                                                <div class="slds-x-small-buttons--horizontal">
                                                    <button class="slds-button slds-button--neutral addUpdateModal-Close">Cancel</button>
                                                    <!--<button class="slds-button slds-button--brand" onClick="return validateOperation();$('.top-overlay, .overlay-div').show();">Submit</button>-->
                                                    <apex:commandButton id="searchSubmitButton" value="Submit"  styleClass="slds-button slds-button--neutral slds-button--brand" onclick="return validateOperation(); "  action="{!processAddUpdate}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-backdrop slds-backdrop--open"></div>
                                </div> 
                                <div class="slds-form--inline" style="display:inline">
                                    <div class="slds-form-element__control">
                                        <apex:outputPanel rendered="{! !showBacktoSearch}">
                                            <button class="slds-button slds-button--brand slds-button--small addUpdateBtn">
                                                <img style="filter: invert(0);-webkit-filter: invert(0);" src="{!URLFOR($Resource.SLDS080, '/SLDS080/assets/icons/utility/add_60.png')}" class="pngBtnImagesCss"/>
                                                Add/Update
                                            </button> 
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{! showBacktoSearch}">
                                            <input type="button" value="Return to Contacts" id="returnToContacts" Class="slds-button slds-button--brand slds-button--small" style="float: right;" onclick="javascript: document.getElementById('pnlLoadingtop').style.display = 'block'; returnContacts();return false;" />
                                            <apex:actionFunction name="returnContacts" reRender="pg" action="{!returnToContacts}" />
                                        </apex:outputPanel>
                            
                                    </div></div>
                                &nbsp;
                               </td>
                            
                            
                        </tr>
                        
                        <apex:actionFunction name="first" action="{!first}" reRender="frm, script-panel" oncomplete="resetIframeHeight(); callMatching();"/>
                        <apex:actionFunction name="last" action="{!last}" reRender="frm, script-panel" oncomplete="resetIframeHeight(); callMatching();"/>
                        <apex:actionFunction name="next" action="{!next}" reRender="frm, script-panel" oncomplete="resetIframeHeight(); callMatching();"/>
                        <apex:actionFunction name="previous" action="{!previous}" reRender="frm, script-panel" oncomplete="resetIframeHeight(); callMatching();"/>
                        <apex:actionFunction name="goToPageByNumber" action="{!goToPageNo}" reRender="frm, script-panel" oncomplete="javascript:setTimeout(resetIframeHeight(), 1500); callMatching();">
                            <apex:param name="pageNo" assignTo="{!pageNo}" value=""/>
                        </apex:actionFunction>
                        <apex:actionfunction name="addUpdateSelected" action="{!processAddUpdate}" reRender="frm, script-panel " oncomplete="$('.top-overlay, .overlay-div,.addUpdateModal').hide();"/>
                        <!--  <apex:actionFunction name="reloadMatches" action="{!rematchRecordWithDO}" reRender="frm, script-panel" oncomplete="resetIframeHeight();"/>--->
                        <apex:actionFunction name="backToContacts" action="{!backToContacts}" reRender="dummyData" />
                        <!-- frm, -->
                        <apex:outputPanel id="dummyData" />
                        <apex:actionFunction name="SortCal" action="{!SortCalling}" reRender="frm,script-panel,listValuesCon"  status="divProcessing"  oncomplete="resetIframeHeight(); callMatching();">
                            <apex:param assignTo="{!sortOnBasisOf}" value="" name="s5"/>
                            <apex:param assignTo="{!sortByAscOrDesc}" value="" name="ss4" />
                        </apex:actionFunction>
                        <apex:actionFunction name="sendResearchRequest" action="{!SendResearchEmailAlert}" reRender="ResearchRequestPanel" status="pnlLoadingtop"   oncomplete="onCompOfResReq();"/>
                        <!-- <apex:actionFunction action="{!ProvideFeedbackEmail}" name="ProvideFeedbackEmailJS"  oncomplete="feedBackStatus()" reRender="frm,script-panel" /> -->
                    </table>
                   
                  
                    <apex:outputPanel id="listValuesCon"  rendered="{!!showBacktoSearch}"  ><!-- rendered="{!IF(contacts.size > 0 , true, false)}" -->
                        <!-- Contact Match table -->
                        
                        <div id="contacts" class="tabDetail contactMatch" style="display: block;"  >
                            <table class="slds-table contacts-table slds-table--bordered">
                                <thead>
                                    <tr class="slds-text-heading--label main-header">
                                        <th class="slds-row-select" scope="col">
                                            <label class="slds-checkbox" for="select-all">
                                                <input name="checkbox" type="checkbox" id="select-all" />
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label slds-assistive-text">select all</span>
                                            </label>
                                        </th>
                                        <th class="slds-is-sortable" scope="col" style="cursor:pointer;" onclick="SortCalling('lastname','{!sortByAscOrDesc}');">
                                            <span class="slds-truncate">Contact</span>
                                            
                                            <apex:outputPanel rendered="{!sortOnBasisOf=='lastname'}">
                                                <apex:outputPanel layout="none" rendered="{!sortByAscOrDescName}">
                                                    <img src="{!URLFOR($Resource.SLDS080, '/SLDS080/assets/icons/custom/arrowup.jpg')}" class="sort-icon"/>
                                                </apex:outputPanel>
                                                <apex:outputPanel layout="none" rendered="{!NOT(sortByAscOrDescName)}">
                                                    <img src="{!URLFOR($Resource.SLDS080, '/SLDS080/assets/icons/custom/arrowdown.jpg')}" class="sort-icon"/>
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                        </th>
                                        <th class="slds-is-sortable" scope="col" style="cursor:pointer;" onclick="SortCalling('title','{!sortByAscOrDesc}');">
                                            <span class="slds-truncate">Title</span>
                                            <apex:outputPanel rendered="{!sortOnBasisOf=='title'}">
                                                <apex:outputPanel layout="none" rendered="{!sortByAscOrDescTitle}">
                                                    <img src="{!URLFOR($Resource.SLDS080, '/SLDS080/assets/icons/custom/arrowup.jpg')}" class="sort-icon"/>
                                                </apex:outputPanel>
                                                <apex:outputPanel layout="none" rendered="{!NOT(sortByAscOrDescTitle)}">
                                                    <img src="{!URLFOR($Resource.SLDS080, '/SLDS080/assets/icons/custom/arrowdown.jpg')}" class="sort-icon"/>
                                                </apex:outputPanel>
                                            </apex:outputPanel>    
                                        </th>
                                        <th scope="col">
                                            <span class="slds-truncate">Manager</span>
                                        </th>
                                        <th class="slds-is-sortable" scope="col" style="cursor:pointer;" onclick="SortCalling('department','{!sortByAscOrDesc}');">
                                            <span class="slds-truncate">DEPT</span>
                                            <apex:outputPanel rendered="{!sortOnBasisOf=='department'}">    
                                                <apex:outputPanel layout="none" rendered="{!sortByAscOrDescDepartment}">
                                                    <img src="{!URLFOR($Resource.SLDS080, '/SLDS080/assets/icons/custom/arrowup.jpg')}" class="sort-icon"/>
                                                </apex:outputPanel>
                                                <apex:outputPanel layout="none" rendered="{!NOT(sortByAscOrDescDepartment)}">
                                                    <img src="{!URLFOR($Resource.SLDS080, '/SLDS080/assets/icons/custom/arrowdown.jpg')}" class="sort-icon"/>
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                            
                                        </th>
                                        <th scope="col">
                                            <span class="slds-truncate">Address</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="contacts-table-body">
                                    <apex:repeat value="{!contacts}" var="a">
                                        <tr>
                                            <td data-label="Select">
                                                <apex:outputLabel styleClass="slds-checkbox" for="checkbox">
                                                    <apex:inputCheckbox value="{!a.Selected}" id="checkbox" styleClass="slds-conflict__checkbox"></apex:inputCheckbox>
                                                    <span class="slds-checkbox--faux"></span>
                                                </apex:outputLabel>
                                            </td>
                                            <td data-label="Contact" class="contact--detail">
                                                <div class="contact-avatar slds-p-top--x-small slds-p-right--x-small slds-p-bottom--x-small">
                                                    <apex:outputPanel styleClass="slds-avatar slds-avatar--large" title="{!a.contact.FirstName} {!a.contact.LastName}" >
                                                        <apex:outputPanel layout="none" rendered="{! a.profilepic == '' }">
                                                            <img src="{!URLFOR($Resource.DSCORGPKG__DiscoverOrgUI, '/images/DefaultSilhouette.png')}"/>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel layout="none" rendered="{! a.profilepic != '' }">
                                                            <img src="{!a.profilepic}"/>
                                                        </apex:outputPanel>      
                                                    </apex:outputPanel>
                                                </div>                    
                                                <!-- rendered="{!OR( a.contact.department__c == 'IT', a.contact.department__c == 'FI', a.contact.department__c == 'MK', a.contact.department__c =='TEDD', a.contact.department__c =='Sales')}" -->                            
                                                <apex:outputPanel layout="none" >
                                                    <div class="contact-info slds-m-left--x-small slds-truncate">
                                                        <span class="slds-truncate">
                                                            <apex:outputPanel layout="none" rendered="{!!isDOrg2User}">
                                                                <apex:outputLink styleClass="" value="https://{!IF(a.contact.DSCORGPKG__department__c == 'IT', 'www', IF(a.contact.DSCORGPKG__department__c == 'FI', 'finance', 'marketing'))}.discoverydb.com/EXEC/SiteImprov/MVC/Views/PersonInfo.php?persid={!URLENCODE(a.contact.DSCORGPKG__DiscoverOrg_ID__c)}&sfxml_key={!URLENCODE($Setup.SessionSettings__c.SessionId__c)}" target="_new" title="{!a.contact.FirstName} {!a.contact.LastName}">
                                                                    <apex:outputtext value="{!a.contact.FirstName} {!a.contact.LastName}" />
                                                                </apex:outputLink>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel layout="none" rendered="{!isDOrg2User}">
                                                                <a style="font-size: 13px;" href="Https://go.discoverydb.com/eui/#/person/{!a.contact.DiscoverOrg_ID__c}&apikey={!settings.SessionId_Dorg2__c}" target="_new" title="{!a.contact.FirstName} {!a.contact.LastName}"><apex:outputtext value="{!a.contact.FirstName} {!a.contact.LastName}" /></a> 
                                                            </apex:outputPanel>                                    
                                                        </span>
                                                        <br/>
                                                        <span class="slds-truncate" title="{!a.contact.phone}"><apex:outputText value="{!a.contact.phone}"/></span><br/>
                                                        <span class="slds-truncate"><a href="mailto:{!a.contact.email}" title="{!a.contact.email}" class="cEmail"><apex:outputText value="{!a.contact.email}"/></a></span><br/>
                                                        <!--  <a href="javascript:void(0);" >-->
                                                            <img title="View org chart for {!a.contact.FirstName} {!a.contact.LastName}" src="{!URLFOR($Resource.SLDS080,'/SLDS080/assets/icons/custom/org_chart_icon.png')}" alt="{!a.contact.DiscoverOrg_ID__c}" class="orgChartIcon" onclick="openOrgChart('{!JSENCODE(strCoid)}',  '{!JSENCODE(company.account.Name)}', '{!JSENCODE(a.contact.firstname)}', '{!JSENCODE(a.contact.lastname)}','{!JSENCODE(a.contact.DiscoverOrg_ID__c)}','{!JSENCODE(a.departmentIdPerson)}');" />
                                                            <label class="conLeadSelEmail" for="{!a.contact.email}" />
                                                        <!-- </a>-->&nbsp;
                                                        <!--  <apex:outputPanel rendered="{!IF(a.msg == 'Record Exist and in Sync' , true, false)}"> 
                                                            <a href="/{!a.conId}" style="color: #59a40d; text-decoration: none;" target="_blank">
                                                                <img src="{!URLFOR($Resource.DiscoverOrgUI, '/images/check.png')}"/>
                                                                Contact
                                                            </a>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(a.ldmsg == 'Record Exist and in Sync' , true, false)}">
                                                            <a href="/{!a.leadId}" target="_blank"  style="color: #59a40d; text-decoration: none;">
                                                                <img src="{!URLFOR($Resource.DiscoverOrgUI, '/images/check.png')}"/>
                                                                Lead
                                                            </a>
                                                        </apex:outputPanel>-->
                                                    </div>
                                                </apex:outputPanel>
                                            </td>
                                            <td data-label="Title" class="title-column">
                                                <div class="slds-truncate">
                                                    <apex:outputText styleClass=""  value="{!a.contact.title}" Title="{!a.contact.title}"></apex:outputText>
                                                </div>
                                            </td>
                                            <td data-label="Manager">
                                                <span class="slds-truncate">
                                                    <a style="font-size: 13px;" href="/apex/DorgContactDetailPage?personId={!a.contact.DiscoverOrg_ID__c}&isInline=false" target="_new">{!a.contact.ReportsTo__c}</a> 
                                                </span>
                                            </td>
                                            <td data-label="Department">
                                                <span class="slds-truncate"><apex:outputText value="{!a.contact.DSCORGPKG__department__c}" /></span>
                                            </td>
                                            <td data-label="Address">
                                                <span class="slds-truncate">
                                                    <span>
                                                        {!a.contact.MailingStreet}<br/>
                                                        {!a.contact.MailingCity}, {!a.contact.MailingState}, {!a.contact.MailingCountry} 
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    </apex:repeat>
                                </tbody>
                            </table>
                        </div>
                    </apex:outputPanel>
                    <!--</apex:outputPanel>-->
                    <apex:outputPanel id="script-panel">
                        <script>
                            try{
                                if(window.opener.closed){}
                            }catch(err){
                                $('#backToSearchBtn').hide();
                            } 
                        //////////////////---------------////////////////
                        function SortCalling(a,c){
                            c = a != "{!JSENCODE(sortOnBasisOf)}" ? true : c;
                            if('{!sortFirstTime}'=='true'){
                                $(".overlay-div, .top-overlay").show();
                                SortCal(a,c);                                
                            }else{
                                $(".overlay-div, .top-overlay").show();
                                SortCal(a,false);
                            }
                        }
                        ////////////--------------------/////
                        function windowClose(){
                            window.close();
                         }
                        /////////----------------////////
                        var headerOffSet = $(".sticky-main-header").offset().top;
                        $(window).scroll(function(){
                            if( headerOffSet < $(window).scrollTop() ){
                                $(".sticky-main-header").css({"position": "fixed", "top": "0px", "left": "10px", "right": "10px","z-index": "9001"});
                            }else{
                                $(".sticky-main-header").css("position", "static" );
                            }
                        }); 
                        ///////----------------------////////
                        function windowOpenUrl(){ 
                            if( '{!JSENCODE(company.account.DSCORGPKG__DiscoverOrg_ID__c)}' != '' ){
                                var publicSite = "{!isDOrg2User}" == "true" ? "https://go.discoverydb.com/eui/#/company/{!JSENCODE(company.account.DSCORGPKG__DiscoverOrg_ID__c)}&apikey={!JSENCODE(settings.DSCORGPKG__SessionId_Dorg2__c)}" : "https://www.discoverydb.com/EXEC/SiteImprov/MVC/Views/CompanyInfo.php?co.CO_ID={!JSENCODE(company.account.DSCORGPKG__DiscoverOrg_ID__c)}";
                                window.open( publicSite, '_blank');
                            }else{
                                var publicSite = "{!isDOrg2User}" == "true" ? "https://go.discoverydb.com/" : "https://www.discoverydb.com";
                                window.open( publicSite );
                            }
                            return false;
                        } 
                        ////////////////----------------------////////
                        var popupWindow=null;
                        function openOrgChart( cd, cnam, conf, conl, sc, dept) {
                            conf = conf +' '+ conl;
                            popupWindow = window.open('/apex/itorgchart?co_id='+cd+'&CoName='+cnam+'&ConName='+conf+'&_scrollTo='+sc+'&dept_id='+dept,'name','scrollbars=1, height=750,width=1200,top=60,left=60');
                        }
                        
                        // Pagination code starts here
                        maximumPage = {!pageCount};
                        gotoPageNumnber = {!gotoPageNo};
                        
                        function makeSelectOption() {
                            //var btnSeq = createPaginationButtonSequence(maximumPage, gotoPageNumnber);
                            var btnSeq = updatePageLinks(gotoPageNumnber,maximumPage);
                            var btnStr = '';      
                            var btnStrRTT = '';      
                            for( var i=0;i<btnSeq.length;i++){
                                if( gotoPageNumnber == btnSeq[i] ){
                                    btnStr += '<a style="background:#D2D2D2;" class="paginationBtns dynaPageTag">'+btnSeq[i]+'</a>';
                                }else{
                                    btnStr += '<a onclick="goToPage('+btnSeq[i]+');" class="paginationBtns dynaPageTag">'+btnSeq[i]+'</a>';
                                }
                            }
                            if( btnSeq.length > 0 ){
                                $("#paginationsTags").find(".dynaPageTag").remove();
                                $("#paginationsTags").children().next().first().next().after(btnStr);
                            }
                            //createDynamicIdsOnCheckBoxes();
                            //onlyNumberAllow();
                        }
                       
                        /*function createPaginationButtonSequence(maximumPage, gotoPageNumnber){
                            var buttonCount = 0;
                            var lastBtn = maximumPage;
                            var btnSeq = new Array();
                            for (var i = 1; i <= maximumPage; i++) {
                                if( i != 1 && i != maximumPage && buttonCount != 3 &&  i >= gotoPageNumnber ){        
                                    btnSeq.push(i);
                                    if( buttonCount == 0 ){
                                        lastBtn = i;
                                    }
                                    buttonCount++;
                                }
                            } 
                            if( buttonCount < 3 ){          
                                for (var i = buttonCount+1; i <= 3; i++) {
                                    lastBtn--;
                                    if( lastBtn > 1 ){                
                                        btnSeq.push(lastBtn);
                                    }
                                }
                            }
                            btnSeq.sort(function(a, b){return a-b});
                            return btnSeq;    
                        }*/
                        
                        function updatePageLinks(current, allPages) {
                            var btnSeq = new Array();
                            if(allPages==0) return;
                            if(current>2) {        
                                if(current===allPages&&allPages>3)
                                    btnSeq.push(current-2);        
                                btnSeq.push(current-1);
                            }
                            if(current!=1&&current!=allPages)
                                btnSeq.push(current);
                            if(current<allPages-1) {
                                btnSeq.push(current+1);
                                if(current==1&&allPages>3)
                                    btnSeq.push(current+2);        
                            }
                            return btnSeq; 
                        }
                        
                        function goToPage(pageNumber) { 
                            $('.top-overlay, .overlay-div').show();   
                            goToPageByNumber(pageNumber);
                        }
                        
                        
                        function jumpToPage() { 
                            var jumpToPGNo = $('#jumpTo').val();    
                            if( jumpToPGNo != gotoPageNumnber ){
                                if( jumpToPGNo >= 1 && jumpToPGNo <= maximumPage ){
                                    $('.top-overlay, .overlay-div').show();
                                    goToPageByNumber(jumpToPGNo);
                                }else{
                                    alert('Please give input from 1 to '+ maximumPage);
                                    $('#jumpTo').val('');       
                                }
                            }
                        }
                        // Pagination code ends here
                        //////----------------------//////
                        $(function(){
                            
                            
                            $('.searchClass').removeClass('btn');
                            
                            $("[class$='test']").on('click',function(){
                                var result =  !$(this).parent().find('input').is(':checked');
                                $(this).parent().find('input').attr('checked',result);
                            });
                            
                            $(".imgToolTip").hover(function() {
                                $(this).attr("title",$(this).attr("title").split(",").join("\n"));
                            });
                            
                            $(".addUpdateBtn").click(function(){
                                $(".addUpdateModal").fadeIn();
                                return false;
                            });
                            
                            $(".addUpdateModal-Close").click(function(){
                                $(".addUpdateModal").fadeOut();
                                return false;
                             });
                            
                            $(".myAccount, .gotoDOrg").mouseover(function() {
                                $(this).find(".slds-popover--tooltip").show();
                            }).mouseout(function() {
                                $(this).find(".slds-popover--tooltip").hide();
                            });
                            
                            makeSelectOption();
                            
                            overrideBtnAndMsgStyle();
                            
                            $("#select-all, #select-all-temp").change(function(){
                                if( $(this).is(":checked") ){
                                    $(".contacts-table-body .slds-conflict__checkbox").prop("checked", true);
                                    $(".contacts-table-body .slds-conflict__checkbox").trigger("change");
                                }else{
                                    $(".contacts-table-body .slds-conflict__checkbox").prop("checked", false);
                                    $(".contacts-table-body .slds-conflict__checkbox").trigger("change");
                                }
                            });
                            
                            $('.overlay-div, .top-overlay').hide();
                            
                            $("#close-help").click(function(){
                                $('.research-overlay, #orgchart-modal').fadeOut('slow');
                                $('.research-overlay').remove();
                                $("#iframe-loading").show();
                                $("#iframe-container").hide();
                             });
                    
                            $(".company-org-chart").click(function() {
                        var url_src = "/apex/itorgchart?co_id={!URLENCODE(company.Account.DSCORGPKG__DiscoverOrg_ID__c)}";
                        $('#orgChartframe').attr('src', window.location.protocol + "//" + window.location.host + url_src);
                        $(".modal-title").text($("[id$='company-name']").text() +' - Org Chart');
                        
                        $('body').append('<div class="research-overlay"></div>');
                        $('.research-overlay, #orgchart-modal').fadeIn('slow');
                        $("#iframe-loading").fadeIn();
                        
                        setTimeout(function(){
                            $("#iframe-loading").fadeOut();
                            $("#iframe-container").fadeIn('slow');
                        }, 2000);
                                
                                
                        
                    });
                    
                             $(".contact-org-chart").click(function() {
                        var url_src = "/apex/itorgchart?co_id={!URLENCODE(company.Account.DSCORGPKG__DiscoverOrg_ID__c)}&scrollTo="+$(this).attr("scrollTo");
                        $('#orgChartframe').attr('src', window.location.protocol + "//" + window.location.host + url_src);
                        $(".modal-title").text($("[id$='company-name']").text() +' - '+ $(this).attr("contactname") +' - Org Chart');
                        
                        $('body').append('<div class="research-overlay"></div>');
                        $('.research-overlay, #orgchart-modal').fadeIn('slow');
                        $("#iframe-loading").fadeIn();
                        
                        setTimeout(function(){
                            $("#iframe-loading").fadeOut();
                            $("#iframe-container").fadeIn('slow');
                        }, 2000);
                        
                    });
                            
                            /* Help Pop Start */
                            $('button.help-link').mouseenter(function(){
                                $('.helpdetail').fadeIn();});
                            $('.slds-dropdown-trigger').mouseleave(function(){
                                $('.helpdetail').fadeOut("slow");});
                            /*Help Pop Ends */
                            
                             
                            
                        
                            /*$("#submit-research-request").click(function() {
                                $("[id$='research-sel-option']").val("New Contact Request");
                                $("[id$='research-textarea']").val("");
                                $("#research-modal").show();
                            });*/
                            
                            $(".cancel-research").click(function() {
                                $(".submit-research").attr("disabled", false).css("opacity", '').css("cursor", 'pointer');
                                $("#research-modal").hide();
                            });
                            $("#submit-research-request").click(function(){
                                $("#help-research-request").removeClass("slds-hide").addClass("slds-fade-in-open");
                                $("[id$='research-sel-option']").val("Select a Research Option");
                                callOptionsDisplay("Select a Research Option");
                                return false;
                            });
                            
                            $(".slds-button--Help-model-close").click(function(){
                                $("#help-research-request").addClass("slds-hide").removeClass("slds-fade-in-open");
                                $("[id$='help-research-textarea']").val("");
                                $("[id$='research-sel-option']").val("Select a Research Option");
                                return false;
                            });
                            //Custom Show Hide Tooltip For Reseearch Request Help Start Here        
                            $(".tooltipResReqHelp").mouseout(function(e) {
                                $(".tooltipResReqArrow").hide("fast");
                                $(".tooltipResReq").hide("fast");
                            });
                            $(".tooltipResReqHelp").mouseover(function() {
                                $(".tooltipResReqArrow").show("fast");
                                $(".tooltipResReq").show("fast");
                            });
                            //Custom Show Hide Tooltip For Reseearch Request Help End Here
                            
                            
                           
                            // My Account And Do website Link
                            $(".myAccount").click(function(){
                               if( isLightningExperienceOrSalesforce1() ) {
                                   $(".myaccountLink").removeAttr('target');
                                   console.log('Salesforce Lightning');
                               }
                               $(".myaccountLink")[0].click();
                               return false;
                           });
    
                           $(".gotoDOrg").click(function(){
                            if( isLightningExperienceOrSalesforce1() ) {
                                var isFirefox = typeof InstallTrigger !== 'undefined';
                                if( isFirefox ){
                                    $(".dorgLink").removeAttr('target');
                                        var targetURL = $('.dorgLink').attr('href');
                                    targetURL = targetURL.substring(targetURL.lastIndexOf("srcUp('")+7,targetURL.lastIndexOf("');"));
                                    window.open( decodeURIComponent(targetURL) );
                                    return false;
                                }
                               }
                               $(".dorgLink")[0].click();
                               return false;
                           });
                            // My Account And Do website Link End Here
                            
                            
                           

                        });
                        function isLightningExperienceOrSalesforce1() {
                            return((typeof sforce != 'undefined') && sforce && (!!sforce.one));
                        }
                    
                        
                        function validateOperation() {
                            if ($( "[id*='addOperation']" ).val() == '') {
                                alert('Please select desired Operation');
                                return false;
                            }
                            $('.top-overlay, .overlay-div').show();
                            console.log('---761---'+$( "[id*='addOperation']" ).val());
                            //addUpdateSelected($( "[id*='addOperation']" ).val());
                            return true;
                        }
                   
                        
                        function overrideBtnAndMsgStyle(){
                            $('.btn').removeClass('btn');    
                            $('.errorM3').addClass('slds-notify slds-notify--alert slds-theme--error slds-theme--alert-texture customMessage');  
                            $('.confirmM3').addClass('slds-notify slds-notify--alert slds-theme--success slds-theme--alert-texture customMessage');    
                            $('.infoM3').addClass('slds-notify slds-notify--toast slds-theme--alert-texture customMessage');    
                            $('.errorM3').removeClass('errorM3'); 
                            $('.confirmM3').removeClass('confirmM3'); 
                            $('.infoM3').removeClass('infoM3'); 
                            $('.infoM3').removeClass('infoM3'); 
                            $('.message').removeClass('message'); 
                            
                            $('.errorM3').addClass('slds-notify slds-notify--alert slds-theme--error slds-theme--alert-texture customMessage');  
                            $('.confirmM3').addClass('slds-notify slds-notify--alert slds-theme--success slds-theme--alert-texture customMessage');    
                            $('.infoM3').addClass('slds-notify slds-notify--toast slds-theme--alert-texture customMessage');    
                            $('.warningM3').addClass('slds-notify slds-notify--toast slds-theme--alert-texture customMessage');  
                            
                            $('.errorM3').removeClass('errorM3'); 
                            $('.confirmM3').removeClass('confirmM3'); 
                            $('.infoM3').removeClass('infoM3');   
                            $('.warningM3').removeClass('warningM3');  
                         }
                        
                        function iframeLoaded() {
                            var iFrameID = document.getElementById('orgChartframe');
                            if(iFrameID) {
                                
                            }   
                        }
                        
                        var popupWindow=null;
                        function parent_disable( cd, cnam, conf, conl, sc) {
                            conf = conf +' '+ conl;
                            popupWindow = window.open('/apex/itorgchart?co_id='+cd+'&CoName='+cnam+'&ConName='+conf+'&_scrollTo='+sc,'name','scrollbars=1, height=750,width=1200,top=60,left=60');
                        }
                        
                        function parent_CompanyDisable(cs, cnam) {
                            popupWindow = window.open('/apex/itorgchart?co_id='+cs+'&CoName='+cnam,'name','scrollbars=1, height=750,width=1200,top=60,left=60');
                        }
                        
                        function resetIframeHeight(){
                            //$(parent.document.getElementById('companyIframe')).attr("height", document.body.scrollHeight+"px" );
                            //callMatching();
                            $('.overlay-div, .top-overlay').hide();
                        }
                        
                        function onSubmitOfResReq() {
                            var commentText = $("[id$='research-textarea']").val();
                            if (commentText == '' || commentText.trim().length == 0) {
                                $("[id$='research-textarea']").css("border-color", "#DC143C");
                                return;
                            }
                            $("[id$='research-textarea']").css("border-color", "#1797c0");    
                            $(".submit-research").attr("disabled", true).css("opacity", '0.5').css("cursor", 'not-allowed');
                            showStatusDiv();
                            sendResearchRequest();
                        }
                        
                        function showStatusDiv() {
                            document.getElementById('pnlLoadingtop').style.display = 'block';
                        }
                        
                        function hideStatusDiv() {
                            document.getElementById('pnlLoadingtop').style.display = 'none';
                            
                        }
                        
                        function onCompOfResReq() {
                            hideStatusDiv();
                            $(".submit-research").attr("disabled", false).css("opacity", '').css("cursor", 'pointer');
                            $("#research-modal").hide();
                           
                            if (!(typeof reportSubmited === 'undefined') && reportSubmited != '') {
                                alert(reportSubmited);
                            }
                            
                            if (!(typeof reportNotSubmited === 'undefined') && reportNotSubmited != '') {
                                alert(reportNotSubmited);
                            }
                        }
                        
                       /* function feedBackStatus(){
                            var pfeedback='{!feedBackSuccess}';
                            $('#pnlLoadingtop').hide();
                            if(pfeedback=='true'){
                                alert('Your Feedback has been sent to DiscoverOrg. Thank You!!');
                                $('#Feedback-modal').hide();
                             }else{
                                alert('Unable to submit Feedback, Please Try again later');
                            }
                        }
                        
                        function feedBackValidation(){
                          var isBlankTopic=true;
                          var isBlankMsg=true;
                          if($("[id$='feedback-topic']").val()=='' || $("[id$='feedback-topic']").val().trim().length==0 ){
                            $("[id$='feedback-topic']").addClass('error');
                          }else{
                           $("[id$='feedback-topic']").removeClass('error');
                              isBlankTopic=false;
                           }
                           if($("[id$='feedback-textarea']").val()=='' || $("[id$='feedback-textarea']").val().trim().length==0 ){
                              $("[id$='feedback-textarea']").addClass('error');
                          }else{
                              $("[id$='feedback-textarea']").removeClass('error');
                              isBlankMsg=false;
                          }
                            
                            //alert(!(isBlankMsg || isBlankTopic));
                            if(!(isBlankMsg || isBlankTopic)){
                                $('#pnlLoadingtop').show();
                                ProvideFeedbackEmailJS();
                            }  
                             return null;
                        }
                       */
                   </script>
                   <script>                                           
           $(document).ready(function(){                            
               $("#sfjscontactautocomplete").autocomplete({
                    source: "/apex/AutoCompleteSearch",
                    select: function(event, ui) {
                        $('input[id*=tempSearchData]').val(ui.item.id);
                     }
                }).focus(function() {
                    if (document.getElementById("sfjscontactautocomplete").value.length == 0) {
                        $(this).autocomplete("search", "-----ON-FOCUS-----");
                    }
                });
                         
           });                    
        </script>
            </apex:outputPanel>
                    <apex:outputPanel layout="block" id="ResearchRequestPanel">
                        <script>    
                       
                        reportSubmited = '{!JSENCODE(reportSubmited)}';
                        reportNotSubmited = '{!JSENCODE(reportNotSubmited)}';        
                        closeBtnLink = '<i class="fa fa-close" style="font: normal normal normal 14px/1 FontAwesome !important;color: #848383;"></i>';
                        var x = 0;
                        </script>
                    </apex:outputPanel>       
            </div>
               
                <!-- Research Request Popup Start Here-->
                <div id="help-research-request" class="slds-hide">
                            <div aria-hidden="false" role="dialog"  id="help-research-request-modal" class="slds-modal slds-fade-in-open">
                                <c:ResearchRequest />
                            </div>
                            <div class="slds-modal-backdrop slds-modal-backdrop--open"></div>
                        </div>
               
               <!--old request research popup-->
               <!-- <div id="research-modal" style="display:none;z-index: 10000;">
                    <div aria-hidden="false" role="dialog" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <div class="slds-modal__header">
                                <table>
                                    <tr>
                                        <td>
                                            <h2 class="slds-text-heading--medium">DiscoverOrg Research Request </h2>     
                                        </td>
                                        <td>
                                            <img class="tooltipResReqHelp" src="/img/alohaSkin/help_grey.png"/>
                                            <div class="tooltipResReqArrow"></div>
                                            <span class="tooltipResReq">
                                                <span>The Research Request tool offers DiscoverOrg users the ability to request or fix specific information on contacts and companies. Select an option
                                                    from the dropdown menu, that best fits your needs and enter your request into the text field. Remember to be specific in your request to help us
                                                    expedite the research.
                                                    <br/><br/>
                                                    <span style="color:#fbaf36">New Contact Request</span> - Suggest a contact for us to add or update in our database
                                                    <br/>
                                                    <span style="color:#fbaf36">New Company Request</span> - Suggest we research a company with an IT or Finance department
                                                    <br/>
                                                    <span style="color:#fbaf36">New Contacts at Existing Company</span> - Inform us if we&#39;ve left a contact out of a company
                                                    <br/>
                                                    <span style="color:#fbaf36">Phone Number Request</span> - Request we find or verify a phone number for a contact or company
                                                    <br/>
                                                    <span style="color:#fbaf36">Fix Wrong Info</span> - Report incorrect information or errors in our database
                                                    <br/>
                                                    <span style="color:#fbaf36">Reporting Structure</span> - Request we build an Org Chart for a new or existing company</span>
                                            </span>   
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="slds-modal__content">          
                                <div class="slds-form--horizontal">
                                    <div class="slds-form-element">
                                        <label class="slds-form-element__label" for="inputSample2">Select a Research Option</label>
                                        <div class="slds-form-element__control">
                                            <apex:selectList value="{!researchlst}" id="research-sel-option"  multiselect="false" size="1" styleClass="slds-select">
                                                <apex:selectOption itemValue="New Contact Request" itemLabel="New Contact Request" />
                                                <apex:selectOption itemValue="New Company Request" itemLabel="New Company Request" />
                                                <apex:selectOption itemValue="New Contacts at Existing Company" itemLabel="New Contacts at Existing Company" />
                                                <apex:selectOption itemValue="Phone Number Request"  itemLabel="Phone Number Request" />
                                                <apex:selectOption itemValue="Fix Wrong Info"  itemLabel="Fix Wrong Info" />
                                                <apex:selectOption itemValue="Reporting Structure"  itemLabel="Reporting Structure" />
                                                <apex:selectOption itemValue="Other"  itemLabel="Other" />
                                            </apex:selectList>
                                        </div>
                                    </div>
                                    <div class="slds-form-element">
                                        <label class="slds-form-element__label" for="textareaSample2">Please specify what you want us to research</label>
                                        <div class="slds-form-element__control">
                                            <apex:inputTextarea id="research-textarea" value="{!researchComment}" styleClass="slds-input"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-modal__footer">
                                <input type="button" value="Cancel" class="cancel-research cancelBtn slds-button slds-button--neutral" />
                                <input type="button" value="Submit" onclick="onSubmitOfResReq(); return false;" class="submit-research submit slds-button slds-button--neutral"/>
                            </div>
                        </div>
                    </div>
                    <div class="slds-modal-backdrop slds-modal-backdrop--open"></div>
                </div>-->
                <!-- Research Request Popup End Here-->
                
                <!-- Feedback Popup Start Here-->
               <!--  <div id="Feedback-modal" style="display:none;z-index: 10000;">
                    <div aria-hidden="false" role="dialog" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <div class="slds-modal__header">
                                <table>
                                    <tr>
                                        <td>
                                            <h2 class="slds-text-heading--medium">Provide App Feedback</h2> 
                                            <p>
                                                Let us know how we're doing! Use this form to provide feedback on DiscoverOrg's Salesforce app, request new features, or suggest changes.
                                            </p>
                                        </td>
                                        <td>
                                          <!-  <img class="tooltipResReqHelp" src="/img/alohaSkin/help_grey.png"/>
                                            <div class="tooltipResReqArrow"></div>
                                            <span class="tooltipResReq">
                                                <span>Let us know how we're doing! Use this form to provide feedback on DiscoverOrg's Salesforce app, request new features, or suggest changes.
                                                    <br/><br/>
                                                    <span style="color:#fbaf36">New Contact Request</span> - Suggest a contact for us to add or update in our database
                                                    <br/>
                                                    <span style="color:#fbaf36">New Company Request</span> - Suggest we research a company with an IT or Finance department
                                                    <br/>
                                                    <span style="color:#fbaf36">New Contacts at Existing Company</span> - Inform us if we&#39;ve left a contact out of a company
                                                    <br/>
                                                    <span style="color:#fbaf36">Phone Number Request</span> - Request we find or verify a phone number for a contact or company
                                                    <br/>
                                                    <span style="color:#fbaf36">Fix Wrong Info</span> - Report incorrect information or errors in our database
                                                    <br/>
                                                    <span style="color:#fbaf36">Reporting Structure</span> - Request we build an Org Chart for a new or existing company</span>
                                            </span>   ->
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="slds-modal__content">  
                                
                                <div class="slds-form--horizontal">
                                   <div class="slds-form-element">
                                        <label class="slds-form-element__label" for="textareaSample2">Please specify the Feedback Topic (<span style="color:#f00">*</span>)</label>
                                        <div class="slds-form-element__control">
                                            <apex:inputText id="feedback-topic" value="{!feedBackTopic}" styleClass="slds-input"/> 
                                        </div>
                                    </div>
                                    <div class="slds-form-element">
                                        <label class="slds-form-element__label" for="textareaSample2">Please specify the Feedback Details (<span style="color:#f00">*</span>)</label>
                                        <div class="slds-form-element__control">
                                            <apex:inputTextarea id="feedback-textarea" value="{!feedBackMessage}" styleClass="slds-input"/> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-modal__footer">
                                <input type="button" value="Cancel" class="cancel-research feedbackCancel slds-button slds-button--neutral" />
                                <input type="button" value="Submit" onclick="feedBackValidation();return false;" class="submit-research submit slds-button slds-button--neutral"/>
                            </div>
                        </div>
                    </div>
                    <div class="slds-modal-backdrop slds-modal-backdrop--open"></div>
                </div> -->
                <!-- Feedback Popup End Here-->
                
                
                
                <apex:outputPanel style="display:none;">
                        <apex:outputLink value="/apex/DiscoverOrgSetup?retUrl=MainPage" styleClass="myaccountLink" target="_blank"></apex:outputLink>
                        <apex:outputPanel rendered="{!!isDorg2User}">
                            <apex:outputLink value="https://www.discoverydb.com" styleClass="dorgLink" target="_blank"></apex:outputLink>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!isDorg2User}">
                            <apex:outputLink value="https://go.discoverydb.com/" styleClass="dorgLink" target="_blank"></apex:outputLink>
                        </apex:outputPanel>
                    </apex:outputPanel>
                
            </apex:form>
            <div class="overlay-div" style="display:none;"></div>
            <div class="overlay top-overlay" style="display:none;">
                <div class="top-overlay-content">
                    <div class="slds-spinner--medium">
                        <img src="{!URLFOR($Resource.SLDS080, '/SLDS080/assets/images/spinners/slds_spinner_inverse.gif')}" alt="Loading..." />
                    </div>
                </div>
            </div>
            <div id="pnlLoadingtop" class="slds-modal-backdrop slds-modal-backdrop--open" style="display: none;z-index:10000000;">
                <div style="position:fixed; top: 50%; left: 50%; margin-top: -45px; margin-left: -45px;">
                    <apex:image value="{!URLFOR($Resource.DSCORGPKG__SLDS080,'SLDS080/assets/images/spinners/slds_spinner_brand.gif')}" style="width:62px;"/>                     
                </div>
            </div>
        </body>
      
      <!-- GET LEADS MATCH FUNCTION -->  
      <script src="/soap/ajax/28.0/connection.js" type="text/javascript"></script>
      <script src="/soap/ajax/28.0/apex.js" type="text/javascript"></script>
      <script type="text/javascript">
           $(document).ready(function(){
                callMatching();
           });
           function callMatching(){
               //SET API Session ID 
               sforce.connection.sessionId='{!$Api.Session_Id}';       
               var allVals = [];
               $('.orgChartIcon').each(function() {
                 //console.log('--71---'+$(this).attr("alt"));
                 var c = $(this).attr("alt");
                 if( c!=null && c!='' ){
                  //console.log('--2427---'+c);
                  allVals.push(c);
                 }
               });
               console.log(allVals);
               
               var cEmail = [];
               
               $(".conLeadSelEmail").each(function(){
                  //var s = $(this).val();
                  var s = $(this).attr("for");
                  //var s1 = s.length;
                  //s = s.slice(7,s1);
                  if( s!=null && s!='' ){
                      //console.log('--2440--'+s);
                      cEmail.push(s.toLowerCase());
                  }
               });
               
               //Contact 
               var query = "SELECT Id, Email, Name, FirstName, LastName, Title, Phone, DSCORGPKG__DiscoverOrg_ID__c from Contact where ";
               
               //Lead
               var queryL = "SELECT Id, Email, Name, FirstName, LastName, Title, Phone, DSCORGPKG__DiscoverOrg_ID__c from Lead where ";
              
               var i;
               for (i = 0; i < allVals.length; i++) { 
                  query +=  " DSCORGPKG__DiscoverOrg_ID__c = '" +allVals[i] +"' OR " ;
                  queryL +=  " DSCORGPKG__DiscoverOrg_ID__c = '" +allVals[i] +"' OR " ;
               }
               if( cEmail!=null && cEmail.length>0){
                for (i = 0; i < cEmail.length; i++) { 
                   if( i == cEmail.length-1 ){
                       query +=  " Email = '" +cEmail[i] +"' " ;
                       queryL += " Email = '" +cEmail[i] +"' " ;  
                       //console.log(query);
                   }else{
                       query +=  " Email = '" +cEmail[i] +"' OR " ;
                       queryL +=  " Email = '" +cEmail[i] +"' OR " ;
                       //console.log(query);
                   }
                }
               }
               
               //query.length
               //alert('---2469--'+ query.lastIndexOf("OR ") +'------'+query.length-3);
               //alert('---2470--'+ queryL.lastIndexOf("OR ") +'------'+queryL.length-3);
               if( query.lastIndexOf("OR ") == ( query.length-3 ) ){
                  query = query.substr( 0, query.length-3);
               }
               query+="  LIMIT 1000";
               if( queryL.lastIndexOf("OR ") == ( queryL.length-3 ) ){
                  queryL = queryL.substr( 0, queryL.length-3);
               }
               queryL +="  LIMIT 1000";
               
               //alert('---2470'+query);
               //alert('---2471'+queryL);
               var objConDiscoverOrgIDMap = {};
               var objConEmailMap = {};
               
               var result;
               result = sforce.connection.query(query);
               //console.log('==>'+result);
               records = result.getArray("records");
               console.log('==>'+records);
               for (var i=0; i< records.length; i++) {
                  //console.log('--1725--'+records[i]);
                  var record = records[i];
                  if( record.DSCORGPKG__DiscoverOrg_ID__c!=null && record.DSCORGPKG__DiscoverOrg_ID__c!='' ){
                      //console.log("DSCORGPKG__DiscoverOrg_ID__c: "+record.DSCORGPKG__DiscoverOrg_ID__c);
                      objConDiscoverOrgIDMap[record.DSCORGPKG__DiscoverOrg_ID__c] = record;
                  }else{
                      //console.log("Email: "+record.Email);
                      if( record.Email!=null && record.Email!='' ){
                          objConEmailMap[record.Email] = record; 
                      }
                   }
               }
               //console.log('--1769--'+objConDiscoverOrgIDMap['118238']);
               //console.log('--1770--'+objConEmailMap['speterson@1800contacts.com']);
               
               //----------Query for Contact Ends-----------------
               
               //------------Query for Leads----------------------
               //var recordsL = [];
               
               var objLeadDiscoverOrgIDMap = {};
               var objLeadEmailMap = {};
               
               result = sforce.connection.query(queryL);
               records = result.getArray("records");
               for (var i=0; i< records.length; i++) {
                  //console.log('--1725--'+records[i]);
                  var record = records[i];
                  if( record.DSCORGPKG__DiscoverOrg_ID__c!=null && record.DSCORGPKG__DiscoverOrg_ID__c!='' ){
                      //console.log("DSCORGPKG__DiscoverOrg_ID__c: "+record.DSCORGPKG__DiscoverOrg_ID__c);
                      objLeadDiscoverOrgIDMap[record.DSCORGPKG__DiscoverOrg_ID__c] = record;
                  }else{
                      //console.log("Email: "+record.Email);
                      if( record.Email!=null && record.Email!='' && (record.DSCORGPKG__DiscoverOrg_ID__c==null || record.DSCORGPKG__DiscoverOrg_ID__c=='') ){
                          objLeadEmailMap[(record.Email).toLowerCase()] = record; 
                      }
                   }
               }
               
               //------------Query for Leads Ends------------------
               
               //-----------After Contact Query -------------------
               
               for( var i =0; i < allVals.length; i++){
                  
                  var p = allVals[i];
                  //console.log('--1782--'+allVals[i]+'   '+objConDiscoverOrgIDMap[p]);
                  var rec = objConDiscoverOrgIDMap[p];
                  var recL = objLeadDiscoverOrgIDMap[p];
                  //console.log('--1775--'+objConDiscoverOrgIDMap['118238']); 
                  $(".orgChartIcon").each(function(){
                      //console.log("--1780--"+$(this).val()+"---"+allVals[i]);
                      if( rec != null  && rec !='undefined'){
                          if( $(this).attr("alt") == allVals[i] ){
                              //console.log('---1779--'+$(this).attr("alt")+"---"+allVals[i]);
                              var cDat = '';
                              if( rec.Name!=null && rec.Name!='' ){
                                 cDat = rec.Name +', ';
                              }
                              if( rec.Title!=null && rec.Title!='' ){
                                 cDat += rec.Title +', ';
                              }
                              if( rec.Phone!=null && rec.Phone!='' ){
                                 cDat += rec.Phone +', ';
                              }
                              if( rec.Email!=null && rec.Email!='' ){
                                 cDat += rec.Email;
                              }
                              if(!$(this).find(".conMatchedDOID").is(':visible')){
                                  $(this).after("<a href='/"+rec.Id+"' style='text-decoration:none;margin-right:5px;' title='Linked to DiscoverOrg database. Contact Match: "+cDat+"' ><img class='conMatchedDOID' style='width:25px;height:20px;' src='{!URLFOR($Resource.SLDS080,'/SLDS080/assets/icons/custom/custom_link_green.png')}'> Contact</img></a>");
                              }
                          }
                      }
                      if( recL != null && recL !='undefined'){
                          if( $(this).attr("alt") == allVals[i] ){
                              //console.log('---2526--'+$(this).attr("alt")+"---"+allVals[i]);
                              if(!$(this).find(".leadMatchedDOID").is(':visible')){
                                  var cDat = '';
                               if( recL.Name!=null && recL.Name!='' ){
                                 cDat = recL.Name +', ';
                               }
                               if( recL.Title!=null && recL.Title!='' ){
                                 cDat += recL.Title +', ';
                               }
                               if( recL.Phone!=null && recL.Phone!='' ){
                                 cDat += recL.Phone +', ';
                               }
                               if( recL.Email!=null && recL.Email!='' ){
                                 cDat += recL.Email;
                               }
                                  $(this).after("<a href='/"+recL.Id+"' style='text-decoration:none;margin-right:5px;' title='Linked to DiscoverOrg database. Lead Match: "+cDat+"'><img class='leadMatchedDOID' style='width:25px;height:20px;'  src='{!URLFOR($Resource.SLDS080,'/SLDS080/assets/icons/custom/custom_link_green.png')}'> Lead</img></a>");
                              }
                          }
                      }
                  });
               }
               
               for( var i =0; i < cEmail.length; i++){
                  var p = (cEmail[i]).toLowerCase();
                  console.log('--1782--'+cEmail[i]+'   '+objConEmailMap[p] +'--'+p);
                  
                  var recE = objConEmailMap[p];
                  var recEL = objLeadEmailMap[p];
                  $(".conLeadSelEmail").each(function(){
                      if( recE != null && recE !='undefined'){
                          console.log('---2543--'+$(this).val()+"---"+recE.Email);
                          if( ( ($(this).attr("for")).toLowerCase() == p ) && ( recE.DSCORGPKG__DiscoverOrg_ID__c==null || recE.DSCORGPKG__DiscoverOrg_ID__c=='' || recE.DSCORGPKG__DiscoverOrg_ID__c=='undefined') ) {  
                              console.log('---2570--'+$(this).find(".conMatchedEmail").is(':visible'));
                              if(!$(this).find(".conMatchedEmail").is(':visible')){
                                  var cDat = '';
                               if( recE.Name!=null && recE.Name!='' ){
                                 cDat = recE.Name +', ';
                               }
                               if( recE.Title!=null && recE.Title!='' ){
                                 cDat += recE.Title +', ';
                               }
                               if( recE.Phone!=null && recE.Phone!='' ){
                                 cDat += recE.Phone +', ';
                               }
                               if( recE.Email!=null && recE.Email!='' ){
                                 cDat += recE.Email;
                               }
                                  console.log('---2572--'+$(this).find(".conMatchedEmail").is(':visible'));
                                  $(this).append("<a href='/"+recE.Id+"' style='text-decoration:none;' title='Not yet linked to DiscoverOrg. Click update button to link this record. Potential Contact Match: "+cDat+"' ><img class='conMatchedEmail' style='width:25px;height:20px;'  src='{!URLFOR($Resource.SLDS080, '/SLDS080/assets/icons/custom/custom_matched.png')}'> Contact</a>");
                              }
                          }
                      }
                      if( recEL != null && recEL !='undefined'){
                          console.log("--2552-"+recEL.Id+"---"+recEL.Email+"---"+cEmail[i]);
                          if( ( ($(this).attr("for")).toLowerCase() == p ) && ( recEL.DSCORGPKG__DiscoverOrg_ID__c==null || recEL.DSCORGPKG__DiscoverOrg_ID__c ==''  || recEL.DSCORGPKG__DiscoverOrg_ID__c=='undefined') ){
                              console.log('---2579--'+$(this).find(".leadMatchedEmail").is(':visible'));
                              if(!$(this).find(".leadMatchedEmail").is(':visible')){
                                  console.log('---2581--'+$(this).find(".leadMatchedEmail").is(':visible'));
                                  var cDat = '';
                               if( recEL.Name!=null && recEL.Name!='' ){
                                 cDat = recEL.Name +', ';
                               }
                               if( recEL.Title!=null && recEL.Title!='' ){
                                 cDat += recEL.Title +', ';
                               }
                               if( recEL.Phone!=null && recEL.Phone!='' ){
                                 cDat += recEL.Phone +', ';
                               }
                               if( recEL.Email!=null && recEL.Email!='' ){
                                 cDat += recEL.Email;
                               }
                                  $(this).append("<a href='/"+recEL.Id+"' style='text-decoration:none;margin-right:5px;' title='Not yet linked to DiscoverOrg. Click update button to link this record. Potential Lead Match: "+cDat+"' ><img class='leadMatchedEmail' style='width:25px;height:20px;' src='{!URLFOR($Resource.SLDS080, '/SLDS080/assets/icons/custom/custom_matched.png')}' > Lead</a>");
                              }
                          }
                      }
                  });
               }
            }   
          </script>
    </html>
</apex:page>