.THIS {
  opacity: 1;
  max-width: 800px;
  margin: 50px auto 50px auto;
  padding: 20px;
}

.THIS h4, .THIS h5 {
  font-weight: 300;
  color: #5876A3;
  margin-bottom: 15px;
}

.THIS h4 {
  font-size: 20px;
}

.THIS h5 {
  font-size: 16px;
  margin: 10px 0px 20px 0px;
}

.THIS textarea {
  display: block;
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  color: #16325c;
  border: 1px solid #d8dde6;
  border-radius: 0.25rem;
  width: 100%;
  -webkit-transition: border 0.1s linear,background-color 0.1s linear;
  transition: border 0.1s linear,background-color 0.1s linear;
  resize: vertical;
  padding: 0.5rem 0.75rem;
}

.THIS label {
  display: inline-block;
  margin: 0 0 10px 0;
}

.THIS .uiInput.uiInputCheckbox label {
  margin: 0px 10px 0px 0px;
}

.THIS .advanced-configuration-section {
  margin: 20px 0 20px 0;
}

.THIS .advanced-configuration-description {
  font-size: 15px;
}

.THIS button {
  position: relative;
  display: inline-block;
  padding: 0;
  background-clip: padding-box;
  border-radius: 0.25rem;
  color: #0070d2;
  font-size: inherit;
  line-height: 2.125rem;
  text-decoration: none;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color 0.05s linear,background-color 0.05s linear;
  transition: color 0.05s linear,background-color 0.05s linear;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d8dde6;
  background-color: #fff;
}

.THIS button:hover {
  background-color: #f4f6f9;
}