/* FORM STYLES */
.THIS .uiInput--default .form-element__label,
.THIS .slds-form-element__label,
.THIS p {
    font-size: 14px;
    display: block;
    width: 100%;
    margin-top: 15px;
    text-transform: unset !important;
}

/* BUTTON STYLES */

/* Modal buttons */
.THIS button.modal-btn {
    font-size: 14px;
    border-radius: 5px;
    margin: 0 0 0 10px;
    float: right;
    height: 30px;
}
/* Close/reopen case button */
.THIS button.caseStatus {
    padding: 4px 18px;
    color: token(TenableGray);
    font-size: 15px;
    border-radius: 5px;
    margin: 10px 15px 0 0;
    float: right;
}

.THIS .notSaving {
    display: none;
    font-style: italic;
    color: token(TenableAccentWarmGray);
}
.THIS .notVisible {
    display: none;
}
.THIS .saving {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}

/* ALERT MESSAGE */
.THIS .alertMsg {
    text-align: center;
    background: token(TenableAccentLightOrange);
    padding: 10px 0;
    color: token(TenableGray);
}