<apex:page standardController="Account" extensions="Freshservice.AccountDetailsController">
    <c:TicketDetails sObjectId="{!accId}" sObjectName="{!accName}" sObjectEmail="{!accEmail}" valid_fd="{!valid_fd}" ticket="{!ticket}" url="{!url}" ticketId="{!ticketId}" ticket_notes="{!ticket_notes}" customFields="{!customFields}" sObjectType="Account" valid_agent="{!valid_agent}" api_key="{!apikey}" errorMessage="{!errorMessage}" ticketCsat="{!ticketCsat}"/>       
</apex:page>