<apex:page standardController="Lead" extensions="Freshservice.LeadsController">
    <c:AllTickets sObjectId="{!leadId}" sObjectName="{!leadName}" sObjectEmail="{!leadEmail}" valid_fd="{!valid_fd}" valid_agent="{!valid_agent}" url="{!url}" sObjectType="Lead" api_key="{!apikey}" remote_auth="{!site}" filter="{!filter}"/>
</apex:page>