.THIS {
    margin-top: 30px;
}
.THIS h3 {
    font-size: 20px;
    color: token(TenableWarmGray);
} 
.THIS .slds-grid {
    border-bottom: 3px solid token(TenableGray);
    padding-bottom: 5px;
}
.THIS .viewAll {
    text-align: right;
    color: token(TenableTeal);
}