<apex:page sideBar="false" showHeader="false" standardStylesheets="false" docType="html-5.0" standardcontroller="Campaign" extensions="LeanData.Reporting_CampaignViewController">
    <!-- Bootstrap Core CSS -->
    <apex:stylesheet value="{!URLFOR($Resource.LeanData__bootstrap_v3_3_4, 'css/bootstrap.css')}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600' rel='stylesheet' type='text/css' />
    <apex:stylesheet value="{!URLFOR($Resource.LeanData__DataTables, 'DataTables/2.0.2-responsive.dataTables.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.LeanData__DataTables, 'DataTables/1.10.4-jquery.dataTables.css')}"/>
    <apex:includeScript value="{!$Resource.LeanData__viewJSResource}"/>
    
    <c:style />
    <style>
        body{
            margin: 0;
        }

        .bs .semi-bold{
            font-weight: 600;
        }

        .clear{
            clear:both;
        }
        .bs {
            line-height: 1;
            font-family: 'Open Sans', sans-serif;
            font-weight: 200;
            font-size: 16px;
            display: table;
            width: 100%;
            min-width: 1000px;
        }
        
        .bs .header {
            background-color: white;
            height: 50px;
            width: 100%;
        }
        
        .bs .header-title {
            font-size: 12pt;
            font-family: 'Open Sans';
            line-height: 50px;
            margin-left: 67.5px;
            float:left;
            color: #555555;
        }
        
        .bs .header-metrics {
            font-size: 8pt;
            float: right;
            margin-right: 7.5px;
            font-family: 'Open Sans';
        }
        
        .bs .header-metrics div{
            float: right;
            margin-left: 35px;
            line-height: 50px;
        }
        .bs .logo {
            display: block;
            float:left;
            margin-left: 12.5px;
            margin-top: 13px;
        }
        
        .bs .main-content {
            background: #eeefef;
            width: 100%;
            padding: 7.5px;
        }
        
        .bs .inner-wrapper {
            width: 100%;
            background: white;
            border: 1px solid #8da8bf;
            border-radius: 7.5px;         
            padding-bottom: 35px;
        }
        
        .bs .legend-div{
            float:left;
            margin-top: 12.5px;
            margin-left: 12.5px;
            cursor: pointer;
        }
        
        .bs .legend-div:hover{
            opacity: .5;
        }
        
        .bs .clarity-link-div{
            float:right;
            margin-top: 12.5px;
            margin-right: 12.5px;
            font-size: 10pt;
            color: #1b527f;
        }
        
        .bs .timeline{    
            margin: 100px auto;
            width:950px;         
        }
        
        .bs .detail-table-div{    
            min-width: 850px;
            height: 322px;
            margin-top: 30px;
            pointer-events: none;
        }
        
        .bs .detail-table-div a, .bs .detail-table-div thead{
            pointer-events: auto;
        }
        <!-- modal -->
        .bs .modal-backdrop {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1040;
            background-color: #000;
        }
        
        .bs .modal-backdrop.fade {
            filter: alpha(opacity=0);
            opacity: 0;
        }
        
        .bs .modal-backdrop.in {
            filter: alpha(opacity=50);
            opacity: .5;
        }
        
        .bs .modal-header {
            border-bottom: none;
        }
        
        .bs .close {
            background: none;
            border: none;
            opacity: 1;
            color: #6ab4c9;
            font-size: 32px;
            margin-top: -10px !important;
        }
        
         button:focus {outline:0;}
        
        .bs .close:active {
            border:none;
        }
        
        .bs .lean {
            font-size: 14px !important;
        }
        
        .bs .modal-body h2 { 
            color: #005980;
            font-size: 18px;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 30px;
            font-weight: 200;
            margin-top: -10px;
            margin-bottom: 32px;
        }
        
        .bs .modal-body p {
            text-align: center;
            margin-top: 10px;
            font-size: 16px;
            color: #666666;
            font-family: 'Open Sans', sans-serif;
            line-height: 20px;
            margin-bottom: 28px
        }
        
        .bs .modal-dialog {
            margin: 100px auto;
        }
        
        .bs .modal-backdrop {
            opacity: 0.34 !important;
        }
        
        .bs .dg_inner-wrapper {
            background: white;
            border: 1px solid #8da8bf;
            border-radius: 7.5px;
            margin: 20px 20px 20px 20px;
            float: left;
        }
        
        .bs .dg_inner-wrapper:after {
            content: '';
            display: block;
            clear: both;
        }
        
        .bs .dg_inner-wrapper-header {
            width: 100%;
            height: 30px;
            font-size: 15px;
            color: #000000;
            text-align: center;
            line-height: 30px;
            border-bottom: 1px solid #9da8bf;
        }
        
        .bs .dg_inner-wrapper-content {
            width: 100%;
            padding: 15px;
        }
        
        .bs .dg_inner-wrapper-content:not(:last-child) {
            border-bottom: 1px solid #8da8bf;
        }
        
        .bs .dg_inner-wrapper-content:after {
            content: '';
            display: block;
            clear: both;
        }
        <!-- End Modal -->
        .bs .tool-tip-header{
            font-size: 9pt;
        }
        .bs .active-toggle{
            color:white !important;
            background:#54cdb5 !important;
        }
        .bs .view-toggle, .bs .attribution-toggle{
            color:#555;
            cursor:pointer;
            text-align:center;
            line-height:14px;
            font-size:6pt;
            font-weight:400;
            float:left;
            width:40px;
            height:14px;
            border-radius:5px;
        }
        .bs .attribution-toggle{
            width: 25px;
        }
        .bs .toggle-mode-div{
            margin: 0 auto;           
            text-align: center;
            margin-bottom: 12.5px;
        }
        
        .bs .metrics{
            width: 100%;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 22.5px;
            display: inline-block;
        }
        .bs .stage-breakdown{
            border: 1px solid #8da8bf;
            text-align: center;
            border-radius : 7.5px;
        }
        
        .bs .stage-breakdown-title{
            background: #e1f0fb;
            padding: 10px;
            margin: 0 auto;
            margin-top: -15px;
            width: 210px;
            font-size: 11pt;
            border-radius: 7.5px;
            font-weight: 400;
        }
        .bs .stage-breakdown-detail{
            margin-top: 15px;
            padding-bottom: 25px;
            text-align: center;
            padding: 0 12.5px 25px 12.5px;
        }
        
        .bs .bottom-column{
            width: 50%;
            float:left;
        }
        .bs .campaign-metrics, .bs .top-opportunities{
            border: 1px solid #8da8bf;
            text-align: center;
            border-radius : 7.5px;
        }
        .bs .stage-section{
            float:left; 
            margin-left: 2.5px;
            width:{!stageWidth}%;
        }
        .bs .stage-header{
            font-size:10pt;
        }
        .bs .stage-bar{
            margin-top: 7.5px;
            border-radius: 3px;
            width:100%; 
            background: #1abc9c;
            padding: 7px 0px; 
            text-align: center;
            color:white;
        }
        .stage-breakdown-table td{
            padding-left: 2.5px;
            width:{!stageWidth}%;
        }
        .campaign-metrics-table td{
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: left;
        }
        .bs .top-opportunities-table tr{
            border-bottom: 2px solid #E1E1E1;
        }
        .bs .top-opportunities-table td, .bs .top-opportunities-table th{
            padding: 5px;
            text-align: left;
            padding-left: 15px;
            font-size: 8pt;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .bs .top-opportunities-table th{
            background: #e9f8f5;
        }
        .bs .top-opportunities-table tr:nth-child(odd) {
            background: #F5F5F5;
        }
        .bs .dark-blue{
            color: #1b527f;
        }
        .bs .stage-bar .tool-tip {
            display: none;
            color: #1b527f;
            text-decoration: none;
            padding: 3px;
            border: 1px solid #1b527f;
            border-radius: 5px;
            width: 200px;
            font-size: 9pt;
            padding-left: 10px;
            padding-bottom:10px;
            padding-top:10px;
        }
        .bs .stage-bar:hover .tool-tip{
            display: block;
            position: absolute;
            background-color: #FFF;
            margin: -125px -35px;
        }
        .tool-tip:after, .tool-tip:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        
        .tool-tip:after {
            border-color: rgba(255, 255, 255, 0);
            border-top-color: #fff;
            border-width: 10px;
            margin-left: -10px;
        }
        .tool-tip:before {
            border-color: rgba(27, 82, 127, 0);
            border-top-color: #1b527f;
            border-width: 11px;
            margin-left: -11px;
        }

        .bs .semi-bold{
            font-weight: 600;
        }

        .bs .dataTable th{
            padding: 10px;       
        }
        .bs .dataTable{
            width: 100%;
            font-size: 10px !important;
        }

        #closedFilter{
            margin-left: -7px;
            margin-top: 260px;
            padding: 10px;
            position: fixed;
            z-index: 1; /* Stay on top */
            top: 0;
            left: 0;
            background-color: #e1f0fb;
            /*turn text by 90 degrees*/
            -webkit-transform: rotate(270deg);   
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            transform: rotate(270deg);
            cursor: pointer;
            cursor: hand;

        }

        .sidenav {
            height: 25%; 
            width: 0;
            position: fixed; /* Stay in place */
            z-index: 1; /* Stay on top */
            top: 0;
            left: 10px;
            background-color: #e1f0fb;
            overflow-x: hidden; /* Disable horizontal scroll */
            margin-top: 200px;
            padding-top: 20px; /* Place content 60px from the top */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        }
        
        .sidenav .filterLabel {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 13px;
            color: #111;
            transition: 0.3s
        }


        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 24px;
            margin-left: 50px;
            cursor: pointer;
            cursor: hand;
        }

        .sidenav .closebtn:hover {
            color: #fff;
        }

        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }

    </style>
    
    <div class="bs view ">
        <apex:form >
            <apex:actionFunction name="rerenderTopPanel" rerender="fullPanel" />
            <apex:actionFunction Name="switchAttributionAF" rerender="metricsPanel" action="{!calculateMetrics}" >
                <apex:param name="attrMode" value="" assignTo="{!attributionMode}" />
            </apex:actionFunction>
            
            <apex:outputPanel id="pagePanel">
                <apex:pageMessages id="pm" />
                <div id="closedFilter" onclick="openNav()">
                    <div class="closedFilterLabel">Filter &#9662;</div>
                </div>
                <div id="mySidenav" class="sidenav">
                    <div class="closebtn" onclick="closeNav()">&times;</div>
                    <div>
                        <div class="filterLabel">Opportunity Record Type Filter:</div>
                        <apex:selectList styleclass="recordFilterClass" value="{!recordTypeFilter}" size="1" style="border-radius:0px; border: 1px solid #1b527f; color: #1b527f; font-size: 12px; position:absolute; left: 32px; padding-top: 10px;">
                            <apex:selectOptions value="{!recordTypeFilterOptions}" />
                            <apex:actionSupport action="{!calculateMetrics}" event="onchange" rerender="fullPanel" onsubmit="testSettingTableFalse();" oncomplete="removeEmptyCells();"/>
                        </apex:selectList>
                    </div>
                    <div>
                        <div class="filterLabel" style="padding-top: 35px;">Opportunity Type Filter:</div>
                        <apex:selectList styleclass="oppFilterClass" value="{!opportunityTypeFilter}" size="1" style="border-radius:0px; border: 1px solid #1b527f; color: #1b527f; font-size: 12px; position:absolute; left: 32px;">
                            <apex:selectOptions value="{!opportunityTypeFilterOptions}" />
                            <apex:actionSupport action="{!calculateMetrics}" event="onchange" rerender="fullPanel" onsubmit="testSettingTableFalse();" oncomplete="removeEmptyCells();"/>
                        </apex:selectList>
                    </div>
                </div>
                <div class="page-content" style="min-width:900px;">
                    <div class="header">
                        <div class="logo">
                            <img width="119.5" height="24" src="{!URLFOR($Resource.Reporting_Images, 'LD_logo.png')}" alt="Logo" />
                        </div>
                        <div class="header-title salesforce-sans">
                            Opportunities Influenced by {!selectedCampaign.Name}
                        </div>
                        
                        <div class="header-metrics">
                            <div><b>Report is current as of:</b> <apex:outputText value="{0, date, MM/dd/yyyy}" ><apex:param value="{!lastRunDate}" /> </apex:outputText> </div>
                        </div>
                    </div>
                    <apex:outputPanel layout="block" styleClass="main-content" id="fullPanel">
                        <div class="inner-wrapper" >
                            
                            <div class="metrics">
                                <div class="stage-breakdown" >
                                    <div class="stage-breakdown-title" style="position:relative;">
                                        <div class="opps-icon" style="left:-25px;bottom:-2px;position:absolute;">
                                            <apex:image style="width:40px;height:40px;" value="{!URLFOR($Resource.LeanData__Reporting_Images, 'Flag_Icon.png')}" />
                                        </div>
                                        Opportunities by Stage
                                    </div>
                                    
                                    <div class="stage-breakdown-detail">
                                    <div style="margin:0 auto;overflow: hidden;">
                                        <table class="stage-breakdown-table" style="width:99%;">
                                            <tr id="oppsTouchedHeaderRow">
                                                <td style="width:5%;"></td>
                                                <apex:repeat value="{!stageNames}" var="S" >
                                                    <td style="font-size:10pt;">                     
                                                    <apex:outputPanel rendered="{!stageMetricsMap[S].totalCount > 0}" >
                                                            {!S}                                         
                                                    </apex:outputPanel>
                                                    </td>
                                                </apex:repeat>
                                            </tr>
                                            <tr id="oppsTouchedRow">
                                                <td style="font-size:7pt;width:5%;font-weight:bold;">Opps touched at this stage</td>
                                                <apex:repeat value="{!stageNames}" var="S" >
                                                <td>
                                                <apex:outputPanel rendered="{!stageMetricsMap[S].totalCount > 0}" >
                                                        <div class="stage-bar" style="{!IF( stageMetricsMap[S].totalCount>(highestCount*1/3),'color:white;' ,'color:black;')}{!IF(stageMetricsMap[S].totalCount>(highestCount*2/3),'background:#1abc9c', IF( stageMetricsMap[S].totalCount>(highestCount*1/3), 'background:#8CDDCD','background:#E3F7F3' ))}">{!stageMetricsMap[S].totalCount}
                                                            <div class="tool-tip">
                                                                <div style="width:100%;text-align:left;" > <apex:image style="width:10px;height:10px;margin-right:5px;" value="{!URLFOR($Resource.LeanData__Reporting_Images, 'Green_Arrow_Icon.png')}" /> # Opps - {!stageMetricsMap[S].totalCount}</div>
                                                                <div style="margin-top:5px;width:100%;text-align:left;" > <apex:image style="width:10px;height:10px;margin-right:5px;" value="{!URLFOR($Resource.LeanData__Reporting_Images, 'Green_Arrow_Icon.png')}" /> Opp Amount -<apex:outputText value="${0, number,###,##0.00}"><apex:param value="{!stageMetricsMap[S].totalAmount}"/> </apex:outputText></div>
                                                                <div style="margin-top:5px;width:100%;text-align:left;" > <apex:image style="width:10px;height:10px;margin-right:5px;" value="{!URLFOR($Resource.LeanData__Reporting_Images, 'Green_Arrow_Icon.png')}" /> Closed Won - {!stageMetricsMap[S].totalClosedWonCount}</div>
                                                            </div>
                                                        </div>
                                                </apex:outputPanel>
                                                </td>
                                                </apex:repeat>
                                            </tr>
                                        </table>                                    
                                    </div>
                                </div>
                                </div>
                                
                                <div class="bottom-section" style="margin-top: 25px;width:100%;margin-bottom: 12.5px;">
                                    <div class="bottom-column" style="padding-right: 12.5px;width:40%">
                                        <div class="campaign-metrics" style="padding-bottom:6px;height:250px;">
                                            <div class="stage-breakdown-title" style="position:relative;" >
                                                <div class="opps-icon" style="left:-25px;bottom:-2px;position:absolute;">
                                                    <apex:image style="width:40px;height:40px;" value="{!URLFOR($Resource.LeanData__Reporting_Images, 'Report_Card_Icon.png')}" />
                                                </div>
                                                Campaign Metrics
                                            </div>
                                            <apex:outputPanel id="metricsPanel">
                                            <div class="campaign-metrics-details" style="font-size:9pt;text-align:center; width:100%;padding-top:12.5px; padding-bottom: 12.5px;padding-left: 10%; padding-right: 10%;">
                                                <table class="campaign-metrics-table" style="margin: 0 auto; width:100%;">
                                                    <tr>
                                                        <td>
                                                        </td>
                                                        <td style="text-align:center;">
                                                            <apex:selectList value="{!attributionMode}" size="1" style="border-radius:0px;padding-top:3px;padding-bottom:3px;margin-left: 10px; border: 1px solid #1b527f; color: #1b527f;padding-left: 10px;">
                                                                <apex:selectOptions value="{!attributionModeOptions}" />
                                                                <apex:actionSupport event="onchange" rerender="metricsPanel" action="{!calculateMetrics}" oncomplete="removeEmptyCells();"/>
                                                            </apex:selectList>      
                                                                <!-- </div> -->
                                                        </td>
                                                        <td style="text-align:center;">
                                                            <div class="rankFilter">
                                                            <b>Rank vs. {!selectedCampaign.Type}s</b>
                                                            <apex:selectList value="{!timeFrame}" size="1" style="border-radius:0px;padding-top:3px;padding-bottom:3px;margin-left: 10px; border: 1px solid #1b527f; color: #1b527f;padding-left: 10px;">
                                                                <apex:selectOptions value="{!timeFrameOptions}" />
                                                                <apex:actionSupport action="{!calculateRanks}" event="onchange" rerender="metricsPanel" oncomplete="removeEmptyCells();"/>
                                                            </apex:selectList>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="dark-blue">
                                                            <b>Pipeline Attribution</b>    
                                                        </td>
                                                        <td>
                                                            <apex:outputText value="${0, number,###,##0.00}">
                                                              <apex:param value="{!pipelineAttribution}"/>
                                                            </apex:outputText>
                                                        </td>
                                                        <td style="text-align:center;" class="rankFilter">
                                                            {!IF(pipelineAttribution != 0,PipelineRank + " out of " + TEXT(totalCampaigns), "N/A")}
                                                        </td>
                                                    </tr> 
                                                    <tr>
                                                        <td class="dark-blue">
                                                            <b>Bookings Attribution</b>    
                                                        </td>
                                                        <td>
                                                            <apex:outputText value="${0, number,###,##0.00}">
                                                              <apex:param value="{!bookingsAttribution}"/>
                                                            </apex:outputText>
                                                        </td>
                                                        <td style="text-align:center;">
                                                            <div id="filtered">Ranking not available <br />with filters</div>
                                                            <div class="rankFilter">
                                                            {!IF(bookingsAttribution != 0,BookingsRank + " out of " + TEXT(totalCampaigns), "N/A")}
                                                            </div>
                                                        </td>
                                                    </tr> 
                                                    <tr>
                                                        <td class="dark-blue">                                                          
                                                            <b>ROI</b> 
                                                        </td>
                                                        <td>
                                                            <apex:outputText value="{0, number,###,##0.00}%">
                                                              <apex:param value="{!ROI}"/>
                                                            </apex:outputText>
                                                        </td>
                                                        <td style="text-align:center;" class="rankFilter">
                                                            {!IF(ROI != null && ROI != 0,roiRank + " out of " + TEXT(totalCampaigns), "N/A")}
                                                        </td>
                                                    </tr> 
                                                </table>
                                            </div>
                                            </apex:outputPanel>
                                        </div>
                                    </div>
                                    <div class="bottom-column" style="padding-left: 12.5px;width:60%;">
                                        <div class="top-opportunities" style="height:250px;" >
                                            <div class="stage-breakdown-title" style="position:relative;" >
                                                <div class="opps-icon" style="left:-25px;bottom:-2px;position:absolute;">
                                                    <apex:image style="width:40px;height:40px;" value="{!URLFOR($Resource.LeanData__Reporting_Images, 'Dollar_Sign_Icon.png')}" />
                                                </div>
                                                Top Opportunities
                                            </div>
                                            
                                            <div class="top-opportunities-details" style="padding-top:10px !important;padding-bottom:15px !important;padding:20px;text-align:center;">
                                                <table class="top-opportunities-table" style="margin:0 auto;width:100%;">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Stage</th> 
                                                        <th>Amount</th>
                                                        <th>FT<br/>Attribution</th>
                                                        <th>MT<br/>Attribution</th> 
                                                    </tr>
                                                    <apex:repeat value="{!topOpportunities}" var="O" >
                                                        <tr>
                                                            <td>{!O.opp.Name}</td>
                                                            <td>{!O.stageName}</td>
                                                            <td>
                                                                <apex:outputText value="${0, number,###,##0.00}">
                                                                  <apex:param value="{!O.oppAmount}"/>
                                                                </apex:outputText>
                                                            </td>
                                                            <td>
                                                                <apex:outputText value="${0, number,###,##0.00}">
                                                                  <apex:param value="{!O.FTAttribution}"/>
                                                                </apex:outputText>
                                                            </td>
                                                            <td>
                                                                <apex:outputText value="${0, number,###,##0.00}">
                                                                  <apex:param value="{!O.MTAttribution}"/>
                                                                </apex:outputText>
                                                            </td>
                                                        </tr>
                                                    </apex:repeat>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="height:10px;"/>
                            </div>
                            <div class="detail-table-div" style="display:none;text-align:center;padding: 50px;padding-top: 0px;">
                                <table class="campaign-view-table lean-table" style="width:100%;" />
                            </div>
                            
                            <span class="clear"></span>
                            <div style="margin-top:10px;">
                                <div class="toggle-mode-div" style="background:#dddddd; border-radius:7.5px; width: 92px;height:20px;padding:3px;position: fixed; left:50%; transform: translateX(-50%);">
                                    <div onClick="toggleView();" class="view-metrics-toggle view-toggle active-toggle" >
                                        METRICS
                                    </div> 
                                    <div onClick="toggleView();" class="view-details-toggle view-toggle"  >
                                        DETAILS
                                    </div>    
                                          
                                </div>
                            </div>
                        </div> <!-- Close Metrics wrapper -->                    
                    </apex:outputPanel>
                </div>
                <!-- Begin Tooltip -->
                <div id="infoModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" style="display: inline-block;background: #eeefef;border-radius: 0px;">
                            
                            <apex:commandLink rerender="x" html-data-dismiss="modal" style="position:absolute; float:right;top:5px;right:5px;">
                                <apex:image width="15px" height="15px" value="{!URLFOR($Resource.LeanData__Reporting_Images, 'Close_Window_Icon.png')}"/>
                            </apex:commandLink>
                            
                            <div class="dg_inner-wrapper" style="width:355px;">
                                <div class="dg_inner-wrapper-header" >
                                    Legend
                                </div>
                                
                                <div class="dg_inner-wrapper-content" >
                                    <p><apex:image style="width:24px;height:24px;" value="{!URLFOR($Resource.LeanData__Reporting_Images, '1st_Icon.png')}" /> - First Touch </p>
                                    <p><apex:image style="width:24px;height:24px;" value="{!URLFOR($Resource.LeanData__Reporting_Images, 'Opp_Created_Icon.png')}" /> - Opportunity Created Date</p>
                                    <p><apex:image style="width:24px;height:24px;" value="{!URLFOR($Resource.LeanData__Reporting_Images, 'Closed_Won_Icon.png')}" /> - Opportunity Closed Date</p>
                                    <p><apex:image style="width:24px;height:24px;" value="{!URLFOR($Resource.LeanData__Reporting_Images, 'Today_Icon.png')}" /> - Current Date</p>
                                    <p><div style="float:left;height:20px;width:20px;background:#fcd79c;" /> <div class="float:left;">- Opportunity Stage Change</div></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Tooltip -->
            </apex:outputPanel>
        </apex:form>
    </div>
    
    <!-- jQuery Version 1.11.1 -->
    <apex:includeScript value="{!URLFOR($Resource.LeanData__bootstrap_v3_3_4, 'js/jquery.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.LeanData__JqueryUI, 'jquery-ui-1.11.4.custom/jquery-ui.min.js')}" />
    <!-- Bootstrap Core JavaScript -->
    <apex:includeScript value="{!URLFOR($Resource.LeanData__bootstrap_v3_3_4, 'js/bootstrap.js')}" />
    <!-- JavaScript -->
    <c:googleAnalytics analyticsCategory="View" />
    <apex:includeScript value="{!URLFOR($Resource.LeanData__DataTables, 'DataTables/1.10.4-jquery.dataTables.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LeanData__DataTables, 'DataTables/2.0.2-responsive.dataTables.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LeanData__DataTables, 'DataTables/2.17.0-moment.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LeanData__DataTables, 'DataTables/1.10.12-sorting-datetime-moment.js')}"/>
    
    <script>
        j$ = jQuery.noConflict();
        ga_event('Campaign View');
        
        var nameSpace;
        datatablesInit = false;
        
        j$(document).ready(function() {              
            nameSpace = '{! JSENCODE(nameSpace)}'; 
            MARKETING_TOUCH_COLUMNS = [
                {"label" : "Opportunity Name", "name" : nameSpace+"Opportunity__c", "type" : "REFERENCE"},
                {"label" : "MT Attribution", "name" : nameSpace+"Weighted_MT_Attribution_Amount__c", "type" : "CURRENCY"},
                {"label" : "FT Attribution", "name" : nameSpace+"Weighted_FT_Attribution_Amount__c", "type" : "CURRENCY"},
                {"label" : "Campaign Member Status", "name" : nameSpace+"Campaign_Member_Status__c", "type" : "STRING"},
                {"label" : "Campaign Member Created Date", "name" : nameSpace+"Campaign_Member_Created_Date__c", "type" : "DATETIME"},
                {"label" : "Account", "name" : nameSpace+"Account__c", "type" : "REFERENCE"},
                {"label" : "Lead", "name" : nameSpace+"Lead__c", "type" : "REFERENCE"},
                {"label" : "Contact", "name" : nameSpace+"Contact__c", "type" : "REFERENCE"}
            ];
            getViewObject();
        });

        function testSettingTableFalse(){
            datatablesInit = false;
        }
        
        function getViewObject(){
            console.log( '{! JSENCODE((selectedCampaignId))}' );
            var x = '{! JSENCODE((selectedCampaignId))}';
            console.log( x );
            var filter1 = document.getElementsByClassName("oppFilterClass")[0]; //opp type filter
            var filter2 = document.getElementsByClassName("recordFilterClass")[0]; //opp record type filter
            var oppTypeFilter = filter1.options[filter1.selectedIndex].value;
            var oppRecordTypeFilter = filter2.options[filter2.selectedIndex].value;
            var additionalFieldsMap = new Object();
            additionalFieldsMap['oppTypeFilter'] = oppTypeFilter;
            additionalFieldsMap['oppRecordTypeFilter'] = oppRecordTypeFilter;
            j$('document').ready(function(){
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.Reporting_CampaignViewController.getViewObjectWithAdditional}',
                    x, additionalFieldsMap,
                    function(result, event) {
                        buildView(result);
                        removeEmptyCells();
                        setTable();
                    }
                    )
            });
        }
        
        function buildView(result) {
            viewObject = result;
            console.log( viewObject );      
        }
        
        function setTable(){
            datatablesInit = true;
            
            tableParent = j$('.campaign-view-table')[0]; //getPageBlockBody("campaign_history_pb");
            tableParent.appendChild(table = generateTableAndHeader(tableParent, MARKETING_TOUCH_COLUMNS, 'marketing_touches'));
     
            table.appendChild(tbody = document.createElement("tbody"));
            displayColumns = MARKETING_TOUCH_COLUMNS;
            objs = viewObject["data"];
            for (var i=0;i<objs.length;i++) {
                obj = objs[i];
                tbody.appendChild(row = generateTableRow());
                for (var j = 0; j < displayColumns.length; j++) {
                    var cell = generateDataTablesCell(row, false);
                    cell.style.padding = "5px";
                    if(displayColumns[j]["name"] == "Type") 
                      cell.innerHTML = obj["IsNote"] ? "Note" : "Attachment"
                    else if(displayColumns[j]["name"] == "Title") 
                      cell.innerHTML = '<a target="_blank" class="customTarget" href="/' + obj["Id"] + '">' + obj["Title"] + '</a>';
                    else
                      cell.innerHTML = getHTMLForValue(obj, displayColumns[j]);
                }
            }
            initializeDataTable(j$(table), 'marketing-touches');

        }
            
        function toggleView() {
            j$(".metrics").toggle();
            j$(".detail-table-div").toggle();
            
             if( !datatablesInit )
                getViewObject();
                
            j$(".view-toggle").toggleClass("active-toggle");
            
        }
        function switchAttribution(mode) {  
            j$(".attribution-toggle").toggleClass("active-toggle");
            console.log( mode );
            switchAttributionAF( mode );
        }
        
        function downloadCSV( ){
            console.log( eventsObj );
            var filename = 'Opportunity_Timeline_Export.csv';
            var csvFile = 'Touch Type,Target,Account,Campaign,Attribuition,Status,Activity Date\r\n';
            for (var i = 0; i < eventsObj.length; i++) {
                var line = '\"' + eventsObj[i].eventType + '\",' + eventsObj[i].eventTargetName + ',\"' + eventsObj[i].eventAccountName + '\",\"' + eventsObj[i].eventCampaignName + '\",\"' + eventsObj[i].eventAttribution + '\",' + eventsObj[i].eventStatus + '\",' + eventsObj[i].eventDate;                  
                csvFile += line + '\r\n';
            }

            csvFile = csvFile.replace(/null/g, '');
            
            
            var a = document.createElement('a');
            a.href     = 'data:attachment/csv;charset=utf-8,\ufeff' + escape(csvFile);
            a.target   ='_blank';
            a.download = filename;
            a.innerHTML = "Click me to download the file.";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }

        function removeEmptyCells(){
            var row = document.getElementById("oppsTouchedRow");
            var row2 = document.getElementById("oppsTouchedHeaderRow");
            
            for(var i=row.cells.length -1; i>=0; i--){
                if(row.cells[i].innerHTML.trim() == ""){
                    row.deleteCell(i);
                    row2.deleteCell(i);
                } 
            }

            //show or hide the layover for the ranking
            var filter1 = document.getElementsByClassName("oppFilterClass")[0];
            var filter2 = document.getElementsByClassName("recordFilterClass")[0];
            var filter1Value = filter1.options[filter1.selectedIndex].value;
            var filter2Value = filter2.options[filter2.selectedIndex].value;
            var filterLayover = document.getElementById("filtered");
            var rankContent = document.getElementsByClassName("rankFilter");

            if(filter1Value != "ALL" || filter2Value !="ALL"){
                filterLayover.classList.remove("hidden");
                for(content in rankContent){
                    if(rankContent[content].classList != undefined)
                        rankContent[content].classList.add("hidden");
                }
            } else {
                filterLayover.classList.add("hidden");
                for(content in rankContent){
                    if(rankContent[content].classList != undefined)
                        rankContent[content].classList.remove("hidden");
                }
            }
            
        }

        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        
    </script>
</apex:page>