.THIS #sfdc_username_container{
    margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;

}

.THIS #sfdc_lock{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS  #Auth0error {
    text-align: center;
    color:#FF0000;
}

.THIS  .login-icon {
    color:#ccc;
    font-size:12px;
    vertical-align: middle;
    display:inline-block;
}

.THIS #sfdc_password_container{
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.THIS  button.sfdc_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #ffffff;
    background-color: #00a5b5!important;
    border-color: #357ebd;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    text-shadow: none;
    vertical-align: middle;
    background-image: none;
    border: 0px;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS  button:hover {
    background-color:#00a5b5!important;
    border-color:#357ebd;
    cursor:pointer;
}

.THIS button .label {
    color: #ffffff;	
}

.THIS  input {
    margin-left:10px;
    margin-top: 3px;
    border: 0px solid transparent;
    width: 70%;
    -webkit-appearance: none;
    font-size: 14px;
}


.THIS  a {
    color:black;
    text-decoration: none;
}
.THIS  a:hover {
    color:black;
    text-decoration: none;
}

.THIS label.uiLabel-hidden {
    display:none;
}