.THIS .CoveoSearchbox .CoveoSearchButton {
    background-color: #FF8300;
    border-radius: 5px;
    border: none;
    width: 130px;
    height: 49px;
    padding-top: 3px;
}
.THIS .CoveoSearchbox .CoveoSearchButton:hover {
    color: #fff;
}