.THIS nav ul {
	padding: 0;
  	margin: 0;
	list-style: none;
	position: relative;
}
	
.THIS nav ul li {
	display:inline-block;
	background-color: transparent;
    padding: 0.6em;
}

.THIS nav a {
	display:block;
	line-height: 21px;
	text-decoration:none;
    color: token(TenableWarmGray);
    font-weight: 400;
    padding: 5px 0.5em;
    font-size: 16px;
    border-radius: 0 0 token(TenableBorderRadius) token(TenableBorderRadius);
}

.THIS nav a:hover { 
	color: token(TenableWarmGray);
    background-color: transparent !important;
    text-decoration: underline;
}

/* Hide Dropdowns by Default */
.THIS nav ul ul {
	display: none;
	position: absolute; 
	top: 40px; /* the height of the main nav */
    background-color: white;
    border-radius: .125rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    padding: 40px 15px 8px 15px;
}
	
/* Display Dropdowns on Hover */
.THIS nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
.THIS nav ul ul li {
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
.THIS nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
.THIS li > a:after { content:  ' '; font-weight: 100; }
.THIS li > a:only-child:after { content: ''; }


.THIS #menuToggle { display: none; }

@media only screen and (max-width: 1024px) {
    .THIS nav ul li {
        max-width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media only screen and (max-width : 768px) {
    .THIS #menuToggle { display: block; }
    .THIS nav { display: none; }

    .THIS #menuToggle {
        display: block;
        position: relative;
        left: 140%;
        top: 16px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    
    .THIS #menuToggle input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }
    
    .THIS #menuToggle span.hamburger {
        display: block;
        width: 24px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 0;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
    }
    
    .THIS #menuToggle span.hamburger:first-child {
        transform-origin: 0% 0%;
    }
    
    .THIS #menuToggle span.hamburger:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    .THIS #menuToggle input:checked ~ span.hamburger {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }
    
    .THIS #menuToggle input:checked ~ span.hamburger:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    .THIS #menuToggle input:checked ~ span.hamburger:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    
    .THIS #menu {
        position: absolute;
        width: 345px;
        margin: -100px 0 0 -285px;
        padding: 50px;
        padding-top: 125px;
        background: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    .THIS #menu li {
        padding: 10px 0;
        font-size: 22px;
        width: 100%;
        display: inline-block;
        color: #EFF1F3;
    }
    .THIS #menuToggle input:checked ~ ul {
        transform: none;
    }
}
@media only screen and (max-width : 767px) {

    .THIS #menuToggle {
        left: 0;
    }
}