<apex:page standardController="KimbleOne__ActivityAssignmentClass__c" extensions="KimbleOne.ActivityAssignmentClassHomeController" sidebar="false" >
 
<apex:composition template="KimbleOne__SiteMaster">

<apex:define name="Menu">

</apex:define>
    
<apex:define name="Content">
<style>
	.job
	{
		padding-left: 20px;
		background-repeat: no-repeat;
		padding-right: 12px;
		height: 18px;
		display: block;
		line-height: 18px;
		font-weight:bold;
	}
	.processing 
	{
		background-image: url('{!URLFOR($Resource.JobImages, 'running16.gif')}');
	}
	
	
	
</style>

<script>
 		function initialisePopup()
 		{
 			showModalBoxy();
 			getReferenceData();
 			jQuery('[id$="criterion-field-name"]').fieldSelector({rootObject:'{!$ObjectType.ActivityAssignment__c.Name}'});
 		}
 		function afterSubmit()
 		{
 			jQuery('[id$="criterion-field-name"]').fieldSelector({rootObject:'{!$ObjectType.ActivityAssignment__c.Name}'});
 		}
		function SetCleanupAssignmentEntryBefore()
		{
			DisableButton('ReClasActivityButton');
			jQuery('.ReClasActivityLoading').css('display','');
			
			Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.ActivityAssignmentClassHomeController.UpgradeAnyCleanupAssignmentEntrySpecification}',
	      		function(resultContinue, event){
	      	    	if (resultContinue==null && event.type == 'exception') // error
	                {
	        	    	jQuery('#ClassErrorsExt').css('display','');
						jQuery('#ClassErrorsExtMsg').html(event.message);
				    	EnableButton('ReClasActivityButton');
				    	jQuery('.ReClasActivityLoading').css('display','none');
						jQuery('.ReClasActivityCounter').html('');
					}
	                else
	                {
	                	jQuery('#ClassErrorsExt').css('display','none');
						jQuery('#ClassErrorsExtMsg').html('&nbsp;');
				
		      	    	if (!resultContinue) // finished
		            	{
		                	SetActivityAssignmentClassLoop(); //Start Activity
		               	}
		               	else
		               	{
		               		SetCleanupAssignmentEntryBefore();//uncompleted run again
		               	}
		            }
	 			}, 
	            {escape: true, buffer: false, timeout: 120000});
			
		
		}
		function SetActivityAssignmentClassLoop()
		{
			DisableButton('ReClasActivityButton');
			jQuery('.ReClasActivityLoading').css('display','');
			
			Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.ActivityAssignmentClassHomeController.UpgradeAnySetActivityAssignmentClass}',
				function(resultContinue, event){
					if (resultContinue==null && event.type == 'exception') // error
	                {
	        	        $('#ClassErrorsExt').css('display','');
						$('#ClassErrorsExtMsg').html(event.message);
						EnableButton('ReClasActivityButton');
						jQuery('.ReClasActivityLoading').css('display','none');
						jQuery('.ReClasActivityCounter').html('');
					}
	                else
	                {
	                    $('#ClassErrorsExt').css('display','none');
						$('#ClassErrorsExtMsg').html('&nbsp;');
				
	 					if (!resultContinue) // finished
	                	{
	        				SetCleanupAssignmentEntry();//completed - run cleanup
						}
						else if (resultContinue)
						{
							SetActivityAssignmentClassLoop();//uncompleted run again
						}
					}   	
	            }, 
	            {escape: true, buffer: false, timeout: 120000});
	            
	      }
	    
		  function SetCleanupAssignmentEntry()
	      {  
	            
	            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.ActivityAssignmentClassHomeController.UpgradeAnyCleanupAssignmentEntrySpecification}',
	      	       			function(resultContinue, event){
	      	       			if (resultContinue==null && event.type == 'exception') // error
	                		{
	        	    		    jQuery('#ClassErrorsExt').css('display','');
								jQuery('#ClassErrorsExtMsg').html(event.message);
				    			EnableButton('ReClasActivityButton');
				    			jQuery('.ReClasActivityLoading').css('display','none');
								jQuery('.ReClasActivityCounter').html('');
							}
	                		else
	                		{
	                			jQuery('#ClassErrorsExt').css('display','none');
								jQuery('#ClassErrorsExtMsg').html('&nbsp;');
				
		      	       			if (!resultContinue) // finished
		                		{
		                			EnableButton('ReClasActivityButton');
									jQuery('.ReClasActivityLoading').css('display','none');
									jQuery('.ReClasActivityCounter').html('');
		               			}
		               			else
		               			{
		               				SetCleanupAssignmentEntry();//uncompleted run again
		               			}
		               		}
	 					}, 
	            		{escape: true, buffer: false, timeout: 120000});
		}		


		var activityAssignmentObj='{!JSINHTMLENCODE(AssignmentObjectName)}';
		var fieldType;
		function validateFieldName()
		{
			try
			{
			BlockSection('#CriterionPanel');
			var value=jQuery('.FieldName').val();
			var isValidQuery;
			if(value.lastIndexOf('__r')==value.length-3)
			{
			//should return false
			isValidQuery=1;
			}
			else if(value!=null && value!='')
			{
				var fields=jQuery('.FieldName').val().split('.');
				
				var nextObjectToQuery;
				isValidQuery=fields.length;
				jQuery.each(fields, function(index, value)
				{
					var sfObject;
					if(index==0)
						sfObject=sforce.connection.describeSObject(activityAssignmentObj);
					else
						sfObject=sforce.connection.describeSObject(nextObjectToQuery);
					
					var field=value;
					var sfObjectFields=sfObject.fields;
					var isValidField=false;
					jQuery.each(sfObjectFields, function(index1, value)
					{
						if(field == sfObjectFields[index1].name)
						{
							isValidField=true;
							isValidQuery=isValidQuery-1;
							fieldType = sfObjectFields[index1].type;
							nextObjectToQuery=null;
					
						}
						else if(field  == sfObjectFields[index1].relationshipName)
						{
							isValidField=true;
							isValidQuery=isValidQuery-1;
							fieldType = sfObjectFields[index1].type;
							nextObjectToQuery=sfObjectFields[index1].referenceTo;
						}
						
					});
					
				});
			}
		
			}
			catch(e)
			{
				isValidQuery=1;
			}	
			UnblockSection('#CriterionPanel');
			
			var valid=(isValidQuery==0);
			
			if(fieldType=='boolean')
			{
				jQuery('.Operator').next().find("option").removeAttr('disabled');
				jQuery('.Operator').next().find("option[value!='{!JSINHTMLENCODE(OperatorEquals)}']").attr('disabled','disabled');
				jQuery('.Operator').next().val('{!JSINHTMLENCODE(OperatorEquals)}');
				jQuery('.Operator').val('{!JSINHTMLENCODE(OperatorEquals)}');
			}
			else if(fieldType=='numeric' || fieldType=='double' || fieldType=='decimal')
			{
				jQuery('.Operator').next().find("option").removeAttr('disabled');
				jQuery('.Operator').next().find("option[value='{!JSINHTMLENCODE(OperatorIsIn)}']").attr('disabled','disabled');
				jQuery('.Operator').next().find("option[value='{!JSINHTMLENCODE(OperatorIsNotIn)}']").attr('disabled','disabled');
				if(jQuery('.Operator').next().val()=='{!JSINHTMLENCODE(OperatorIsIn)}' || jQuery('.Operator').next().val()=='{!JSINHTMLENCODE(OperatorIsNotIn)}' || jQuery('.Operator').next().val()==null)
				{
					jQuery('.Operator').next().find("option").each(function(key,value)
					{
						if(jQuery(this).attr('disabled')!='disabled')
						{	
							jQuery('.Operator').next().val(jQuery(this).val());
							 return false;
						}
					});
				}
			}
			else if(fieldType=='date' || fieldType=='datetime')
			{
				jQuery('.FieldName').css('background-color','yellow');
				DisableButton('SaveButton');
				jQuery('#CriterionErrorsExt').show();
				jQuery('#CriterionErrorsExtMsg').html('Cannot specify a field of date type.');
				return false;
			}
			else if(fieldType=='string' || fieldType=='id' || fieldType=='reference')
			{
				jQuery('.Operator').next().find("option").removeAttr('disabled');
				jQuery('.Operator').next().find("option[value='{!JSINHTMLENCODE(OperatorGreaterThan)}']").attr('disabled','disabled');
				jQuery('.Operator').next().find("option[value='{!JSINHTMLENCODE(OperatorLessThan)}']").attr('disabled','disabled');
				if(jQuery('.Operator').next().val()=='{!JSINHTMLENCODE(OperatorGreaterThan)}' || jQuery('.Operator').next().val()=='{!JSINHTMLENCODE(OperatorLessThan)}' || jQuery('.Operator').next().val()==null)
				{//Do we need to change it
					jQuery('.Operator').next().find("option").each(function(key,value)
					{
						if(jQuery(this).attr('disabled')!='disabled')
						{
							jQuery('.Operator').next().val(jQuery(this).val());
							 return false;
						}
					});
				}
			}
			if(!valid)
			{
				jQuery('.FieldName').css('background-color','yellow');
				DisableButton('SaveButton');
				jQuery('#CriterionErrorsExt').css('display','');
				jQuery('#CriterionErrorsExtMsg').html('Syntax incorrect!');
				
			}
			else
			{
			
				decideHide();		
				jQuery('.FieldName').css('background-color','');
				jQuery('#CriterionErrorsExt').css('display','none');
				EnableButton('SaveButton');
					
			
				
			}
			return valid;
		}
		function setOperatorValueToFirst()
		{
			jQuery('.Operator').next().find("option").each(function(key,value)
			{
				if(jQuery(this).attr('disabled')!='disabled')
				{
					jQuery('.Operator').next().val(jQuery(this).val());
					jQuery('.Operator').val(jQuery(this).val());
					 return false;
				}
			});
		}
		function validateNumeric()
		{
			if((fieldType=='numeric' || fieldType=='double' || fieldType=='decimal') && isNaN(jQuery('.PreEnteredValue').val()))
			{
				jQuery('#CriterionErrorsExt').show();
				jQuery('#CriterionErrorsExtMsg').html('Value should be numeric.');
				return false;
			}
			else if(fieldType=='date' || fieldType=='datetime')
			{
			 	jQuery('#CriterionErrorsExt').show();
				jQuery('#CriterionErrorsExtMsg').html('Cannot specify a field of date type.');
				return false;
			}
			return true;
		}
		
		function decideHide()
		{
			if(jQuery('.Operator').next().val()!='{!JSINHTMLENCODE(OperatorIsIn)}' && jQuery('.Operator').next().val()!='{!JSINHTMLENCODE(OperatorIsNotIn)}')
			{
				jQuery('.SelectedValuePanel').css('display','none');
				
				if(fieldType=='numeric' || fieldType=='double' || fieldType=='decimal')
				{
					jQuery('.EnteredValuePanel').css('display','block');
					jQuery('.CheckedValuePanel').css('display','none');
					if(jQuery('.FieldValue').val()!='')
					{
						if(jQuery('.PreEnteredValue').val()=='')
							jQuery('.PreEnteredValue').val(jQuery('.FieldValue').val());
					}
				}
				else if(fieldType=='string' || fieldType=='id' || fieldType=='reference')
				{	
					jQuery('.EnteredValuePanel').css('display','block');
					jQuery('.CheckedValuePanel').css('display','none');
					if(jQuery('.FieldValue').val()!='')
					{
						if(jQuery('.PreEnteredValue').val()=='')
						{
							var fieldValue = jQuery('.FieldValue').val();
							var fieldResult = fieldValue.replaceAt(0,' ');
							fieldResult = fieldResult.replaceAt(fieldResult.length-1,' ');
							fieldResult=trim(fieldResult);
							jQuery('.PreEnteredValue').val(fieldResult);
						}
					}
				}
				else if(fieldType=='boolean')
				{
					jQuery('.CheckedValuePanel').css('display','block');
					jQuery('.EnteredValuePanel').css('display','none');
					if(jQuery('.FieldValue').val()!='')
					{
						var value=jQuery.parseJSON(jQuery('.FieldValue').val());
						if(jQuery('[name=CheckedValue][value=false]:checked').length==0 && jQuery('[name=CheckedValue][value=true]:checked').length==0)
						{
							if(value==true)
								jQuery('[name=CheckedValue][value=true]').prop('checked', true);
							else
								jQuery('[name=CheckedValue][value=false]').prop('checked', true);
						}	
					}
				}
			}
			else
			{
				jQuery('.SelectedValuePanel').css('display','block');
				jQuery('.EnteredValuePanel').css('display','none');
				jQuery('.CheckedValuePanel').css('display','none');
				if(jQuery('.FieldValue').val()!='')
				{
					var selectedvalues=jQuery.parseJSON(jQuery('.FieldValue').val());
					jQuery('#SelectedValues').html('');
					jQuery.each(selectedvalues, function(i, value)
					{
						if(selectedvalues[i]!='')
							jQuery('#SelectedValues').append(jQuery('<option></option>').attr('value',selectedvalues[i]).text(selectedvalues[i])); 
					});
				}
			}
			decideDisableSaveButton();
		}
		function beforeSave()
		{
		
			if(jQuery('.Operator').next().val()!='{!JSINHTMLENCODE(OperatorIsIn)}' && jQuery('.Operator').next().val()!='{!JSINHTMLENCODE(OperatorIsNotIn)}')
			{
				if(fieldType=='numeric' || fieldType=='double' || fieldType=='decimal' )
				{
					jQuery('.EnteredValuePanel').css('display','block');
					jQuery('.FieldValue').val(jQuery('.PreEnteredValue').val());
				}
				else if(fieldType=='string'|| fieldType=='id'  || fieldType=='reference')
				{
					jQuery('.FieldValue').val('"'+jQuery('.PreEnteredValue').val()+'"');
				}
				else if(fieldType=='boolean')
				{
					if(jQuery('[name=CheckedValue][value=true]:checked').length>0)
						jQuery('.FieldValue').val('true');
					else
						jQuery('.FieldValue').val('false');
					
				}
			
			}
			else
			{
				var selectedvalues='';
				jQuery("#SelectedValues option").each(function(key,value)
				{
					selectedvalues+='"'+jQuery(this).val()+'"';
					if(jQuery("#SelectedValues option").length!=(key+1))
						selectedvalues+=',';
						
				});
					jQuery('.FieldValue').val('['+selectedvalues+']');
			}
		}
		function decideDisableSaveButton()
		{
			if((jQuery('.Operator').next().val()=='{!JSINHTMLENCODE(OperatorIsIn)}' || jQuery('.Operator').next().val()=='{!JSINHTMLENCODE(OperatorIsNotIn)}') && jQuery("#SelectedValues option").length==0)
				DisableButton('SaveButton');
			else
				EnableButton('SaveButton');
		}
		
		
		
 	</script>
	<apex:outputPanel id="classPanel" >
								 		    	
		<apex:pagemessages escape="false"/>

		<apex:pageBlock id="class" title="{!$ObjectType.KimbleOne__ActivityAssignmentClass__c.Label}">    
			<div id="ClassErrorsExt" style="display:none">
				<apex:pageMessage summary="{!$Label.kimbleone__Errors}" severity="warning" strength="2" rendered="true">
					<ul style=" margin:0px ;padding:0">
						<li id="ClassErrorsExtMsg" class="ClassErrorsExtMsg" >
							&nbsp;
						</li>
					</ul>
				</apex:pageMessage>
			</div>
			<apex:pageBlockButtons location="top"  >
			<button  class="btn ReClasActivityButton" onclick="if(!confirm('Are you sure?'))return;SetCleanupAssignmentEntryBefore();">
				<div style="float:left;padding:2px">Reclassify&nbsp;&nbsp;</div>
				<div class="ReClasActivityLoading" style="display:none;float:right">
         				<span class="job  processing ReClasActivityCounter"></span>
         			</div>
			
			</button>
			<button  class="btn" onclick="initialiseModalBoxy('#TestPopup', 'Test {!$ObjectType.KimbleOne__ActivityAssignment__c.Label}');newActivityAssignment()">
				<div style="float:left;padding:2px">Test</div>
			</button>
		    </apex:pageBlockButtons>
			<apex:pageblockSection collapsible="false" showheader="false"  columns="2"> 
              	
              	<apex:outputfield id="className" value="{!KimbleOne__ActivityAssignmentClass__c.Name}" />
               	<apex:outputfield id="classPriority" value="{!KimbleOne__ActivityAssignmentClass__c.KimbleOne__Priority__c}" />
               	
               	<apex:outputfield id="classStyleClass" value="{!KimbleOne__ActivityAssignmentClass__c.KimbleOne__StyleClass__c}" />
               	<apex:outputfield id="classIncludeInAggregate" value="{!KimbleOne__ActivityAssignmentClass__c.KimbleOne__IncludeInAggregateUtilisationPercentage__c}" />
               	
            </apex:pageblockSection>

		</apex:pageBlock>
	
	</apex:outputPanel>
               	        
	<apex:outputPanel id="ClassCriteriaPanel">
        
		<apex:form id="TheForm"> 
          		<apex:actionFunction action="{!NewCriterion}" name="newClassCriterion" rerender="ClassCriterion" oncomplete="initialisePopup();setOperatorValueToFirst();">
				</apex:actionFunction>
				<apex:actionFunction action="{!EditCriterion}" name="editClassCriterion" rerender="ClassCriterion"  oncomplete="initialisePopup();validateFieldName()">
       			<apex:param name="cId" value="" />
				</apex:actionFunction>
				
				
          	<apex:pageMessages escape="False" />    
          
			<apex:pageBlock id="classCriteria" title="{!$ObjectType.KimbleOne__ActivityAssignmentClassCriterion__c.LabelPlural}">
          
            	<apex:pageBlockButtons location="top"  >
					<input type="button" id="ReClasActivityButton" class="btn" value="{!$Label.New}" onclick="initialiseModalBoxy('#CriterionPopup', '{!$Label.New} {!$ObjectType.ActivityAssignmentClassCriterion__c.Label}');newClassCriterion()"></input>
            	</apex:pageBlockButtons>

            	<apex:pageBlockTable value="{!Criterions}" var="criterion" >
					<apex:column headerValue="{!$Label.kimbleone__ActionLinksHeader}">
        				<apex:outputLink value="#" onclick="initialiseModalBoxy('#CriterionPopup', '{!$Label.kimbleone__Edit} {!$ObjectType.KimbleOne__ActivityAssignmentClassCriterion__c.label}');editClassCriterion('{!JSENCODE(criterion.Id)}')">{!$Label.kimbleone__Edit}</apex:outputLink>&nbsp;|&nbsp;
     					<apex:commandLink onclick="var d = confirmDelete();if(!d) return;" action="{!DeleteCriterion}" reRender="TheForm" >{!$Label.kimbleone__Delete}
							<apex:param name="cId" value="{!criterion.Id}" />
						</apex:commandLink>
			 	 	</apex:column>
				    <apex:column value="{!criterion.KimbleOne__FieldName__c}" />	
		            <apex:column value="{!criterion.Operator__r.Name}" headerValue="{!$ObjectType.KimbleOne__ActivityAssignmentClassCriterion__c.Fields.KimbleOne__Operator__c.Label}"/>	
		            <apex:column value="{!criterion.KimbleOne__Value__c}" />	
    	        </apex:pageBlockTable> 

        	</apex:pageBlock> 

			
		</apex:form>
	
	</apex:outputPanel>
	
	
	
	<div id="CriterionPopup" style="display:none">
		
			<apex:form >
			<apex:outputPanel id="ClassCriterion" >
				<div id="CriterionErrors">
					<apex:pageMessages escape="false" />
				</div>
				
				<div id="CriterionErrorsExt" style="display:none">
					<apex:pageMessage summary="{!$Label.kimbleone__Errors}" severity="warning" strength="2" rendered="true">
						<ul style=" margin:0px ;padding:0">
							<li id="CriterionErrorsExtMsg" class="CriterionErrorsExtMsg" >
								&nbsp;
							</li>
						</ul>
					</apex:pageMessage>
				</div>
				<div id="CriterionPanel">
				<apex:pageBlock >
					<apex:pageblockSection collapsible="false" showheader="false" columns="1">	
						<apex:pageBlockSectionItem >
               				<apex:outputLabel value="{!$ObjectType.KimbleOne__ActivityAssignmentClassCriterion__c.Fields.KimbleOne__FieldName__c.Label}" />	
               				<apex:inputText id="criterion-field-name" value="{!criterion.KimbleOne__FieldName__c}" styleclass="FieldName"  onchange="validateFieldName()" style="width:400px;" />
               			</apex:pageBlockSectionItem>
						<apex:pageBlockSectionItem >
               				<apex:outputLabel value="{!$ObjectType.KimbleOne__ActivityAssignmentClassCriterion__c.Fields.KimbleOne__Operator__c.Label}" />	
               				<apex:inputText value="{!criterion.KimbleOne__Operator__c}" styleclass="kimbledropdown Operator" onchange="decideHide()"/>
               			</apex:pageBlockSectionItem>
               			<apex:inputText value="{!criterion.KimbleOne__Value__c}" styleclass="FieldValue HideControl"/>
						<apex:pageblockSectionItem >
							<apex:outputText value="{!$ObjectType.KimbleOne__ActivityAssignmentClassCriterion__c.Fields.KimbleOne__Value__c.Label}" styleclass="" />
								<apex:outputPanel layout="none" >
									<apex:panelGrid columns="2"  styleclass="SelectedValuePanel" style="display:none;vertical-align:top">
										<apex:outputPanel >
											<input type="text" id="PreSelectedValues" size="8" style="width:200px" />
										</apex:outputPanel>
										<apex:outputPanel >
											<input id="addButton" type="button" value="{!$Label.AddButton}" onclick="if($('#PreSelectedValues').val()=='')return false;$('#SelectedValues').append($('<option></option>').attr('value',jQuery.trim($('#PreSelectedValues').val())).text(jQuery.trim($('#PreSelectedValues').val()))); $('#PreSelectedValues').val('');decideDisableSaveButton()"/>
										</apex:outputPanel>
										<apex:outputPanel >
											<select Id="SelectedValues"  multiple="multiple" size="5" style="width:200px" 
												onclick="if(	$('#SelectedValues option:selected').length>0) $('#removeButton').removeAttr('disabled'); else $('#removeButton').attr('disabled','disabled');">
											</select>
										</apex:outputPanel>
										<apex:outputPanel >
											<input id="removeButton" type="button" value="{!$Label.RemoveButton}" onclick="$('#SelectedValues option:selected').remove();$('#removeButton').attr('disabled','disabled'); decideDisableSaveButton()" disabled="disabled"/>
										</apex:outputPanel>
									</apex:panelGrid>
									<apex:outputPanel styleclass="EnteredValuePanel" >
											<input type="text" id="PreEnteredValue" class="PreEnteredValue"  size="8" style="width:200px" />
									</apex:outputPanel>
									<apex:outputPanel styleclass="CheckedValuePanel" style="display:none">
										<label><input type="radio" id="CheckedValueTrue" name="CheckedValue" value="true"/>True</label>
										<label><input type="radio" id="CheckedValueFalse" name="CheckedValue" value="false"/>False</label>
									</apex:outputPanel>
								</apex:outputPanel>
						</apex:pageblockSectionItem>
						
						
					</apex:pageblockSection>
				
					<apex:pageBlockButtons location="bottom">
						<apex:commandButton id="save" action="{!SaveCriterion}" value="{!$Label.kimbleone__Save}" oncomplete="getReferenceData();hideModalBoxyWithErrorCheck('#CriterionErrors');decideHide();afterSubmit()" rerender="ClassCriterion,ClassCriteriaPanel" onclick="if(!validateNumeric())return false;else beforeSave();" styleclass="DisableButtonWhileBusy, SaveButton" />
						<input class="btn" type="button" onclick="hideModalBoxy();" value="{!$Label.Cancel}"/>
            		</apex:pageBlockButtons>	
				
				</apex:pageBlock>
				</div>
				</apex:outputPanel>
			</apex:form>
	</div>
	
    
    <div id="TestPopup"  style="display: none">
		<apex:outputPanel id="TestActivityAssignment">
			<div id="TestErrors">
				<apex:pagemessages escape="false"/>
			</div>
			<apex:form >
				<apex:actionFunction action="{!newActivityAssignment}" name="newActivityAssignment" rerender="TestActivityAssignment" oncomplete="showModalBoxy()" immediate="true">
				</apex:actionFunction>
			
				<apex:pageBlock >
					<apex:pageBlockButtons location="bottom"  >
						<apex:commandButton action="{!GetActivityAssignmentClass}" value="{!$Label.kimbleone__Get}"
									reRender="TestActivityAssignment" styleclass="DisableButtonWhileBusy" />
									<input class="btn" type="button" onclick="hideModalBoxy();" value="{!$Label.Cancel}" />
					</apex:pageBlockButtons>
					<apex:pageblockSection collapsible="false" showheader="false"  columns="1"> 
						<apex:pageblockSectionItem >
							<apex:outputLabel value="{!$ObjectType.KimbleOne__ActivityAssignment__c.Label}"/>
							<apex:outputPanel layout="none">
								<div class="requiredInput">
									<div class="requiredBlock"></div>
										<apex:inputText required="true" value="{!dummyActivityAssignment.KimbleOne__ActivityAssignment__c}"/>
								</div>
							</apex:outputPanel>
						</apex:pageblockSectionItem>
						<apex:pageblockSectionItem >
							<apex:outputLabel value="{!$Label.kimbleone__Result}"/>
							<apex:outputField value="{!dummyActivityAssignment.KimbleOne__ActivityAssignmentClass__c}"/>
						</apex:pageblockSectionItem>
					</apex:pageblockSection>
				</apex:pageBlock>
			</apex:form>
		</apex:outputPanel>
	</div>
	<c:ResourceAssignmentCalendar />
</apex:define>

</apex:composition>

</apex:page>