<apex:page standardController="KimbleOne__CandidateStage__c" extensions="KimbleOne.CandidateStageRedirectController" action="{!Redirect}" showHeader="true" sidebar="false">
<apex:pageMessages escape="False" />
</apex:page>