<apex:page standardcontroller="KimbleOne__CostAdjustment__c" extensions="KimbleOne.CostAdjustmentEditController" standardStylesheets="true" showHeader="true" sidebar="false" >
  	<apex:Composition template="KimbleOne__SiteMaster">
		<apex:define name="Menu">
			<c:Menu MenuContextType="DeliveryGroup" MenuContextId="{!KimbleOne__CostAdjustment__c.DeliveryElement__r.KimbleOne__DeliveryGroup__c}" MenuContextName="{!KimbleOne__CostAdjustment__c.DeliveryElement__r.DeliveryGroup__r.Name}"/>
		</apex:define>
		<apex:define name="Content">
			
			<!-- Cost Adjustment Details -->
			<apex:form >
				<apex:outputPanel id="costAdjustmentPanel">
							    		    
						<apex:pageBlock title="{!$ObjectType.KimbleOne__CostAdjustment__c.Label} - {!KimbleOne__CostAdjustment__c.Name}">
			 		    	
			 		    	<apex:pageBlockButtons location="top">
    							<apex:commandButton id="save" action="{!SaveCostAdjustment}" styleclass="DisableButtonWhileBusy" value="{!$Label.kimbleone__save}" rerender="costAdjustmentPanel"/>
    						</apex:pageBlockButtons>
			 		    	
			 		    	<apex:pageBlockSection columns="2">
									<apex:outputField value="{!KimbleOne__CostAdjustment__c.Account__r.Name}"/>																																								
									
									<apex:pageBlockSectionItem >
										<apex:outputText value="{!$ObjectType.KimbleOne__CostAdjustment__c.Fields.KimbleOne__CostAdjustmentReason__c.Label}" />
										<apex:selectList id="costItemAdjustmentReason" value="{!KimbleOne__CostAdjustment__c.KimbleOne__CostAdjustmentReason__c}" size="1" required="true">
											<apex:selectOptions value="{!CostAdjustmentReasons}" />
										</apex:selectList>
									</apex:pageBlockSectionItem>
									
									<apex:outputField value="{!KimbleOne__CostAdjustment__c.Name}"/>
																		
									<apex:inputField value="{!KimbleOne__CostAdjustment__c.KimbleOne__Description__c}"/>
									
									<apex:inputField value="{!KimbleOne__CostAdjustment__c.KimbleOne__AdjustmentDate__c}" required="true"/>
									
									<apex:pageBlockSectionItem rendered="{!IsDeliveryELementScope}">
										<apex:outputLabel value="{!$ObjectType.KimbleOne__CostAdjustment__c.Fields.KimbleOne__AdjustmentCost__c.Label}"></apex:outputLabel>
										<apex:inputField value="{!UnsignedAdjustmentCost.KimbleOne__InputDecimal__c}" required="true"/>
									</apex:pageBlockSectionItem>
									
									<apex:pageBlockSectionItem rendered="{!!IsDeliveryELementScope}">
										<apex:outputLabel value="{!$ObjectType.KimbleOne__CostAdjustment__c.Fields.KimbleOne__AdjustmentCost__c.Label}"></apex:outputLabel>
										<apex:outputField value="{!UnsignedAdjustmentCost.KimbleOne__InputDecimal__c}"/>
									</apex:pageBlockSectionItem>
									
									<apex:pageBlockSectionItem >
										<apex:outputLabel value="{!$ObjectType.KimbleOne__CostAdjustment__c.Fields.KimbleOne__Status__c.Label}"></apex:outputLabel>
										<apex:outputField value="{!KimbleOne__CostAdjustment__c.Status__r.Name}"/>
									</apex:pageBlockSectionItem>
									
					        </apex:pageBlockSection>
			 			</apex:pageBlock>
					</apex:outputPanel>
				</apex:form>
				
				<!-- Cost Adjustment Items Details -->
				<apex:form >
					<apex:outPutPanel id="costAdjustmentItemPanel">
						<apex:pageBlock >
	 						
						    <apex:pageBlockSection collapsible="false" showheader="true" columns="1">
								<apex:facet name="header">
									{!$ObjectType.KimbleOne__CostAdjustmentItem__c.LabelPlural}
								</apex:facet>
								<apex:facet name="body">
									<apex:pageBlockTable value="{!CostAdjustmentItems}" var="WOItem">
																	
										<apex:column headerValue="{!$ObjectType.KimbleOne__CostAdjustmentItem__c.Fields.KimbleOne__DeliveryElement__c.Label}" width="100px" style="text-align:left;" value="{!WOItem.KimbleOne__DeliveryElement__c}"></apex:column>																		
										<apex:column headerValue="{!$ObjectType.KimbleOne__CostAdjustmentItem__c.Fields.KimbleOne__AdjustmentCost__c.Label}" style="text-align:right;" width="100px" value="{!WOItem.KimbleOne__AdjustmentCost__c}"></apex:column>
										
										<!-- Invoice Types -->
										<apex:column headerValue="{!$ObjectType.KimbleOne__CostAdjustmentItem__c.Fields.KimbleOne__ActivityAssignment__c.Label}" width="100px" style="text-align:center;" value="{!WOItem.ActivityAssignment__r.Name}"></apex:column>
										<apex:column headerValue="{!$ObjectType.KimbleOne__CostAdjustmentItem__c.Fields.KimbleOne__TimeEntry__c.Label}" width="100px" style="text-align:center;" value="{!WOItem.TimeEntry__r.Resource__r.Name} {!WOItem.TimeEntry__r.TimePeriod__r.Name}"></apex:column>
										<apex:column headerValue="{!$ObjectType.KimbleOne__CostAdjustmentItem__c.Fields.KimbleOne__ExpenseItem__c.Label}" width="100px" style="text-align:center;" value="{!WOItem.ExpenseItem__r.Resource__r.Name} {!WOItem.ExpenseItem__r.ActivityExpenseCategory__r.Name}"></apex:column>																							
										<apex:column headerValue="{!$ObjectType.KimbleOne__CostAdjustmentItem__c.Fields.KimbleOne__Milestone__c.Label}" width="100px" style="text-align:center;" value="{!WOItem.Milestone__r.Name}"></apex:column>
										
									</apex:pageBlockTable>
								</apex:facet>
							</apex:pageBlockSection>

						</apex:pageBlock>
					</apex:outPutPanel>
				</apex:form>
				
		</apex:define>
	</apex:Composition>
</apex:page>