<apex:page controller="KimbleOne.CreditNotePrintController" showHeader="false" sidebar="false" language="{!creditNote.Locale__r.KimbleOne__LanguageCode__c}" renderAs="{!IF($CurrentPage.parameters.renderAs=='html','html','pdf')}">

<apex:stylesheet value="{!URLFOR($Resource.KimbleOne__PdfHeaderFooterStyle, 'PdfHeaderFooterStyle-A4.css')}"/>

<c:CreditNotePrintHeader TheCreditNote="{!CreditNote}" showLogo="{!CreditNote.CreditNoteTemplate__r.KimbleOne__ShowLogo__c}" logoUrl="{!documentUrl}" showFooter="{!CreditNote.CreditNoteTemplate__r.KimbleOne__ShowFooter__c}" showPageNumbers="{!CreditNote.CreditNoteTemplate__r.KimbleOne__ShowPageNumbers__c}"/>

<html>
	<body>
        <br/>        
        <div id="creditNotePrintAddressT2Container">
			<c:CreditNotePrintAddressT2 TheCreditNote="{!creditNote}" FromAddress="{!fromAddress}" FromAddressStyle="{!fromAddressStyle}" ToAddress="{!toAddress}" ToAddressStyle="{!toAddressStyle}" customerReference="{!customerReference}"/>
		</div>
		<br/>
        <div id="creditNotePrintBodyContainer">
			<c:CreditNotePrintBody TheCreditNote="{!creditNote}" TheCreditNoteSections="{!TheSectionsAndLines}" showAsTabularFormat="{!creditNote.InvoiceFormat__r.KimbleOne__ShowTimeInTabularFormat__c}" showLineNumbers="{!creditNote.CreditNoteTemplate__r.KimbleOne__ShowInvoiceLineNumbers__c}" />
		</div>
	</body>
</html>

</apex:page>