<apex:page standardController="KimbleOne__DeliveryGroup__c" extensions="KimbleOne.DeliveryGroupFieldsCardController" showHeader="false" sidebar="false" contentType="text/css" tabStyle="KimbleOne__DeliveryGroup__c">    
    <apex:outputPanel layout="none" rendered="{!DeliveryGroupFieldsetSize > 0}">
	<div class="card inverted variable-width min-horizontal-padding">
		<div class="cardHeading inverted">
				<h3 class="cardTitle"><apex:outputText value="{!DeliveryGroupFieldsetName}"/></h3>
			</div>
		
			<div class="cardBody">
				<table class="list cardBodyTable" border="0" cellpadding="0" cellspacing="0">
					<tbody>
				    	<!-- This looks a bit strange but basically we are iterating the fieldset to produce cells and then grouping them
				    	<!-- into two rows to ensure we get two columns to replicate the layout in our previous fieldset display on the old DeliveryGroupHome screen -->
						<apex:variable value="{!0}" var="num"/>
						<apex:repeat value="{!$ObjectType.KimbleOne__DeliveryGroup__c.FieldSets.KimbleOne__DeliveryGroupDetails}" var="f">
							<apex:outputPanel layout="none" rendered="{!num < DeliveryGroupFieldsetSize}">
								<td class="fieldsetColumn fieldsetLabelColumn"><h2><apex:outputLabel value="{!$ObjectType.KimbleOne__DeliveryGroup__c.FieldSets.KimbleOne__DeliveryGroupDetails[num].Label}"/></h2></td>
								<td class="fieldsetColumn fieldsetValueColumn"><apex:outputField value="{!KimbleOne__DeliveryGroup__c[f]}"/></td>
				    		</apex:outputPanel>
							<apex:variable value="{!num + 1}" var="num"/>				    		
				    	</apex:repeat>			    	
					</tbody>
				</table>			
			</div>
		</div>
	</apex:outputPanel>
 					
    <script>
		var cellsForWrapping = jQuery(".fieldsetColumn");
		
		for(var i = 0; i < cellsForWrapping.length; i+=4)
		{
		  cellsForWrapping.slice(i, i+4).wrapAll("<tr></tr>");
		}
    </script>
    
    <style>
		.fieldsetColumn
		{
			min-width:100px;
		}

		.fieldsetValueColumn
		{
			padding-right:10px !important;
		}
    </style>
	
</apex:page>