<apex:page standardController="KimbleOne__DeliveryStage__c" extensions="KimbleOne.DeliveryStageRedirectController" action="{!Redirect}" showHeader="true" sidebar="false">
<apex:pageMessages escape="False" />
</apex:page>