<apex:page standardController="KimbleOne__InterfaceType__c" recordSetVar="InterfaceTypes" extensions="KimbleOne.InterfaceTypeImportController"  showHeader="true" sidebar="false">
<apex:composition template="KimbleOne__SiteMaster">
    <apex:define name="Content">
 			<apex:form id="theForm" enctype="multipart/form-data">
    		
    			<apex:outputPanel id="pageErrors">
    				<apex:pageMessages escape="false" />
				</apex:outputPanel>
    			
    			<apex:pageBlock mode="edit">
    				<apex:pageBlockButtons location="top">
    					<apex:commandButton action="{!ImportInterfaceType}" value="{!$Label.kimbleone__ImportLabel}" />
    				</apex:pageBlockButtons>
    				
    				<apex:pageBlockSection columns="2">
    					<apex:pageBlockSectionItem >
    						<apex:outputText value="{!$Label.kimbleone__ImportFromFileLabel}" />
    						<apex:inputFile value="{!TheImport.body}" filename="{!TheImport.name}" contentType="{!TheImport.ContentType}" />
    					</apex:pageBlockSectionItem>
    					
    				</apex:pageBlockSection>
    				
    				
    			</apex:pageBlock>
 			</apex:form>
 		</apex:define>
 </apex:composition>
</apex:page>