<apex:page controller="KimbleOne.MenuController" showHeader="false" sidebar="false" contentType="text/css" tabStyle="KimbleOne__ReferenceData__c">    
	
		<div id="kimble-page-header-container">
	
			<div id="help-link-container">
				<!--  --><apex:outputPanel layout="none" rendered="{!!ISBLANK(HelpPageUrl)}">
					<a class="helpLink" href="{!HelpPageUrl}" target="_new" title="{!$Label.HelpNewWindowLink}">
						<span>{!$Label.HelpForThisPageLink}</span>
					</a>
					<img src="/s.gif" alt="" class="helpIcon" title=""/>
				</apex:outputPanel>
			</div>
			
			<apex:outputPanel layout="none" rendered="{!!ISBLANK(TheMenu)}">
						
			<div id="side-bar-container">
				<span id="side-bar-toggler" class="side-bar-pin fa fa-thumb-tack hidden-item" title="{!$Label.ToggleMenuLink}"></span>
				<span id="menu-collapse-toggler" class="menu-collapser fa fa-angle-right hidden-item" title="{!$Label.ToggleMenuCollapseLink}"></span>
				<apex:outputPanel layout="none" rendered="{!!ISBLANK(TheMenu.MenuFilter.Url)}">		
					<a href="{!JSENCODE(TheMenu.MenuFilter.Url)}" style="text-decoration: none;">
						<div id="menu-filter-context"><apex:outputText value="{!TheMenu.MenuFilter.Name}"/></div>
					</a>
				</apex:outputPanel>
				<apex:outputPanel layout="none" rendered="{!ISBLANK(TheMenu.MenuFilter.Url) && !ISBLANK(TheMenu.MenuFilter.Name)}">		
					<div id="menu-filter-context"><apex:outputText value="{!TheMenu.MenuFilter.Name}"/></div>
				</apex:outputPanel>
				
				<apex:outputPanel layout="none" rendered="{!!ISBLANK(TheMenu.Name)}">
					<div id="k-menu-container">
				       	<apex:outputPanel layout="none" rendered="{!TheMenu.MenuItems.size > 0}">
		
					       	<ul>
					            
					            <apex:repeat value="{!TheMenu.MenuItems}" var="level1">
		
					            <li class="{!IF(level1.MenuItems.size > 0, 'has-sub', '')} {!IF(level1.Selected, 'selected-menu-item','')}">
					                <apex:outputPanel layout="none" rendered="{!!ISBLANK(level1.Page)}">
					                	<a href="{!JSENCODE(level1.Page.Url)}">
					                		<apex:outputText value="{!level1.Name}"/>
					                		<apex:outputPanel layout="none" rendered="{!level1.Selected && (level1.MenuItems.size == 0 || level1.HasFilters) }">
						                		<span class="selected-menu-indicator fa fa-circle"></span> 
					                		</apex:outputPanel>
					                		<apex:outputPanel layout="none" rendered="{!level1.MenuItems.size > 0 && level1.IsParent && !level1.HasFilters}">
					                			<span class="sub-menu-indicator fa fa-angle-{!IF(level1.Selected, 'down','right')}"></span>
					                		</apex:outputPanel>
					                	</a>
					                </apex:outputPanel>
					                <apex:outputPanel layout="none" rendered="{!ISBLANK(level1.Page) && level1.MenuItems.size > 0 && !level1.IsInformation && !level1.IsAlert && !level1.IsWarning}">
					                	<a class="not-selectable" href="javascript:void(0);">
					                		<apex:outputText value="{!level1.Name}"/>
					                		<apex:outputPanel layout="none" rendered="{!level1.Selected && level1.MenuItems.size == 0}">
						                		<span class="selected-menu-indicator fa fa-circle"></span> 
					                		</apex:outputPanel>
					                		<apex:outputPanel layout="none" rendered="{!!level1.HasFilters && level1.IsParent}">
				                				<span class="sub-menu-indicator fa fa-angle-{!IF(level1.Selected, 'down','right')}"></span>
				                			</apex:outputPanel>
					                	</a>
					                </apex:outputPanel>
					                <apex:outputPanel layout="none" rendered="{!ISBLANK(level1.Page) && level1.IsAlert}">
					                	<a class="not-selectable menu-alert" href="javascript:void(0);">
					                		<span class="fa fa-exclamation-circle menu-message-indicator"></span>
					                		<apex:outputText value="{!$Label[level1.Name]}">
					                			<apex:param value="{!level1.Argument}"/>					                			
					                		</apex:outputText>
					                		<apex:outputPanel layout="none" rendered="{!level1.MenuItems.size > 0}">
				                				<span class="sub-menu-indicator fa fa-angle-{!IF(level1.Selected, 'down','right')}"></span>
				                			</apex:outputPanel>
					                	</a>
					                </apex:outputPanel>
					                <apex:outputPanel layout="none" rendered="{!ISBLANK(level1.Page) && level1.IsWarning}">
					                	<a class="not-selectable menu-warning" href="javascript:void(0);">
					                		<span class="fa fa-exclamation-triangle menu-message-indicator"></span>
					                		<apex:outputText value="{!$Label[level1.Name]}">
					                			<apex:param value="{!level1.Argument}"/>					                			
					                		</apex:outputText>
					                		<apex:outputPanel layout="none" rendered="{!level1.MenuItems.size > 0}">
				                				<span class="sub-menu-indicator fa fa-angle-{!IF(level1.Selected, 'down','right')}"></span>
				                			</apex:outputPanel>
					                	</a>
					                </apex:outputPanel>
					                <apex:outputPanel layout="none" rendered="{!ISBLANK(level1.Page) && level1.IsInformation}">
					                	<a class="not-selectable menu-info" href="javascript:void(0);">
					                		<span class="fa fa-info-circle menu-message-indicator"></span>
					                		<apex:outputText value="{!$Label[level1.Name]}">
					                			<apex:param value="{!level1.Argument}"/>					                			
					                		</apex:outputText>
					                		<apex:outputPanel layout="none" rendered="{!level1.MenuItems.size > 0}">
				                				<span class="sub-menu-indicator fa fa-angle-{!IF(level1.Selected, 'down','right')}"></span>
				                			</apex:outputPanel>
					                	</a>
					                </apex:outputPanel>
					                					                
					                <apex:outputPanel layout="none" rendered="{!level1.MenuItems.Size > 0}">					               
							       	<ul class="{!IF(level1.Selected && !level1.HasFilters, 'expanded-sub-menu','collapsed-sub-menu')}">
							            <apex:repeat value="{!level1.MenuItems}" var="level2">
		
							            <li class="{!IF(level2.MenuItems.size > 0, 'has-sub', '')} {!IF(level2.Selected, 'selected-menu-item','')}" >
							               <apex:outputPanel layout="none" rendered="{!!ISBLANK(level2.Page)}">
							                	<a href="{!JSENCODE(level2.Page.Url)}">
							                		<apex:outputPanel layout="none" rendered="{!level2.IsFilter}">
								                		<span class="filter-menu-item-indicator fa fa-filter level2"></span> 
							                		</apex:outputPanel>
							                		<apex:outputText value="{!level2.Name}"/>
							                		<apex:outputPanel layout="none" rendered="{!level2.Selected}">
								                		<span class="selected-menu-indicator fa fa-circle"></span> 
							                		</apex:outputPanel>
							                		<apex:outputPanel layout="none" rendered="{!level2.MenuItems.size > 0  && level2.IsParent && !level2.HasFilters}">
							                			<span class="sub-sub-menu-indicator fa fa-angle-right"></span>
							                		</apex:outputPanel>
							                	</a>
							                </apex:outputPanel>
							                <apex:outputPanel layout="none" rendered="{!ISBLANK(level2.Page) && level2.MenuItems.size > 0}">
							                	<a class="not-selectable" href="javascript:void(0);">
							                		<apex:outputText value="{!level2.Name}"/>
							                		<apex:outputPanel layout="none" rendered="{!level2.Selected}">
								                		<span class="selected-menu-indicator fa fa-circle"></span> 
							                		</apex:outputPanel>
							                		<apex:outputPanel layout="none" rendered="{!!level2.HasFilters && level2.IsParent}">
														<span class="sub-sub-menu-indicator fa fa-angle-right"></span>
													</apex:outputPanel>
							                	</a>
							                </apex:outputPanel>
							                
							                <apex:outputPanel layout="none" rendered="{!ISBLANK(level2.Page) && level2.MenuItems.size = 0}">
							                	<a class="not-selectable" href="/{!level2.Name}">
							                		<apex:outputText value="{!level2.Name}"/>							                		
							                	</a>
							                </apex:outputPanel>
							                
							                <apex:outputPanel layout="none" rendered="{!level2.MenuItems.Size > 0}">
									       	<ul>
									            <apex:repeat value="{!level2.MenuItems}" var="level3">
		
									            <li>
									                <a href="{!JSENCODE(level3.Page.Url)}">
								                		<apex:outputPanel layout="none" rendered="{!level3.IsFilter}">
									                		<span class="filter-menu-item-indicator fa fa-filter level3"></span> 
								                		</apex:outputPanel>
								                		<apex:outputText value="{!level3.Name}"/>	                
									                </a>
									            </li>
		
									            </apex:repeat>
									        </ul>
									        </apex:outputPanel>
							            </li>
							            </apex:repeat>
							        </ul>
							        </apex:outputPanel>
					            </li>
					            </apex:repeat>
					        </ul>
						</apex:outputPanel>
					</div>
				</apex:outputPanel>
			</div>

			</apex:outputPanel>
									
			<div id="page-header-container">
				<apex:outputPanel layout="none" rendered="{!ISBLANK(TheMenu)}"><!-- Render the K and the Menu Context Name & help  -->
					<div class="breadcrumb-item-link breadcrumb-heading">
						<apex:outputText value="{!MenuContextNameProperty}" rendered="{!!ISBLANK(MenuContextNameProperty)}"/>
					</div>
				</apex:outputPanel>

				<apex:outputPanel layout="none" rendered="{!!ISBLANK(TheMenu)}">
	
					<div id="breadcrumb-container">
						<apex:variable var="hasMainMenuObject" value="{!!ISBLANK(TheMenu.MainMenuObject)}"/>
						<apex:variable var="hasSelectedMenuItem" value="{!!ISBLANK(TheMenu.SelectedMenuItem)}"/>
						<apex:variable var="contextCount" value="{!0}"/>
						
						<apex:repeat value="{!TheMenu.MenuContextObjects}" var="obj">
							<span class="breadcrumb-item"><apex:outputPanel layout="none" rendered="{!contextCount > 0}"><span class="breadcrumb-indicator fa fa-angle-right"></span></apex:outputPanel><a class="breadcrumb-item-link" href="/{!obj.Id}" id="{!obj.Id}" onblur="LookupHoverDetail.getHover('{!obj.Id}').hide();" onfocus="LookupHoverDetail.getHover('{!obj.Id}', '/{!obj.Id}/m?retURL=%2F{!obj.Id}&isAjaxRequest=1').show();" onmouseout="LookupHoverDetail.getHover('{!obj.Id}').hide();" onmouseover="LookupHoverDetail.getHover('{!obj.Id}', '/{!obj.Id}/m?retURL=%2F{!obj.Id}&isAjaxRequest=1').show();"><span class="breadcrumb-heading"><apex:outputText value="{!obj.Name}"/></span></a></span>
							<apex:variable var="contextCount" value="{!contextCount + 1}"/>
						</apex:repeat>
						
						<apex:outputPanel layout="none" rendered="{!hasMainMenuObject}">
						    <span class="breadcrumb-item"><apex:outputPanel layout="none" rendered="{!contextCount > 0}"><span class="breadcrumb-indicator fa fa-angle-right"></span></apex:outputPanel><a class="breadcrumb-item-link" href="/{!JSENCODE(TheMenu.MainMenuObject.Id)}" id="{!JSENCODE(TheMenu.MainMenuObject.Id)}" onblur="LookupHoverDetail.getHover('{!TheMenu.MainMenuObject.Id}').hide();" onfocus="LookupHoverDetail.getHover('{!TheMenu.MainMenuObject.Id}', '/{!TheMenu.MainMenuObject.Id}/m?retURL=%2F{!TheMenu.MainMenuObject.Id}&isAjaxRequest=1').show();" onmouseout="LookupHoverDetail.getHover('{!TheMenu.MainMenuObject.Id}').hide();" onmouseover="LookupHoverDetail.getHover('{!TheMenu.MainMenuObject.Id}', '/{!TheMenu.MainMenuObject.Id}/m?retURL=%2F{!TheMenu.MainMenuObject.Id}&isAjaxRequest=1').show();"><span class="breadcrumb-heading"><apex:outputText value="{!TheMenu.MainMenuObject.Name}"/></span></a></span>
					    </apex:outputPanel>
		
						<apex:outputPanel layout="none" rendered="{!hasSelectedMenuItem}">
						    <span class="breadcrumb-item"><span class="breadcrumb-indicator fa fa-angle-right"></span><a class="breadcrumb-item-link" href="{!TheMenu.SelectedMenuItem.Page.Url}"><span class="breadcrumb-heading"><apex:outputText value="{!TheMenu.SelectedMenuItem.Name}" title="{!TheMenu.SelectedMenuItem.Name}"/></span></a></span>
						</apex:outputPanel>
						
						<apex:outputPanel layout="none" rendered="{!!ISBLANK(ChildNameProperty)}">    
							<span class="breadcrumb-item"><span class="breadcrumb-indicator fa fa-angle-right"></span><a class="breadcrumb-item-link" href="#"><span class="breadcrumb-heading"><apex:outputText value="{!ChildNameProperty}" title="{!ChildNameProperty}"/></span></a></span>
						</apex:outputPanel>
					</div>
					
					<div id="filter-container">
						<apex:outputPanel layout="none" rendered="{!!ISBLANK(TheMenu.SelectedFilterMenuItem)}">
							<ul>
						    	<li>
									<div id="changeFilterBtn" data-floating-dropdown="#filter-menu-data" class="filter-indicator fa fa-filter"></div>
									<a class="active-filter-item" href="{!TheMenu.SelectedFilterMenuItem.Page.Url}">
										<apex:outputText value="{!TheMenu.SelectedFilterMenuItem.Name}"/>
				               		</a>
									
									<div id="filter-menu-data" class="floating-dropdown floating-dropdown-relative" style="margin-top:1px">
							   			 <ul class="floating-dropdown-menu">
											<apex:repeat value="{!TheMenu.SelectedMenuItem.MenuItems}" var="child">
							    				<li>
													<a class="filter-option" href="{!child.Page.Url}"><apex:outputText value="{!child.Name}"/></a>
												</li>
							    			</apex:repeat>							   			 
									    </ul>
									</div>
						    	</li>
					    	</ul>
						</apex:outputPanel>
					</div>
				</apex:outputPanel>
			</div>
		</div>
</apex:page>