<apex:page controller="KimbleOne.ObjectLinksController" sidebar="false">
	<apex:variable var="FirstChar" value="" />
	<div style="margin-left:20px">
	
	<apex:repeat value="{!ObjectNames}" var="name">
		<apex:outputPanel rendered="{!FirstChar != LEFT(name,1)}">
			<div style="font-weight:bold;margin-top:15px;">{!LEFT(name,1)}</div>
			<apex:variable var="FirstChar" value="{!LEFT(name,1)}" />
		</apex:outputPanel>
		<div style="margin-bottom:4px;">
			<a class="open-object-link" href="/{!ObjectKeys[name]}">{!name}</a> 
		</div>
	</apex:repeat>
	</div>
	
	<!-- If there is only one matching link then navigate to it (using plain js rather than jQuery as this page not using sitemaster) -->
	<apex:outputPanel rendered="{!ObjectNames.size == 1}">
		<script>
			var onlyLinkElement = document.getElementsByClassName("open-object-link")[0];
			window.location.href = onlyLinkElement.getAttribute("href");
		</script>
	</apex:outputPanel>
</apex:page>