<apex:page controller="KimbleOne.PaymentsController" showHeader="true" sidebar="false" standardStylesheets="true" >

	<apex:Composition template="KimbleOne__SiteMaster">
		<apex:define name="Menu">
		
		   		    	
		</apex:define>
		
		<apex:define name="Content">
				<apex:pageBlock title="{!$Label.kimbleone__PaymentOrdersHeading}" >
	           		<apex:pageBlockbuttons location="top">
						<input type="button" class="btn" value="{!$Label.New} {!$ObjectType.Payment__c.label}" onclick="initialiseModalBoxy('#PaymentNewEditPopup', '{!$Label.New} {!$ObjectType.Payment__c.label}');newPayment();"></input>
	           		</apex:pageBlockbuttons>
					<apex:outputPanel id="paymentOrdersPanel">
						<apex:form >
							<apex:outputPanel rendered="{!PaymentsList.size > 0}">
				           		<apex:pageBlockTable value="{!PaymentsList}" var="payment" >
				           			<apex:column headerValue="{!$Label.kimbleone__ActionLinksHeader}">
										<apex:outputPanel > 
											<apex:commandLink onclick="" action="{!allocatePayment}" reRender="">{!$Label.kimbleone__Allocate}
												<apex:param name="pId" value="{!payment.Id}" />
											</apex:commandLink>	
											&nbsp;|&nbsp;
											<apex:outputLink value="#" onclick="initialiseModalBoxy('#PaymentNewEditPopup', '{!$Label.kimbleone__Edit} {!$ObjectType.KimbleOne__Payment__c.label}');editPayment('{!JSINHTMLENCODE(payment.Id)}');">{!$Label.kimbleone__Edit}</apex:outputLink>
											&nbsp;|&nbsp;
											<apex:commandLink onclick="var d = confirmDelete();if(!d) return;" action="{!deletePayment}" reRender="">{!$Label.kimbleone__Delete}
												<apex:param name="pId" value="{!payment.Id}" />
												<apex:param name="menuContext" value="{!$CurrentPage.parameters.menuContext}"/>
											</apex:commandLink>	
										</apex:outputPanel> 
						  			</apex:column>
						  			<apex:column headerValue="{!$ObjectType.KimbleOne__Payment__c.Fields.Name.Label}" value="{!payment.Name}" style="text-align:left"/>																	
									<apex:column headerValue="{!$ObjectType.Account.Fields.Name.Label}">
										<apex:outputLink styleClass="actionLink" value="/{!payment.Account__r.Id}">{!payment.Account__r.Name}</apex:outputLink>		
									</apex:column>																	
									<apex:column headerValue="{!$ObjectType.KimbleOne__Payment__c.Fields.KimbleOne__PaymentDate__c.Label}" value="{!payment.KimbleOne__PaymentDate__c}" style="text-align:center"/>
									<apex:column headerValue="{!$ObjectType.KimbleOne__Payment__c.Fields.KimbleOne__PaymentAmount__c.Label}" style="text-align:right;" width="100px">
										<apex:outputPanel layout="none">
											<apex:outputText value="{!payment.CurrencyIsoCode}" styleclass="kimbleCurrencyCode" />
											<apex:outputField value="{!payment.KimbleOne__PaymentAmount__c}"/>
										</apex:outputPanel>
									</apex:column>
						  		</apex:pageBlockTable>
							</apex:outputPanel>	
							
							<apex:actionFunction action="{!newPayment}" name="newPayment" rerender="PaymentNewEditPopupPanel" oncomplete="showModalBoxy();"/>
							<apex:actionFunction action="{!editPayment}" name="editPayment" rerender="PaymentNewEditPopupPanel" oncomplete="showModalBoxy();">
								<apex:param name="pid" value=""></apex:param>
							</apex:actionFunction> 										
						</apex:form>
					</apex:outputPanel>
				</apex:pageBlock>
			<div id="PaymentNewEditPopup" style="display:none">
				<apex:outputPanel id="PaymentNewEditPopupPanel">
		     	  <apex:form >
		           		<apex:pageBlock >
		           			<div id="PaymentNewEditPopupErrors">
		           				<apex:pageMessages escape="false"/>
		           			</div> 
		            		<apex:pageBlockButtons location="bottom">
								<apex:commandButton action="{!upsertPayment}" value="{!$Label.kimbleone__Save}" oncomplete="hideModalBoxyWithErrorCheck('#PaymentNewEditPopupErrors')" reRender="PaymentNewEditPopupPanel, paymentOrdersPanel"/>
								<input class="btn" type="button" onclick="hideModalBoxy();" value="{!$Label.Cancel}"/>
							</apex:pageBlockButtons>
		             		<apex:pageblockSection collapsible="false" showheader="false"  columns="1">
		               			<apex:inputfield value="{!aPayment.Name}" required="true" />
		               			<apex:inputfield value="{!aPayment.KimbleOne__Account__c}" required="true" />
		               			<apex:inputfield styleClass="datePickerPopup" value="{!aPayment.KimbleOne__PaymentDate__c}" required="true" />
									<apex:pageBlockSectionItem >
										<apex:outputLabel for="currencyIsoCode" value="{!$ObjectType.KimbleOne__Payment__c.Fields.CurrencyIsoCode.Label}"/>
				                        <apex:inputText value="{!aPayment.CurrencyIsoCode}" styleclass="kimblecustomlookup GetActiveCurrencyTypes null true true" required="true"/>
									</apex:pageBlockSectionItem>
		               			<apex:inputfield value="{!aPayment.KimbleOne__PaymentAmount__c}" required="true" />               			  
				            </apex:pageBlockSection>
		        		</apex:pageBlock>
		         	</apex:form>
		        </apex:outputPanel>
			</div>	
		</apex:define>
	</apex:Composition>
</apex:page>