<apex:page standardController="KimbleOne__Resource__c" extensions="KimbleOne.ResourcePaymentCardStatementAllocCntrllr" showHeader="true" sidebar="false" tabStyle="KimbleOne__Resource__c">

<apex:composition template="KimbleOne__SiteMaster">
    <apex:define name="Menu">
      	<c:Menu DefaultHelpPage="AllocateCardStatement.html" MenuContextType="{!IF(ISBLANK($CurrentPage.parameters.id), '', 'Resource')}" MenuContextId="{!KimbleOne__Resource__c.Id}" MenuContextName="{!KimbleOne__Resource__c.Name}"/>
    </apex:define>
    
    <apex:define name="Content">
    	<apex:includeScript value="{!URLFOR($Resource.KimbleOne__JQueryMultiSelectDND)}" />
    	
    	<apex:form id="TheForm">
    	<div id="pageErrors">
    		<apex:pageMessages escape="False" />
		</div>
		
		<apex:pageBlock title="{!$Label.kimbleone__AllocatePaymentCardItemsHeading}">
			<apex:pageblockButtons >
                <apex:commandButton styleClass="submit-button" action="{!SavePaymentCardAllocation}" value="{!$Label.kimbleone__Save}" onclick="updateJson();"/>
                <span class="hidden-item loading-indicator" style="font-weight: bold;color: #4A4A56;font-size: 91%;"><img class="loading-indicator-img" src="{!URLFOR($Resource.LoadingImage)}" />{!$Label.Loading}</span>
			</apex:pageblockButtons>
			
			<div id="container">
				<div id="theToAllocateItemsContainer" style="float:left;margin-left:4px;margin-right:4px;width:400px;">
					<div id="theToAllocateItemsHeader" class="containerHeader">{!$Label.ItemsToAllocateHeading}</div>
					<div id="theToAllocateItems" class="categorys"></div>
					
				</div>
				<div id="theAllocatedItemsContainer" style="float:left;width:650px">
					<div id="theAllocatedItemsHeader" class="containerHeader"><div style="float:left">{!$Label.AllocatedItemsHeading}</div><div style="float:right"><apex:outputLink styleclass="actionLink" style="text-decoration:none;" value="javascript:void(0)" onclick="initialiseModalBoxy('#AssignmentPopup', 'Select Activity');showModalBoxy();">{!$Label.kimbleone__AddAssignmentLabel}</apex:outputLink></div></div>
					<ul id="theAllocatedItems" class="categorys"></ul>
					<div id="theIgnoredItemsHeader" class="containerHeader">{!$Label.IgnoredItemsHeading}</div>
					<ul class="categorys" style="min-height:46px">
						<li class="category" id="theIgnoredItems">
							<div class="droppable" style="min-height:38px">
								<ul class="selectable"></ul>
								<div style="clear:both"></div>
							</div>
						</li>
					</ul>										
				</div>
				<div style="clear:both"></div>
			</div><!--Container End-->
		</apex:pageBlock>
		<apex:inputText styleClass="JsonToAllocateItems" style="display:none" value="{!TheToAllocateJSON}"/>
		<apex:inputText styleClass="JsonToIgnoreItems" style="display:none" value="{!TheToIgnoreJSON}"/>
		<apex:inputText styleClass="JsonAllActivities" style="display:none" value="{!AllActivitiesJSON}"/>
		<apex:inputText styleClass="JsonAllocatedItems" style="display:none" value="{!TheAllocatedItemsJSON}"/>
		</apex:form>
		
		<div id="AssignmentPopup" style="display: none;">
			<apex:outputPanel id="AssignmentDetails">
				<apex:pageBlock title="{!$ObjectType.KimbleOne__ExpenseClaim__c.Fields.KimbleOne__ResourcedActivity__c.Label}" mode="edit">
					
					<apex:pageBlockButtons location="top">
	           			<input type="button" onclick="hideModalBoxy()" class="btn" value="{!$Label.Close}" /> 	            				           			
          			</apex:pageBlockButtons>
					<div style="height:400px;overflow-y:auto;">	
					<apex:pageBlockTable value="{!AllActivitiesList}" var="activity"> 
						<apex:column >
							<input type="checkbox" onclick="return toggleActivity(this, '{!JSINHTMLENCODE(activity.Id)}');"/>
						</apex:column>
						<apex:column headervalue="{!$ObjectType.KimbleOne__ExpenseClaim__c.Fields.KimbleOne__ResourcedActivity__c.Label}" value="{!activity.Name}"/>
					</apex:pageBlockTable>
					</div>
				</apex:pageBlock>
				
			</apex:outputPanel>
		</div>
		
		<style>
			body {-webkit-touch-callout: none;-webkit-user-select: none;-user-select: none;	-moz-user-select: none;	-ms-user-select: none;user-select: none;}
			.containerHeader{background-color: #F2F3F3;border: 1px solid #E0E3E5;height: 22px;border-bottom: 1px solid #E3DEB8;padding-left: 8px;padding-right:8px;line-height: 22px;vertical-align: middle;font-size: 11px;color: #333;font-weight: bold;}
			.pbBody{margin-left:0px !important}
			.lineItem {background-color:#E68F1A; line-height: 15px;vertical-align: middle;border: 1px solid #BBB;color: beige;font-weight: bold;margin: 2px 2px 2px 0;padding: 1px;float: left;width: 70px;height: 32px;font-size: 9px;text-align: center;overflow:hidden;}
			.lineItem div {height: 10px;vertical-align: middle;line-height: 10px;overflow:hidden;}
			.dragactive {background-color:#FFEF8F;}
			.category {margin-top:4px; margin-left:4px;margin-right:2px;clear:both;}
			.categoryHeader{text-align: left;background-color: #1797C0;color: white;font-weight: bold;min-height: 20px;line-height: 20px;padding-left: 4px;padding-right:4px;}
			.selectable{list-style-type: none; margin: 0; padding: 0;}
			.selectable .ui-selecting { background: #FECA40; }
			.selectable .ui-selected { background: #CCC; color: white; }
			.ui-droppable {overflow:auto;}
			.ui-draggable-dragging {z-index:100;}
			.droppable{;min-height:25px;}
			.activityCategories {list-style-type: none;}
			.categorys {list-style-type: none;background-color: #FFE;margin-top: 0px;border-left: 1px solid #E0E3E5;border-right: 1px solid #E0E3E5;border-bottom: 1px solid #E0E3E5;padding-top: 2px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;min-height: 100px;}
			.line-drop-hover {margin-top:4px; margin-left:4px;clear:both;border-bottom: 4px solid #45A500;}
			.hover-highlight {background: #FFEF8F url(images/ui-bg_highlight-soft_25_ffef8f_1x100.png) 50% top repeat-x;color: #363636;}
			.activitySection{position: relative; margin-left: 6px;margin-bottom:6px;}
			.activitySectionHeader {position: relative;width: 40px; background-color:#BBB;height: 100%;text-align: center;}
            .loading-indicator-img {padding-right: 4px;vertical-align: middle;}
			
			.activitySection-selected {background-color:#eee; border:1px solid #bbb;}
			.toggle {cursor:pointer;]}
			.sectionText {position: absolute;
				bottom: -1px;
				-webkit-transform: rotate(-90deg) translate(0%,105%);
				-webkit-transform-origin: 0% 100%;
				-moz-transform: rotate(-90deg) translate(0%,105%);
				-moz-transform-origin: 0% 100%;
				-o-transform: rotate(-90deg) translate(0%,105%);
				-o-transform-origin: 0% 100%;
				-ms-transform: rotate(-90deg) translate(0%,105%);
				-ms-transform-origin: 0% 100%;
				width: 95px;
				overflow: hidden;
				height: 30px;
				line-height: 15px;
				vertical-align: middle;}
			.activitySectionName {
				position: absolute;
				min-width: 36px;
				bottom: 0px;
				top:0px;
				left:0px;
				background-color:#bbb;
				border:1px solid #bbb;
			}
		
		</style>
			<script>

			function updateJson()
			{
                jQuery(".submit-button").hide();
                jQuery(".loading-indicator").show();

				var theActivities = new Array();
				
				jQuery.each($('.activitySection'), function(i, activity) {
					if ($(activity).find('.lineItem').length != 0)
						theActivities[theActivities.length] = $(activity).data('jsonActivity');
				});
				
				$('.JsonAllocatedItems').val(JSON.stringify(theActivities));
				
				$('.JsonToIgnoreItems').val(JSON.stringify($('#theIgnoredItems').data('jsonCategory')));
			}
			
			var activityHtml = '<div class="activitySection"><div class="activitySectionName"><div class="sectionText"></div></div><ul class="activityCategories"></ul></div>';
		
			var categoryHtml = '<li class="category"><div class="categoryHeader"><div class="narrative"></div></div><div class="droppable"><ul class="selectable"></ul><div style="clear:both"></div></div></li>';
			var lineItemHtml = '<li class="lineItem"><div class="name"></div><div class="date"></div><div class="amount"></div></li>';
				
			$(document).ready(function(){
				var theCategories = jQuery.parseJSON($('.JsonToAllocateItems').val());
				var theActivities = jQuery.parseJSON($('.JsonAllActivities').val());
				 
				var container = $('#theToAllocateItems');
			
				jQuery.each(theCategories, function(i, category){
					var categoryInstance = $(categoryHtml);
					categoryInstance.data('jsonCategory', category);
					categoryInstance.find('.narrative').text(category.Name);
					categoryInstance.find('.droppable').addClass('toAllocate');
					
					var itemsContainer = categoryInstance.find('ul');
					if (category.TheItems == undefined)
						category.TheItems = new Array();
						
					jQuery.each(category.TheItems, function(i, item){
						var lineItem = $(lineItemHtml);
						lineItem.data('jsonItem', item);
						lineItem.find('.name').text(item.CategoryName);
						lineItem.find('.amount').text(item.IncurredAmount);
						lineItem.find('.date').text(item.FormattedIncurredDate);
						
						lineItem.appendTo(itemsContainer);
					});
					
					categoryInstance.appendTo(container);
				});
				
				var activitiesContainer = $('#theAllocatedItems');
				
				jQuery.each(theActivities, function (i, activity)
				{
					var activityInstance = $(activityHtml);
					activityInstance.data('jsonActivity', activity);
					activityInstance.attr('id', activity.Id);
					
					var dateRange = '';
					
					jQuery.each(activity.DateRange, function (i, range){
						dateRange += ('[' + range.FormattedStartDate + ' - ' + range.FormattedEndDate + '] ');
					});
					
					activity.IsValid = function(dte){
					
						var valid = false;
						
						jQuery.each(this.DateRange, function (i, range){
							if (dte >= sforce.internal.stringToDate(range.StartDate).valueOf() && dte <= sforce.internal.stringToDate(range.EndDate).valueOf())
							{
								valid = true;
							}
						});
						
						return valid;
					};
					
					activityInstance.find('.sectionText').text(activity.Name).attr('title', activity.Name + dateRange);
					
					jQuery.each(activity.TheExpenseCategories, function(i, obj){
						var categoryInstance = $(categoryHtml);
						categoryInstance.data('jsonCategory', obj);
						categoryInstance.attr('id',obj.Id);
						categoryInstance.find('.narrative').text(obj.Name);
					
						//append line to section lines element
						categoryInstance.appendTo(activityInstance.find('.activityCategories'));
						});
				
					activityInstance.appendTo(activitiesContainer);
					activityInstance.find('.sectionText').width(activityInstance.height() + 'px');
					activityInstance.hide();
				});
				
				$('#theIgnoredItems').data('jsonCategory', jQuery.parseJSON($('.JsonToIgnoreItems').val()));
				
			// Set the default function - executes per dropped item
    		$.fn.drag_drop_multi_select.defaults.after_drop_action = function($item,$old,$new,e,ui){
        		// Possible param $item_instance, $old_container, $new_container, event, helper
        		var $target = $(e.target);
        		
        		//source line - remove lineItem from source line items and subtract amount
        		//$item.parent().parent().parent().data()
        		var htmlCatgeory =  $item.parent().parent().parent();
        		var jsonCategory = htmlCatgeory.data('jsonCategory');
        		var jsonItem = $item.data('jsonItem');
        		findAndRemove(jsonCategory.TheItems, 'Id', jsonItem.Id);
        		        		
        		//target line - add lineItem to target and add amount
        		//$target.data()
        		var htmlLineTarget = $target.parent();
        		jsonCategory = htmlLineTarget.data('jsonCategory');
        		jsonCategory.TheItems[jsonCategory.TheItems.length] = jsonItem;
        		
        		$target.find('ul').append($item);
        		
    		};
    		
    		// Initiate the drag & drop
   			$('#container').drag_drop_multi_select({
        		element_to_drag_drop_select:'.category div ul li',
        		elements_to_drop:'.category div.droppable',
        		elements_to_cancel_select:'.category div.categoryHeader , a'
    		});
    		
				
			});
			
			 function toggleActivity(obj, activityId)
			 {
			 	if ($('#' + activityId).find('.lineItem').length > 0)
			 		return false;
			 		
			 	$('#' + activityId).toggle();
			 	return true;
			 }
			 
			
			 function findAndRemove(array, property, value) 
			 {
				   $.each(array, function(index, result) {
				      if(result != undefined && result[property] == value) {
				      {
				          //Remove from array
				          array.splice(index, 1);
				          return;
				      }
				      }    
				   });
			   }
			</script>

	</apex:define>
	
	</apex:composition>
	
</apex:page>