<apex:page standardcontroller="KimbleOne__ResourcedActivity__c" extensions="KimbleOne.ResourcedActivityDeactivateController" sidebar="false"  tabStyle="KimbleOne__ReferenceData__c">
 
<apex:composition template="KimbleOne__SiteMaster">

<apex:define name="Menu">

	<c:Menu DefaultHelpPage="Activate.html" MenuContextType="DeliveryGroup" MenuContextId="{!KimbleOne__ResourcedActivity__c.DeliveryElement__r.KimbleOne__DeliveryGroup__c}" MenuContextName="{!KimbleOne__ResourcedActivity__c.DeliveryElement__r.DeliveryGroup__r.Name}"/>

</apex:define>
    
    
<apex:define name="Content">
    
	<apex:pageMessages escape="false"/>
 	
	<apex:form >  
      
      <apex:pageBlock >
      	<apex:pageBlockSection title="{!$ObjectType.KimbleOne__ActivityAssignment__c.LabelPlural}" collapsible="false"/>
      	<apex:pageBlockTable value="{!activityAssignments}" var="activity">
      		<apex:column value="{!activity.Resource__r.Name}" headerValue="{!$ObjectType.KimbleOne__Resource__c.Label}"/>
      		 <apex:column value="{!activity.KimbleOne__ForecastRemainingUsage__c}" headerValue="{!$ObjectType.KimbleOne__ActivityAssignment__c.Fields.KimbleOne__ForecastRemainingUsage__c.Label}"/>
      	</apex:pageBlockTable>
      	 
      </apex:pageBlock>
		<apex:pageBlock >

			<apex:pageBlockSection title="{!$Label.kimbleone__ResourcedActivityDeactivateNarrative}" collapsible="false"/>

		</apex:pageBlock>

		<apex:pageBlock >
			<apex:commandButton id="deactivate" action="{!deactivate}" value="{!$Label.kimbleone__DeActivate}" disabled="{!activityAssignments.size>0}"/>
		</apex:pageBlock>

	</apex:form>
  
</apex:define>

</apex:composition>

</apex:page>