<apex:page standardController="KimbleOne__Resource__c" extensions="KimbleOne.TimesheetController" showHeader="true" sidebar="{!ShowSideNavBar && ISBLANK($CurrentPage.parameters.id)}" standardStylesheets="true" tabStyle="KimbleOne__Resource__c">

	<apex:composition template="KimbleOne__SiteMaster">
		<apex:define name="Menu">
			<c:Menu DefaultHelpPage="TimeExpenseEntryCalendarView.html" MenuContextType="{!IF(ISBLANK($CurrentPage.parameters.id), '', 'Resource')}" MenuContextId="{!KimbleOne__Resource__c.Id}" MenuContextName="{!TheResource.Name} - {!TheResourceTrackingPeriod.Name} {{!TheResourceTrackingPeriod.KimbleOne__StartDate__c} - {!TheResourceTrackingPeriod.KimbleOne__EndDate__c}}"/> 
		</apex:define>
		<apex:define name="Content">
			<apex:includeScript value="{!URLFOR($Resource.KimbleOne__JQuerySelect2, 'js/jquery.select2.js')}"/>
    		<apex:stylesheet value="{!URLFOR($Resource.KimbleOne__JQuerySelect2, 'css/jquery.select2.css')}"/>
			<script>
    
    		function UpdateTimeEntryBoxesHeight()
    		{
    				//$('.TimeEntry,.Forecast,.ForecastDraft').each(function(){
					//$(this).height($(this).height() * $(this).attr('units'));
				//});
			}
    		  		
    		   	
    	$(document).ready(function(){
    		   			
    		$(function() {
				//var l = $('.TimeEntryPeriodContainer:last').offset().left + $('.TimeEntryPeriodContainer:last').width() - $('#TotalForTrackingPeriodInHours').width();
    			//if (l > $('#TotalForTrackingPeriodInHours').offset().left)
    			//	$('#TotalForTrackingPeriodInHours').offset({left:l});
	});
			
		}); // close document.ready
		
    </script>
			<style>
			/*make select2 dropdown look like other dropdowns*/
			a.select2-choice {
			    height: 18px !important;
			    line-height: 18px !important;
			    background-image: none !important;
			    border-radius: 0px !important;
			    color: black !important;
			    padding-left: 4px !important;
			}
			.select2-choice div {
			    border-left: none !important;
			}			
			.ui-state-default
			{
				background-color: #AAA;
				background-image: none;
			}
.Day{
	height:200px;
}
.Hour{
	height:25px
}
.NonBusDay {
	background-color: lightgrey;
	width: 132px;
}

.BusDay {
	width: 160px;
}

div.TimeEntryPeriodContainer {
	margin-right: 3px;
	margin-bottom: 25px;
	margin-top: 0px;
	margin-left: 1px;
	display:inline-block;
	font-size: 0.75em;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 7px -1px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 7px -1px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 7px -1px;
	white-space:normal;
}

div.TimeEntryPeriodHeader {
	padding: 2px 0px 2px 2px;
	position: relative;
	height: 28px;
	background-color: #5E5E5E;
	color: #FFF;
	*margin-top:1px; /* notice the * before the property - shows in IE7 and below */
}

div.TimeEntryPeriodHeaderLabel {
	display: inline-block;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	vertical-align: top;
	padding-left: 5px;
	padding-top: 5px;
	white-space: nowrap;
	width: 84px;
	overflow: hidden;
}

div.TimeEntryPeriodHeaderIconsRight {
	display: inline-block;
	position: absolute;
	right: 2px;
}

div.TimeEntryPeriodFooter {
	text-align: center;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	position:relative;
}

div.TimeEntryPeriodBody {
	
}

div.TimeEntryContainer {
	margin: 0px 0px 2px 0px;
	overflow: hidden;
	
}

div.TimeEntryBody {
	padding: 5px 5px 5px 5px;
	<apex:outputText value="height: 200px;" rendered="{!HasExpenses}"/>
	<apex:outputText value="height: 320px;" rendered="{!!HasExpenses}"/>
/* 	border-bottom: dotted 1px black; */
	overflow: auto;
}

div.ExpenseEntryBody {
	padding: 5px 5px 5px 5px;
	height: 128px;
	overflow: auto;
}
div.expenseEntrySeperator {
	border:1px solid #ededed;
	margin-left:25px;
	margin-right:25px;
	margin-bottom:10px;
}
div.TimeEntry {
	cursor: hand;
	font-size: 0.95em;
	background-image: none;
	font-weight: bold;
}
div.Icon{
	background-size:20px 20px;
	background-repeat:no-repeat;
	height:20px;
}
div.Draft{
	border: 2px dotted #949599;
	color: #949599;
	
	background-image: none;
	background-color:none;
}
div.Forecast{
	border: 2px dotted #729BC7   ;
	color: #729BC7   ;
	background-image: none;
	background-color:none;
	font-weight: bold;
}
div.ForecastDraft{
	border: 2px dotted #949599;
	color: #949599   ;
	background-image: none;
	background-color:none;
	font-weight: bold;
}
div.Icon.ForecastDraft{
	background-image: url("{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Forecast_Draft.png')}");
}
div.Icon.Forecast{
	background-image: url("{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Forecast.png')}");
}
div.Icon.Draft{
	background-image: url("{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Time_Draft.png')}");
	/*
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Time_Draft.png')}',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Time_Draft.png')}',sizingMethod='scale')";
	*/
}

div.ExpenseEntry {
	font-weight: bold;
	font-size: 0.95em;
	cursor: hand;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 20px 20px;
	background-position-x: 6px;
	background-position-y: 4px;
	
}

.ExpenseApproved {
	background-image: url("{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Expense_Approved.png')}");
	border: 0px;
	background-color: #DFEEE6;
	color:#008852;
}
.ExpenseRejected {
	background-image: url("{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Expense_Rejected.png')}");
	border: 0px;
	background-color: #F5E2DC;
	color:#B53038;
}
.ExpenseDraft {
	background-image: url("{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Expense_Draft.png')}");
	border: 2px dotted #949599;
	background-color: transparent;
	color: #949599   ;
}
.ExpenseUnapproved {
	background-image: url("{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Expense_Draft.png')}");
	border: 2px dotted #949599;
	background-color: transparent;
	color: #949599   ;
}
.ExpenseReadyForApproval {
	background-image: url("{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Expense_Submitted.png')}");
	border: 0px;
	background-color: #F3F3F4;
}

div.P1 {
	background-color: #FFFFFF;
}
//#DEEDF7;
div.P2 {
	background-color: #FFF0A5;
}

div.Rejected {
	background-color: #F6E4DE;
	color:#B42D34;
}

div.ReadyForApproval {
	background-color: #E7E7E8;
	color: #0F0F0F;
}
div.Icon.ReadyForApproval{
	background-image: url("{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Time_Submitted.png')}");
}

div.RejectedForecast {
	background-color: #FEF1EC;
	border: 1px solid #CD0A0A;
	color: #CD0A0A;
}

div.Approved {
	background-color: #DFEEE6;
	color: #008852;
}
div.Icon.Approved{
	background-image: url("{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Time_Approved.png')}");
}
div.Icon.Rejected{
	background-image: url("{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Time_Rejected.png')}");
}

div.ReadyForApprovalForecast {
	background-color: #FF6F00;
	border: 1px solid #000000;
}

div.ApprovedForecast {
	background-color: #F99CF9;
	border: 1px solid #F99CF9;
}

div.RedOutlined {
	border: 1px solid red;
}

.heading {
	width: 630px;
	/*float: left*/
}
#TimesheetHeader{
	/*padding-bottom: 4px; 
	vertical-align: middle; 
	background-color: #FFFFFF;
	width:1100px;
	height:30px;*/
}
#TimesheetBody{
margin-left:auto;
margin-right:auto;

}
#TimesheetLoading
{
margin-left:auto;
margin-right:auto;
width:1100px;
}
#LoadingText
{
	padding:30% 50% 60% 30%;
	font-size: large;
}
#TimesheetFooter{
text-align:center;
height:20px;
}
.AdditionalLoadingText{
	font-size: small;
}

.ui-datepicker-trigger {
	cursor: pointer;
}

.headerActionIcon {
	background-position: 0px 0px;
	height: 29px;
	width: 29px;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
}

.headerActionIcon:hover {
	background-position: -0px -29px;
}

.expenseClaimEditIcon {
	background-image: url({!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Expense_New_BtnSqNoShdw.png')});
}

.newForecastTimeEntryIcon {
	background-image: url({!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Forecast_New_BtnSqNoShdw.png')});
}

.newTimeEntryIcon {
	background-image: url({!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Time_New_BtnSqNoShdw.png')});
}
/*********** CALENDAR / GRID MODE*****************/
.timesheet-view-toggle>span
{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(232, 232, 233);
	background-image: url(/img/alohaSkin/togglePill_bg.png);
	background-origin: padding-box;
	background-size: auto;
	display: inline-block;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 5px;
	padding-top: 2px;
	border-top-color: rgb(181, 181, 181);
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: rgb(181, 181, 181);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: separate;
	
	display: inline-block;
}
.timesheet-view-toggle span.right
{
	
	border-right-color: rgb(181, 181, 181);
	border-right-style: solid;
	border-right-width: 1px;		
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;		
}
.timesheet-view-toggle span.left
{				
	border-left-color: rgb(181, 181, 181);
	border-left-style: solid;
	border-left-width: 1px;		
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: rgb(181,181,181);		
}
.timesheet-view-toggle span.selected
{
	background-color: rgb(232, 232, 233);
	background-image: url(/img/alohaSkin/togglePill_bg.png);
	background-position: 0% -120px;
	background-size: auto;
}
.timesheet-view-toggle span a.toggleLink
{
	display: inline-block;				
}
.timesheet-view-toggle span a.toggleLink .toggleIcon
{
	display: block;
	float: left;
	height: 16px;
	margin-left: 6px;
	padding-right: 5px;
	width:18px;
}

.timesheet-view-toggle span a.toggleLink .linkText
{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 14px;
	margin-top: 1px;
	padding-right: 5px;
	color:#333;
	white-space: nowrap;
}
.timesheet-view-toggle span.selected a.toggleLink .linkText
{
	color: rgb(255, 255, 255);
	
}

</style>
			
			<div id="ContentBody">
			<apex:form id="TimeForm">
			<div>
				
				<div Id="TimesheetHeader" style="position:relative">
					
					<apex:outputLink value="#" onclick="GoPreviousPeriod()" title="{!$Label.kimbleone__PreviousPeriod}"><apex:image url="{!URLFOR($Resource.KimbleOne__AssignmentImages, 'PreviousButtonSquare.png')}" alt="{!$Label.kimbleone__PreviousPeriod}" /></apex:outputLink> 
					<span>
						<apex:inputText styleClass="datepicker" style="width:0px;border:0px; margin:0px; padding:0px;height:0px;cursor:none;" value="{!GoDate.KimbleOne__InputDate__c}">
							<apex:actionSupport event="onchange" action="{!ResourceTrackingPeriodChange}" />
						</apex:inputText>
					</span>
						
					<apex:outputLink value="#" onclick="GoNextPeriod()" title="{!$Label.kimbleone__NextPeriod}"><apex:image url="{!URLFOR($Resource.KimbleOne__AssignmentImages, 'NextButtonSquare.png')}"	alt="{!$Label.kimbleone__NextPeriod}" /></apex:outputLink>
					&nbsp;
					<apex:outputLink style="text-decoration: none;" target="printview" value="{!$Page.KimbleOne__TimesheetPrint}?periodId={!TheResourceTrackingPeriod.Id}{!If($CurrentPage.parameters.id!=null,'&id='+$CurrentPage.parameters.id,'')}" title="{!$Label.kimbleone__Print}">
						<apex:image url="{!URLFOR($Resource.KimbleOne__TimesheetIcons, 'Blank_BtnSqShdw.png')}" />
						<i class="fa fa-print" style="font-size: 18px;position: relative;left: -26px;top: -8px;color: #6F6F6F;"></i>
					</apex:outputLink>
					
					<span style="display:inline-block;vertical-align:top;margin-left:100px;">	
						<apex:commandButton action="{!ActualiseSelectedEntries}" styleclass="DisableButtonWhileBusy" value="{!$Label.kimbleone__TimesheetConvertToActualButton}"  rerender="TimeForm" rendered="{!CanAddEditTimeAndExpenseEntries && CanActualiseTime && $ObjectType.KimbleOne__TimeEntry__c.updateable}" oncomplete="setupDatePicker();"/>
		         		<apex:commandButton id="submitTimeEntriesBtn" action="{!SubmitTimeEntries}" styleclass="DisableButtonWhileBusy" value="{!$Label.kimbleone__Submit} {!$ObjectType.KimbleOne__TimeEntry__c.labelplural}" rendered="{!CanAddEditTimeAndExpenseEntries && $ObjectType.KimbleOne__Timesheet__c.createable}"  rerender="TimeForm" oncomplete="setupDatePicker();"/>
					</span>			
					
					<div class="timesheet-view-toggle" style="position: absolute;right:6px;top: 0px;" >
						<span class="selected left"><a href="javascript:void(0);" class="toggleLink" ><i class="fa fa-calendar" style="font-size: 14px;color: white;position: relative;left: -76px;"></i><span class="toggleIcon"></span><span class="linkText">{!$Label.CalendarLabel}</span></a></span><span class="clickable right"><a href="{!$Page.TimesheetGrid}?periodId={!TheResourceTrackingPeriod.Id}{!If($CurrentPage.parameters.id!=null,'&id='+$CurrentPage.parameters.id,'')}" class="toggleLink" ><i class="fa fa-th-list" style="font-size: 14px;color: #6f6f6f;position: relative;left: -80px;top: 2px;"></i><span class="toggleIcon"></span><span class="linkText">{!$Label.Gridview}</span></a></span>
					</div>
			
					
         			         				
         		</div>
         		
			</div>
			<script>jQuery(window).load(function(){setupDatePicker();});</script>
			<div id="TimesheetBody" >
			<apex:outputPanel id="TimeSheet" layout="block">
				<div id="timesheeterrors" style="width:800px;">
					<apex:pageMessages id="timesheeterror" escape="false"/>
			
					<apex:pageMessage summary="{!$Label.kimbleone__ExpenseItemsExpiringSoonHeader}" severity="warning" strength="2" rendered="{!ClaimsSoonToExpire.size > 0}">
							<ul style=" margin:0px ;padding:0">
									<apex:repeat value="{!ClaimsSoonToExpire}" var="claim">
									<li>
										<apex:outputLink value="/{!claim.Id}"><apex:outputText value="{!claim.Name}"/></apex:outputLink>
									</li>
									</apex:repeat>
							</ul>
					</apex:pageMessage>
					<apex:pageMessage summary="{!$Label.kimbleone__ExpenseItemsExpiredHeader}" severity="error" strength="2" rendered="{!ClaimsExpired.size > 0}">
							<ul style=" margin:0px ;padding:0">
									<apex:repeat value="{!ClaimsExpired}" var="claim">
									<li>
										<apex:outputLink value="/{!claim.Id}"><apex:outputText value="{!claim.Name}"/></apex:outputLink>
									</li>
									</apex:repeat>
							</ul>
					</apex:pageMessage>
			</div>			
	<apex:variable var="isStartDateInFuture" value="{!(false)}" />
				<apex:outputPanel layout="block" style="white-space: nowrap;">
				
				<apex:variable var="dayCounter" value="{!0}"/>
				<apex:repeat value="{!TheResourceCalendarTrackingPeriod.TimePeriodsTracking__r}" var="period">
					<apex:variable var="isStartDateInFuture" value="{!period.KimbleOne__StartDate__c > Today}" />
					<apex:variable var="dayCounter" value="{!dayCounter + 1}"/>
					<apex:outputPanel layout="block" styleClass="TimeEntryPeriodContainer {!period.PeriodType__r.KimbleOne__StyleClass__c}">
						<div class="ui-widget TimeEntryPeriodHeader">
<!-- 							<div class="TimeEntryPeriodHeaderIconsLeft"> -->
<!-- 							</div> -->
							<div class="TimeEntryPeriodHeaderLabel">
								<apex:outputText value="{!period.Name}" />
							</div>
							<div class="TimeEntryPeriodHeaderIconsRight">
								<apex:outputPanel layout="none" rendered="{!CanAddEditTimeAndExpenseEntries && isStartDateInFuture==false && $ObjectType.KimbleOne__TimeEntry__c.createable}"><span class="newTimeEntryIcon headerActionIcon" title="+ {!$ObjectType.TimeEntry__c.label}" onclick="initialiseModalBoxy('#AddTimeEntryPopup', '{!$ObjectType.TimeEntry__c.label}');newTimeEntry('{!JSENCODE(period.Id)}');"/></apex:outputPanel>
								<apex:outputPanel layout="none" rendered="{!isStartDateInFuture && $ObjectType.KimbleOne__ForecastTimeEntry__c.createable && $ObjectType.KimbleOne__ForecastTimesheet__c.createable}"><span class="newForecastTimeEntryIcon headerActionIcon" title="+ {!$ObjectType.KimbleOne__ForecastTimeEntry__c.label}" onclick="initialiseModalBoxy('#AddForecastTimeEntryPopup', '{!$ObjectType.KimbleOne__ForecastTimeEntry__c.label}');NewTimeEntryForecast('{!JSENCODE(period.Id)}');"/></apex:outputPanel>

<!-- 								<apex:image styleClass="clickable headerActionIcon" url="{!URLFOR($Resource.TimesheetIcons, 'Time_New_BtnSqNoShdw.png')}" title="+ {!$ObjectType.TimeEntry__c.label}" onclick="initialiseModalBoxy('#AddTimeEntryPopup', '{!$ObjectType.TimeEntry__c.label}');newTimeEntry('{!JSENCODE(period.Id)}');" rendered="{!CanAddEditTimeAndExpenseEntries && isStartDateInFuture==false}"/> -->
<!-- 								<apex:image styleClass="clickable headerActionIcon" url="{!URLFOR($Resource.TimesheetIcons, 'Forecast_New_BtnSqNoShdw.png')}" title="+ {!$ObjectType.KimbleOne__ForecastTimeEntry__c.label}" onclick="initialiseModalBoxy('#AddForecastTimeEntryPopup', '{!$ObjectType.KimbleOne__ForecastTimeEntry__c.label}');NewTimeEntryForecast('{!JSENCODE(period.Id)}');"	rendered="{!isStartDateInFuture}"/> -->
								<apex:outputPanel layout="none" rendered="{!$ObjectType.KimbleOne__ExpenseItem__c.createable}">
									<a href="{!$Page.ExpenseClaimEdit}?periodId={!period.Id}&resourceId={!TheResource.id}" class="expenseClaimEditIcon headerActionIcon" title="+ {!$ObjectType.KimbleOne__ExpenseItem__c.label}" />
								</apex:outputPanel>
							</div>
						</div>
						<div class="ui-widget TimeEntryPeriodBody">
						<div class="ui-widget TimeEntryBody">
							<apex:repeat value="{!TimeEntriesByDayMap[period.KimbleOne__StartDate__c]}" var="entry">
							<div class="ui-widget TimeEntryContainer" id="TimeEntryContainer">
								<apex:variable var="Status" value="{!IF(ISBLANK(entry.Entry.TimeSheet__c), $Label.kimbleone__ApprovalStatusDraftLabel, entry.Entry.TimeSheet__r.ApprovalStatus__c)}"/>
								<div onclick="initialiseModalBoxy('#EditTimeEntryPopup', '{!$ObjectType.TimeEntry__c.label}');editTimeEntry('{!JSENCODE(entry.Entry.Id)}')"
									class="entryHeight ui-corner-all TimeEntry P{!Floor(entry.Entry.ActivityAssignmentRate__r.ActivityPeriodRateBand__r.PeriodRateBand__r.Priority__c)} {!Status}"
									title="{!entry.Entry.ActivityAssignmentRate__r.ActivityPeriodRateBand__r.Name}  {!Status}. "
									 data-hours="{!entry.UnitsInHours}"
									 style="position:relative;">
										<div style="padding:7px 7px 20px 7px ;" ><!-- Apply height variance -->
											
											<img src="{!URLFOR($Resource.TimesheetIcons, 'Time_' + Status + '.png')}" width="20px" height="20px" align="left"/>
											<div style="margin-left:22px;">
												<apex:outputText value="{!entry.Entry.ActivityAssignment__r.ResourcedActivity__r.FullName__c}"/>
												<apex:outputPanel layout="none" rendered="{!!ISBLANK(entry.Entry.ActivityAssignment__r.ActivityRole__r.Name)}">
													<br/>
													<apex:outputText value="({!entry.Entry.ActivityAssignment__r.ActivityRole__r.Name})" />
												</apex:outputPanel> 
												<div style="margin-top:4px;">
													<apex:outputText value="{!entry.FormattedUnits} {!period.PeriodType__r.UsageUnitType__r.KimbleOne__Suffix__c}"/>
												</div>
											</div>											
										</div>
										
										<div style="position:absolute; bottom:4px; right:0px; margin-right: 7px; ">
											<apex:image value="{!URLFOR($Resource.KimbleOne__AssignmentImages, 'warning.png')}" rendered="{!TimesheetSubmissionErrorsMap[entry.Entry.Id].HasError}" title="{!TimesheetSubmissionErrorsMap[entry.Entry.Id].Reason}" />
										</div>
										<div style="clear:both"></div>
								</div>
							</div>
							</apex:repeat> 
							
							
							
							<!-- Show each forecast time period  --> 
							<apex:repeat value="{!ForecastTimeEntriesByDayMap[period.KimbleOne__StartDate__c]}" var="entry">
							<div class="ui-widget TimeEntryContainer" id="TimeEntryContainer">
								<div class="entryHeight ui-corner-all {!If(entry.Approved,'Forecast','ForecastDraft')}" style="position:relative;" data-hours="{!entry.UnitsInHours}">

									<div style="padding:7px 7px 20px 7px;" ><!-- Apply height variance -->
										<img src="{!URLFOR($Resource.TimesheetIcons, If(entry.Approved,'Forecast','Forecast_Draft') + '.png')}" width="20px" height="20px" align="left"/>
										<div style="margin-left:22px;">
											<apex:outputText value="{!entry.ActivityAssignment.ResourcedActivity__r.FullName__c}"/>
											<apex:outputPanel layout="none" rendered="{!!ISBLANK(entry.RoleName)}">
												<br/>
												<apex:outputText value="({!entry.RoleName})" />
											</apex:outputPanel>
												<div style="margin-top:4px;">
													<apex:outputText value="{!entry.FormattedUnits} {!period.PeriodType__r.UsageUnitType__r.KimbleOne__Suffix__c}"/>
												</div>
										</div>
									</div>
									<div style="position:absolute; bottom:4px; right:0px; margin-right: 7px; ">
										<apex:outputPanel rendered="{!entry.Approved && !ISBLANK(entry.ActivityAssignmentRate)}" layout="none" >
											<label>{!$Label.kimbleone__TimesheetActual}<apex:inputField styleClass="actualise-time-checkbox" value="{!entry.Selected.InputCheckbox__c}"/></label>
										</apex:outputPanel>
									</div>
									<div style="clear:both"></div>
								</div>
							</div>
						</apex:repeat>
						<p>
<!-- 							commented as now using icons at top of time entry day instead but left here should this be too contraversial during testing -->
<!-- 							<apex:outputLink styleClass="actionLink" value="#" onclick="initialiseModalBoxy('#AddTimeEntryPopup', '{!$ObjectType.TimeEntry__c.label}');newTimeEntry('{!JSENCODE(period.Id)}');" rendered="{!CanAddEditTimeAndExpenseEntries && isStartDateInFuture==false}">+ {!$ObjectType.TimeEntry__c.label}</apex:outputLink> -->
<!-- 							<apex:outputLink styleClass="actionLink" value="#" onclick="initialiseModalBoxy('#AddForecastTimeEntryPopup', '{!$ObjectType.KimbleOne__ForecastTimeEntry__c.label}');NewTimeEntryForecast('{!JSENCODE(period.Id)}');"	rendered="{!isStartDateInFuture}">+ {!$ObjectType.KimbleOne__ForecastTimeEntry__c.label}</apex:outputLink> -->
						</p>
						</div>
						
						<div class="ui-widget ExpenseEntryBody" style="display:{!IF(!HasExpenses,'none','')}">
						<apex:variable var="TotalExpense" value="{!0}" />
						<div class="expenseEntrySeperator"></div>
						<apex:repeat value="{!ExpenseItemsByDayMap[period.KimbleOne__StartDate__c]}" var="item">
							<div class="ui-widget TimeEntryContainer" >
								<div onclick="initialiseModalBoxy('#ExpenseItemPopup', '{!$ObjectType.KimbleOne__ExpenseItem__c.label}');getExpenseItem('{!JSINHTMLENCODE(item.Id)}');" layout="block"
									class="ui-corner-all TimeEntry {!IF (ISBLANK(item.ExpenseClaim__r.ApprovalStatus__c),'Draft',item.ExpenseClaim__r.ApprovalStatus__c)}"
									title="{!item.ActivityExpenseCategory__r.Name} {!item.ExpenseClaim__r.ApprovalStatus__c}">
									
									<div style="padding:7px 7px 1px 7px ;">
											<img src="{!URLFOR($Resource.TimesheetIcons, 'Expense_' + IF (ISBLANK(item.ExpenseClaim__r.ApprovalStatus__c),'Draft',item.ExpenseClaim__r.ApprovalStatus__c) + '.png')}" width="20px" height="20px" align="left"/>
											<div style="margin-left:22px;">
												<apex:outputText value="{!item.ActivityExpenseCategory__r.ResourcedActivity__r.Name}"/>
												<br/>
												<apex:outputText value="{!item.ActivityExpenseCategory__r.Name}" />
												<div style="margin-top:4px;">
													<apex:outputText value="{!item.ReimbursementCurrencyISOCode__c}" styleclass="kimbleCurrencyCode"/>
													<apex:outputField value="{!item.ReimbursementCurrencyReimbursementAmount__c}" />
													
													&nbsp;
													<apex:outputText value="({!item.ExpenseUnits__c} {!item.ActivityExpenseCategory__r.ExpenseCategory__r.UnitType__r.Name})" rendered="{!ISBLANK(item.ExpenseUnits__c) == false}" />
													<span style="position:relative;left: -23px;top: -10px;">
														<apex:image url="{!URLFOR($Resource.KimbleOne__AttcIcon)}" rendered="{!item.IsReceipted__c && item.Attachments.size>0}"
															title="{!$Label.kimbleone__ReceiptAttachmentsHeading}" width="20" height="20" />
													</span>
												</div>
											</div>											
										</div>
								</div>

							</div>
							
						</apex:repeat>
						<p>
<!-- 						commented as now using icons at top of time entry day instead but left here should this be too contraversial during testing -->
<!-- 						<apex:outputLink styleClass="actionLink" value="{!$Page.ExpenseClaimEdit}?periodId={!period.Id}&resourceId={!TheResource.id}">+ {!$ObjectType.KimbleOne__ExpenseItem__c.label}</apex:outputLink> -->
						</p>
						</div>
						</div>

						<div class="ui-widget TimeEntryPeriodFooter">
							<apex:outputText value="{!$Label.kimbleone__TotalTime}  : "/>
							<apex:outputField value="{!TimeEntryTotalByDayMap[period.KimbleOne__StartDate__c].InputDecimal__c}"/>
							<apex:outputText value=" {!period.PeriodType__r.UsageUnitType__r.KimbleOne__Suffix__c}"/>
							<br />
							<apex:outputText value="{!$Label.kimbleone__TotalExpense}  : "/>
							<apex:outputText value="{!ExpenseItemTotalByDayMap[period.KimbleOne__StartDate__c].CurrencyISOCode}" styleclass="kimbleCurrencyCode"/>
							<apex:outputField value="{!ExpenseItemTotalByDayMap[period.KimbleOne__StartDate__c].InputDecimal__c}" />
							
							<apex:outputPanel layout="none" rendered="{!dayCounter == TheResourceCalendarTrackingPeriod.TimePeriodsTracking__r.Size}">
								<div id="TotalForTrackingPeriodInHours" style="font-weight:bold;position:absolute;top: 45px;width:132px;left:0px;font-size: 11px;">{!$Label.TotalTimeHeading}  :&nbsp;<apex:outputField value="{!FormattedTotalForTrackingPeriod.KimbleOne__InputDecimal__c}"/></div>
							</apex:outputPanel>
						</div>
						
					</apex:outputPanel>
				</apex:repeat>
				</apex:outputpanel>
			
				<div id="TimesheetFooter" style="clear:both">
				</div>
				
			</apex:outputPanel>
			</div>
			<script>
				$(document).ready(function(){
					jQuery.each($('.entryHeight'), function (i, obj) {var h = $(obj).height();var nh = 20 * $(obj).attr('data-hours');if(nh > h) $(obj).height(nh+'px');})
				});
			</script>
			<apex:actionFunction action="{!NewTimeEntry}" name="newTimeEntry" rerender="AddTimeEntryDetails" oncomplete="initialiseAsynAssignments();showModalBoxyWithFocus($('.ResourceActivityName'));">
				<apex:param name="dayPeriodId" value="" />
			</apex:actionFunction>
			
			<apex:actionFunction action="{!EditTimeEntry}" name="editTimeEntry" rerender="EditTimeEntryDetails" oncomplete="showModalBoxy();">
				<apex:param name="entryId" value="" />
			</apex:actionFunction>
			
			<apex:actionFunction action="{!GetExpenseItem}" name="getExpenseItem" rerender="ExpenseItemDetailsPopup" oncomplete="showModalBoxy()">
				<apex:param name="expenseItemId" value="" />
			</apex:actionFunction>
			
			<apex:actionFunction action="{!NewTimeEntryForecast}" name="NewTimeEntryForecast" rerender="AddForecastTimeEntryDetails" oncomplete="showModalBoxyWithFocus($('.ResourceActivityName'));">
				<apex:param name="dayPeriodId" value="" />
			</apex:actionFunction>
			
			<apex:actionFunction action="{!GoPreviousPeriod}" name="GoPreviousPeriod" />
			<apex:actionFunction action="{!GoNextPeriod}" name="GoNextPeriod"/ >
					
				
			</apex:form>

			<div id="AddTimeEntryPopup" style="display: none">
			
			<apex:outputPanel id="AddTimeEntryDetails" style="min-width:550px;min-height:400px;display:block" >

				<apex:form >
					<apex:actionFunction action="{!SaveNewTimeEntry}" name="saveNewTimeEntry" oncomplete="hideModalBoxyWithErrorCheck('#errors');setupDatePicker();" rerender="TimeForm, AddTimeEntryDetails"></apex:actionFunction>
						
					<apex:outputPanel id="TimeMessagePanel">
						<div id="errors"><apex:pageMessages escape="false" id="errormessages" /></div>
					</apex:outputPanel>
					
					<apex:pageBlock mode="edit" rendered="{!!ISBLANK(NewTimeEntry)}">
						
						<apex:pageblockSection collapsible="false" showheader="false" columns="2">
							<apex:pageblockSectionItem >
								<apex:outputText value="{!$ObjectType.KimbleOne__TimePeriod__c.Fields.KimbleOne__StartDate__c.Label}"/>
								<apex:inputField id="timeEntryStartDate" styleclass="datePickerPopup" value="{!FakeForDateEntryStartDate.KimbleOne__InputDate__c}" />
							</apex:pageblockSectionItem>
							<apex:pageblockSectionItem >
								<apex:outputText value="{!$ObjectType.KimbleOne__TimePeriod__c.Fields.KimbleOne__EndDate__c.Label}"/>
								<apex:inputField id="timeEntryEndDate" styleclass="datePickerPopup" value="{!FakeForDateEntryEndDate.KimbleOne__InputDate__c}" />
							</apex:pageblockSectionItem>

						</apex:pageblockSection>
						<apex:outputPanel id="AddTimeEntryDetailsSubPanel"  >
							
						<apex:actionStatus id="ActivityLoadingStatus">
		       			<apex:facet name="start">
		       					<h2 style="margin-left: 32px;margin-bottom:100px;display:block;font-size: 1.1em;"><img src="{!URLFOR($Resource.LoadingImage)}" />{!$Label.Loading}</h2>
		       			</apex:facet>
		       			<apex:facet name="stop">
		       							
		       				<apex:pageblockSection collapsible="false" showheader="false" columns="1">
							
							<apex:pageBlockSectionItem labelStyle="width:40%">
								<apex:outputText value="{!$ObjectType.KimbleOne__Timesheet__c.Fields.KimbleOne__ResourcedActivity__c.Label}" />
								<apex:outputPanel layout="block" styleClass="requiredInput">
									<apex:outputPanel layout="block" styleClass="requiredBlock"></apex:outputPanel>
										<apex:actionRegion >
											<apex:selectList rendered="{!!AsyncAssignments}" id="plannedActivitySelect" styleclass="ResourceActivityName AllTimeFields" value="{!NewTimeEntry.KimbleOne__ActivityAssignment__c}" multiselect="false" size="1" required="true">
												<apex:actionSupport event="onchange" action="{!SelectActivityAssignment}" rerender="ActivityLoadingStatus" status="ActivityLoadingStatus" onsubmit="disableTimeFields()" oncomplete="enableTimeFields()"/>
												<apex:selectOptions value="{!TheAvailableAssignmentOptions}" />
											</apex:selectList>
											
											<apex:inputText id="asyncActivitySelect" value="{!NewTimeEntry.KimbleOne__ActivityAssignment__c}" html-data-name="{!SelectedAssignmentName}" style="visibility:hidden" rendered="{!AsyncAssignments}">
												<apex:actionSupport event="onchange" action="{!SelectActivityAssignment}" rerender="ActivityLoadingStatus" status="ActivityLoadingStatus" onsubmit="disableTimeFields()" oncomplete="enableTimeFields();initialiseAsynAssignments();"/>
												
											</apex:inputText> 
											
										</apex:actionRegion>
									</apex:outputPanel>
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!!ISBLANK(NewTimeEntry.KimbleOne__ActivityAssignment__c)}">
								<apex:outputLabel value="{!$Label.kimbleone__PeriodRateBandAlternateNameLabel}" />
								<apex:outputPanel layout="block" styleClass="requiredInput">
									<apex:outputPanel layout="block" styleClass="requiredBlock"></apex:outputPanel>
										<apex:actionRegion >
											<apex:selectList value="{!NewTimeEntry.KimbleOne__ActivityAssignmentRate__c}" styleclass="AllTimeFields" multiselect="false" size="1" required="true">
												<apex:actionSupport event="onchange" action="{!SelectActivityAssignmentRate}" rerender="AddTimeEntryDetailsSubPanel" onsubmit="disableTimeFields()" oncomplete="enableTimeFields();initialiseAsynAssignments();" />
												<apex:selectOptions value="{!TheActivityPeriodRateBandOptions}" />
											</apex:selectList>
											<apex:outputPanel styleclass="TimeFieldsLoadingPanel" style="display:none">	
												<img src="{!URLFOR($Resource.LoadingImage)}" />
											</apex:outputPanel>
										</apex:actionRegion>
										
								</apex:outputPanel>
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c == 'Task' || TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c == 'CategoryAndTask'}">
								 <apex:outputText value="{!$ObjectType.KimbleOne__Task__c.Fields.Name.Label}" />
									<apex:outputPanel layout="block" styleClass="requiredInput">
										<apex:outputPanel layout="block" styleClass="requiredBlock"></apex:outputPanel>
											<apex:actionRegion >
												<apex:selectList id="planTaskSelect" value="{!NewTimeEntry.KimbleOne__PlanTaskAssignment__c}" styleclass="AllTimeFields"  multiselect="false" size="1" required="true">
													<apex:selectOptions value="{!ThePlanTaskOptions}" />
													<apex:actionSupport event="onchange" action="{!SelectPlanTaskAssignmentNew}" rerender="AddTimeEntryDetailsSubPanel" onsubmit="disableTimeFields()" oncomplete="enableTimeFields()" />
												</apex:selectList>
											</apex:actionRegion>
									</apex:outputPanel>
							</apex:pageBlockSectionItem>
							
							<apex:variable var="Suffix" value="{!TheSelectedAssignment.ResourcedActivityOperatedWith__r.UsageUnitType__r.KimbleOne__Suffix__c}" />
							
							<apex:pageBlockSectionItem rendered="{!!ISBLANK(ThePlanTaskAssignment.Id) && !ThePlanTaskAssignment.PlanTask__r.Task__r.KimbleOne__IsFixedEffort__c}">
									<apex:outputText value="{!$ObjectType.KimbleOne__PlanTaskAssignment__c.Fields.KimbleOne__DraftRemainingEffort__c.Label}" />
									<apex:outputPanel layout="none">
										<apex:outputPanel layout="block" styleClass="requiredBlock"></apex:outputPanel>
										<apex:inputField required="true" value="{!ThePlanTaskAssignment.KimbleOne__DraftRemainingEffort__c}" styleclass="AllTimeFields" />
									</apex:outputPanel>
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!!ISBLANK(TheSelectedAssignmentRate)}">
								<apex:outputText >
									<div>{!$Label.kimbleone__EntryLabel} {!Suffix}</div>
								</apex:outputText>
								<apex:inputField id="entryUnits" required="true" styleclass="AllTimeFields EntryUnitsText" value="{!NewTimeEntry.KimbleOne__EntryUnits__c}"/>
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!!ISBLANK(TheSelectedAssignmentRate) && TheSelectedAssignmentRate.ActivityPeriodRateBand__r.RevenueUnitsCalculationMethod__r.KimbleOne__Enum__c = 'Manual'}">
								<apex:outputText >
									<div>{!$Label.kimbleone__RevenueLabel} {!Suffix}</div>
								</apex:outputText>
								<apex:inputField required="true" value="{!NewTimeEntry.KimbleOne__RevenueUnits__c}" styleclass="AllTimeFields " />
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!!ISBLANK(TheSelectedAssignmentRate)}">
								<apex:outputLabel value="{!$ObjectType.KimbleOne__TimeEntry__c.Fields.KimbleOne__Notes__c.Label}"/>
								<apex:inputTextarea rows="4" cols="45" value="{!NewTimeEntry.KimbleOne__Notes__c}" styleclass="NoteText AllTimeFields" />
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!!ISBLANK(TheSelectedAssignmentRate) && TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c == 'Reference'}">
								<apex:outputLabel value="{!$ObjectType.KimbleOne__TimeEntry__c.Fields.KimbleOne__Reference__c.Label}"/>
								<apex:inputText value="{!NewTimeEntry.KimbleOne__Reference__c}" styleclass="AllTimeFields" />
							</apex:pageBlockSectionItem>
							

							<apex:repeat value="{!NumberOfTimeCategories}" var="num" rendered="{!!ISBLANK(TheSelectedAssignmentRate) && (TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c = 'Category' || TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c == 'CategoryAndTask')}">
								<apex:pageBlockSectionItem rendered="{!!ISBLANK(TheSelectedAssignmentRate) && (TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c = 'Category' || TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c == 'CategoryAndTask' ) && TheActivityTimeCategories[num].Show}">
								<apex:outputLabel value="{!TheActivityTimeCategories[num].TheCategory.Name}" />
								
								<apex:outputPanel layout="none">
									<apex:inputField value="{!NewTimeEntry['Category' & TEXT(TheActivityTimeCategories[num].TheCategory.DisplaySequence__c) & '__c']}" required="{!TheActivityTimeCategories[num].TheCategory.IsMandatory__c}" rendered="{!TheActivityTimeCategories[num].TheCategory.DisplayType__r.Enum__c = 'Text'}" styleclass="AllTimeFields" />
								
									<apex:outputPanel layout="block" styleClass="requiredInput" rendered="{!(TheActivityTimeCategories[num].TheCategory.DisplayType__r.Enum__c = 'Dropdown') && TheActivityTimeCategories[num].TheCategory.IsMandatory__c}">
											<apex:outputPanel layout="block" styleClass="requiredBlock"></apex:outputPanel>
											<apex:selectList value="{!NewTimeEntry['Category' & TEXT(TheActivityTimeCategories[num].TheCategory.DisplaySequence__c) & '__c']}" multiselect="false" size="1" required="true" styleclass="AllTimeFields" >
												<apex:selectOptions value="{!TheActivityTimeCategories[num].TheOptions}" />
											</apex:selectList>
									</apex:outputPanel>
										<apex:selectList value="{!NewTimeEntry['Category' & TEXT(TheActivityTimeCategories[num].TheCategory.DisplaySequence__c) & '__c']}" multiselect="false" size="1" rendered="{!(TheActivityTimeCategories[num].TheCategory.DisplayType__r.Enum__c = 'Dropdown') && !TheActivityTimeCategories[num].TheCategory.IsMandatory__c}" styleclass="AllTimeFields" >
											<apex:selectOptions value="{!TheActivityTimeCategories[num].TheOptions}" />
										</apex:selectList>
								</apex:outputPanel>
								</apex:pageBlockSectionItem>
							</apex:repeat>					
							
							
			       		</apex:pageblockSection>
			       		</apex:facet>
			       		
		        		</apex:actionStatus>
						</apex:outputPanel>
			       			
					</apex:pageBlock>

					
						<apex:outputPanel id="TimeButtonPanel">
						
						<apex:pageBlock >
						<apex:pageBlockButtons styleclass="ButtonPanelAddTimeEntry" id="ButtonPanelAddTimeEntry" location="bottom">
							<input id="saveNewTimeEntryBtn" class="btn DisableButtonWhileBusy TimeSaveButton" type="button" onclick="saveNewTimeEntry();"
								value="{!$Label.kimbleone__Save}"/>
							<input class="btn" type="button" onclick="hideModalBoxy();"
								value="{!$Label.Cancel}" />
						</apex:pageBlockButtons>
						</apex:pageBlock>
						</apex:outputPanel>
						
				</apex:form>
				
			</apex:outputPanel></div>
			<script> 	
			var valuesLV;
				function disableTimeFields()
				{
					valuesLV=Array();
					jQuery('.AllTimeFields').attr('disabled', 'disabled');
					jQuery('.TimeFieldsLoadingPanel').css('display','');
					
					objLVEntryUnits=Object();
					objLVEntryUnits.Label='EntryUnitsText';
					objLVEntryUnits.Value=$('.EntryUnitsText').val();
					valuesLV[0]=objLVEntryUnits
					
					objLVNotes=Object();
					objLVNotes.Label='NoteText';
					objLVNotes.Value=$('.NoteText:visible').val();
					valuesLV[1]=objLVNotes;
					
				}
				function enableTimeFields()
				{
					jQuery.each(valuesLV,function(key,value){
						if(this.Label=='EntryUnitsText')
							jQuery('.EntryUnitsText').val(this.Value);
						else if(this.Label=='NoteText')
							jQuery('.NoteText').val(this.Value);
					});
				}
				function setupDatePicker() {
					$('.datepicker').datepicker({
							dateFormat: kimble.regional.dateFormat,
							showOtherMonths: true,
							selectOtherMonths: true,
							buttonText: '{!$Label.OpenTimePeriodDropdownToolTip}',
							buttonImageOnly: true,
							buttonImage: '{!URLFOR($Resource.AssignmentImages, 'CalendarButtonSquare.png')}',
							showOn: "button",
							});				
				}
				
				function initialiseAsynAssignments()
				{
					jQuery('[id $= "asyncActivitySelect"]').select2({
	            		minimumInputLength: 2,
	            		multiple: false,
	            		query: function (params) {
	            			var find = function() {findMatchingAssignments(params);};        		
	        				find();
	            		},
	            		initSelection : function (element, callback) {
					        var data = {id: element.val(), text: element.attr('data-name')};
					        callback(data);
					    }
        			})
        			.on("change", function(e) {  });
        		}
        		
        		// Called by select2 to dynamically populate selects with large lists 
				function findMatchingAssignments(params)
				{
					Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.TimesheetController.FindMatchingAssignments}',
			       		'{!TheResource.Id}', kimble.parseDate(jQuery('[id$="timeEntryStartDate"]').val(),false), params.term,
			      			function(result, event){          
			             		if (event.status) 
					            {
					             	var data = {};
					             	data.results = result;
					             	params.callback(data);
					         	} 
					         	else if (event.type === 'exception') 
					         	{
					             	alert(event.message);
					         	} 
					         	else 
					         	{
					             	alert(event.message);
					         	}
			         	}, 
			         	{escape: false, timeout: 60000}
			     	);
				}
			</script>
			<div id="EditTimeEntryPopup" style="display: none">
			
			<apex:outputPanel id="EditTimeEntryDetails" style="min-width:550px;min-height:300px;display:block">

				<apex:form >
					<apex:actionFunction action="{!SaveTimeEntry}" name="saveTimeEntry" oncomplete="hideModalBoxyWithErrorCheck('#editErrors'); setupDatePicker()" rerender="TimeForm, EditTimeEntryDetails"></apex:actionFunction>
					<apex:actionFunction action="{!DeleteTimeEntry}" name="deleteTimeEntry" oncomplete="hideModalBoxyWithErrorCheck('#editErrors'); setupDatePicker()" rerender="TimeForm, EditTimeEntryDetails"></apex:actionFunction>
						
					<apex:outputPanel id="TimeMessagePanel">
						<div id="editErrors"><apex:pageMessages escape="false" id="errormessages" /></div>
					</apex:outputPanel>
					
					<apex:variable value="{!ISBLANK(TimeEntry.KimbleOne__Timesheet__c) || TimeEntry.Timesheet__r.KimbleOne__ApprovalStatus__c = 'Rejected'}" var="canEdit"/>
						
					<apex:pageBlock mode="edit" rendered="{!!ISBLANK(TimeEntry)}">
						<apex:outputPanel id="EditTimeEntryDetailsSubPanel">
						
						<apex:pageblockSection collapsible="false" showheader="false" columns="1">
							
							<apex:pageBlockSectionItem labelStyle="width:30%">
								<apex:outputText value="{!$Label.kimbleone__ResourceActivityAlternativeLabel}" />
								<apex:outputPanel >
									<apex:outputText value="{!TimeEntry.ActivityAssignment__r.ResourcedActivity__r.Name}" />
									<apex:outputText value=" ({!TimeEntry.ActivityAssignment__r.ActivityRole__r.Name})" rendered="{!!ISBLANK(TimeEntry.ActivityAssignment__r.ActivityRole__r.Name)}" />
								</apex:outputPanel>		
							</apex:pageBlockSectionItem>
						
							<apex:pageBlockSectionItem >
								<apex:outputText value="{!$Label.kimbleone__Day}" />
								<apex:outputText value="{!TimeEntry.TimePeriod__r.Name}" />
							</apex:pageBlockSectionItem>
						
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="{!$Label.kimbleone__PeriodRateBandAlternateNameLabel}" />
								<apex:outputPanel layout="none">
									<apex:outputPanel layout="block" styleClass="requiredInput" rendered="{!canEdit}">
										<apex:outputPanel layout="block" styleClass="requiredBlock"></apex:outputPanel>
											<apex:actionRegion >
												<apex:selectList value="{!TimeEntry.KimbleOne__ActivityAssignmentRate__c}" styleclass="AllTimeFields" multiselect="false" size="1" required="true">
													<apex:actionSupport event="onchange" action="{!SelectActivityAssignmentRateEdit}" rerender="EditTimeEntryDetailsSubPanel" onsubmit="disableTimeFields()" oncomplete="enableTimeFields()" />
													<apex:selectOptions value="{!TheActivityPeriodRateBandOptionsEdit}" />
												</apex:selectList>
												<apex:outputPanel styleclass="TimeFieldsLoadingPanel" style="display:none">	
													<img src="{!URLFOR($Resource.LoadingImage)}" />
												</apex:outputPanel>
											</apex:actionRegion>
									</apex:outputPanel>
									<apex:outputText value="{!TimeEntry.ActivityAssignmentRate__r.ActivityPeriodRateBand__r.Name}" rendered="{!!canEdit}"/>
								</apex:outputPanel>
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c == 'Task' || TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c == 'CategoryAndTask'}">
									<apex:outputText value="{!$ObjectType.KimbleOne__Task__c.Fields.Name.Label}" />
									<apex:outputPanel layout="none">
										<apex:outputPanel layout="block" styleClass="requiredInput" rendered="{!canEdit}">
											<apex:outputPanel layout="block" styleClass="requiredBlock"></apex:outputPanel>
												<apex:actionRegion >
													<apex:selectList value="{!TimeEntry.KimbleOne__PlanTaskAssignment__c}" styleclass="AllTimeFields" multiselect="false" size="1" required="true">
														<apex:selectOptions value="{!ThePlanTaskOptions}" />
														<apex:actionSupport event="onchange" action="{!SelectPlanTaskAssignmentEdit}" rerender="EditTimeEntryDetailsSubPanel" onsubmit="disableTimeFields()" oncomplete="enableTimeFields()" />
													</apex:selectList>
													<apex:outputPanel styleclass="TimeFieldsLoadingPanel" style="display:none">	
														<img src="{!URLFOR($Resource.LoadingImage)}" />
													</apex:outputPanel>
												</apex:actionRegion>
										</apex:outputPanel>
										<apex:outputField value="{!TimeEntry.PlanTaskAssignment__r.PlanTask__r.Task__r.Name}" rendered="{!!canEdit}"/>							
									</apex:outputPanel>		 	 
							</apex:pageBlockSectionItem>
							
							<apex:variable var="Suffix" value="{!TheSelectedAssignment.ResourcedActivityOperatedWith__r.UsageUnitType__r.KimbleOne__Suffix__c}" />
							
							<apex:pageBlockSectionItem rendered="{!!ISBLANK(ThePlanTaskAssignment.Id) && !ThePlanTaskAssignment.PlanTask__r.Task__r.KimbleOne__IsFixedEffort__c}">
									<apex:outputText value="{!$ObjectType.KimbleOne__PlanTaskAssignment__c.Fields.KimbleOne__DraftRemainingEffort__c.Label}" />
									<apex:outputPanel layout="none">
										<apex:outputPanel layout="block" styleClass="requiredBlock"></apex:outputPanel>
										<apex:inputField required="true" value="{!ThePlanTaskAssignment.KimbleOne__DraftRemainingEffort__c}" styleclass="AllTimeFields" rendered="{!canEdit}"/>
									</apex:outputPanel>
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!!ISBLANK(TheSelectedAssignmentRate)}">
								<apex:outputText >
									<div>{!$Label.kimbleone__EntryLabel} {!Suffix}</div>
								</apex:outputText>
								<apex:outputPanel layout="none">
									<apex:inputField required="true" value="{!TimeEntry.KimbleOne__EntryUnits__c}" styleclass="AllTimeFields" rendered="{!canEdit}"/>
									<apex:outputField value="{!TimeEntry.KimbleOne__EntryUnits__c}" rendered="{!!canEdit}"/>
								</apex:outputPanel>
							</apex:pageBlockSectionItem>
							 
							<apex:pageBlockSectionItem rendered="{!!ISBLANK(TheSelectedAssignmentRate) && TheSelectedAssignmentRate.ActivityPeriodRateBand__r.RevenueUnitsCalculationMethod__r.KimbleOne__Enum__c = 'Manual'}">
								<apex:outputText >
									<div>{!$Label.kimbleone__RevenueLabel} {!Suffix}</div>
								</apex:outputText>
								<apex:outputPanel layout="none">
									<apex:inputField required="true" value="{!TimeEntry.KimbleOne__RevenueUnits__c}" styleclass="AllTimeFields" rendered="{!canEdit}"/>
									<apex:outputField value="{!TimeEntry.KimbleOne__RevenueUnits__c}" rendered="{!!canEdit}"/>
								</apex:outputPanel>
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!!ISBLANK(TheSelectedAssignmentRate)}">
								<apex:outputLabel value="{!$ObjectType.KimbleOne__TimeEntry__c.Fields.KimbleOne__Notes__c.Label}"/>
								<apex:outputPanel layout="none">
									<apex:inputTextarea rows="4" cols="45" value="{!TimeEntry.KimbleOne__Notes__c}" styleclass="NoteText AllTimeFields" rendered="{!canEdit}"/>
									<apex:outputField value="{!TimeEntry.KimbleOne__Notes__c}" rendered="{!!canEdit}"/>
								</apex:outputPanel>
								
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!!ISBLANK(TheSelectedAssignmentRate) && TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c == 'Reference'}">
								<apex:outputLabel value="{!$ObjectType.KimbleOne__TimeEntry__c.Fields.KimbleOne__Reference__c.Label}"/>
								<apex:outputPanel layout="none">
									<apex:inputText value="{!TimeEntry.KimbleOne__Reference__c}"  styleclass="AllTimeFields"  rendered="{!canEdit}"/>
									<apex:outputField value="{!TimeEntry.KimbleOne__Reference__c}" rendered="{!!canEdit}"/>
								</apex:outputPanel>
							</apex:pageBlockSectionItem>
							

							<apex:repeat value="{!NumberOfTimeCategories}" var="num" rendered="{!!ISBLANK(TheSelectedAssignmentRate) && (TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c = 'Category'  || TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c == 'CategoryAndTask')}">
								<apex:pageBlockSectionItem rendered="{!!ISBLANK(TheSelectedAssignmentRate) && (TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c = 'Category' || TheSelectedAssignmentRate.ActivityPeriodRateBand__r.UsageAllocationType__r.KimbleOne__Enum__c == 'CategoryAndTask') && TheActivityTimeCategories[num].Show}">
								
								<apex:outputLabel value="{!TheActivityTimeCategories[num].TheCategory.Name}" />
								<apex:outputPanel layout="none">
									<apex:inputField value="{!TimeEntry['Category' & TEXT(TheActivityTimeCategories[num].TheCategory.DisplaySequence__c) & '__c']}" required="{!TheActivityTimeCategories[num].TheCategory.IsMandatory__c}" rendered="{!canEdit && TheActivityTimeCategories[num].TheCategory.DisplayType__r.Enum__c = 'Text'}"/>
								
									<apex:outputPanel layout="block" styleClass="requiredInput" rendered="{!canEdit && (TheActivityTimeCategories[num].TheCategory.DisplayType__r.Enum__c = 'Dropdown') && TheActivityTimeCategories[num].TheCategory.IsMandatory__c}">
											<apex:outputPanel layout="block" styleClass="requiredBlock"></apex:outputPanel>
											<apex:selectList value="{!TimeEntry['Category' & TEXT(TheActivityTimeCategories[num].TheCategory.DisplaySequence__c) & '__c']}" multiselect="false" size="1" required="true" styleclass="AllTimeFields" >
												<apex:selectOptions value="{!TheActivityTimeCategories[num].TheOptions}" />
											</apex:selectList>
									</apex:outputPanel>
									<apex:selectList value="{!TimeEntry['Category' & TEXT(TheActivityTimeCategories[num].TheCategory.DisplaySequence__c) & '__c']}" styleclass="AllTimeFields" multiselect="false" size="1" rendered="{!canEdit && (TheActivityTimeCategories[num].TheCategory.DisplayType__r.Enum__c = 'Dropdown') && !TheActivityTimeCategories[num].TheCategory.IsMandatory__c}">
										<apex:selectOptions value="{!TheActivityTimeCategories[num].TheOptions}" />
									</apex:selectList>
									<apex:outputField value="{!TimeEntry['Category' & TEXT(TheActivityTimeCategories[num].TheCategory.DisplaySequence__c) & '__c']}" rendered="{!!canEdit}"/>	
								</apex:outputPanel>
								
								</apex:pageBlockSectionItem>
							</apex:repeat>					
							
							<apex:pageBlockSectionItem labelStyle="width:30%" rendered="{!!ISBLANK(TimeEntry.Timesheet__r.KimbleOne__ApprovalComments__c)}">
								<apex:outputText value="{!$ObjectType.KimbleOne__Timesheet__c.Fields.KimbleOne__ApprovalComments__c.Label}"  styleclass="AllTimeFields" />
								<apex:outputText value="{!TimeEntry.Timesheet__r.KimbleOne__ApprovalComments__c}" />
							</apex:pageBlockSectionItem>
							
			       		</apex:pageblockSection>
		        	</apex:outputPanel>				       			
					</apex:pageBlock>
					
						
						<apex:outputPanel id="TimeButtonPanel">
						
						<apex:pageBlock >
						<apex:pageBlockButtons styleclass="ButtonPanelAddTimeEntry" id="ButtonPanelAddTimeEntry" location="bottom">
							<apex:outputPanel layout="none" rendered="{!canEdit && $ObjectType.KimbleOne__TimeEntry__c.updateable}">
								<input id="saveTimeEntryBtn" class="btn DisableButtonWhileBusy TimeSaveButton" type="button" onclick="saveTimeEntry();"
									value="{!$Label.kimbleone__Save}" />
							</apex:outputPanel>
							<apex:outputPanel layout="none" rendered="{!canEdit && $ObjectType.KimbleOne__TimeEntry__c.deletable}">
								<input class="btn DisableButtonWhileBusy"  type="button" onclick="deleteTimeEntry()" value="{!$Label.Delete}"  />
							</apex:outputPanel>
							<input class="btn" type="button" onclick="hideModalBoxy();"	value="{!$Label.Cancel}" />
						</apex:pageBlockButtons>
						</apex:pageBlock>
						</apex:outputPanel>
						
				</apex:form>
				
			</apex:outputPanel></div>
			
			<div id="ExpenseItemPopup" style="display: none"><apex:outputPanel id="ExpenseItemDetails">
				<apex:outputPanel id="ExpenseItemDetailsPopup" >
					<apex:pageBlock title="{!$ObjectType.KimbleOne__ExpenseItem__c.label}">
						<apex:pageBlockButtons location="bottom" >
							<input class="btn" type="button" onclick="hideModalBoxy();" value="{!$Label.Cancel}" />
						</apex:pageBlockButtons>
						<apex:pageblockSection collapsible="false" showheader="false" columns="1" >
							<apex:outputField value="{!expenseItem.KimbleOne__ExpenseClaim__c}"/>
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="{!$Label.kimbleone__ResourceActivityAlternativeLabel}" />
								<apex:outputField value="{!expenseItem.ActivityExpenseCategory__r.ResourcedActivity__r.Name}" />
							</apex:pageBlockSectionItem>
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="{!$Label.kimbleone__ExpenseCategory}" />
								<apex:outputField value="{!expenseItem.ActivityExpenseCategory__r.Name}" />
							</apex:pageBlockSectionItem>
							<apex:pageBlockSectionItem >
									<apex:outputText value="{!$Label.kimbleone__Day}" />
									<apex:outputText value="{!expenseItem.TimePeriod__r.Name}" />
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!expenseItem.ActivityExpenseCategory__r.ExpenseCategory__r.ExpenseType__r.KimbleOne__Enum__c = 'PerUnit'}">
								<apex:outputLabel value="{!expenseItem.ActivityExpenseCategory__r.ExpenseCategory__r.UnitType__r.KimbleOne__Suffix__c}"/>
								<apex:outputField value="{!expenseItem.KimbleOne__ExpenseUnits__c}" />
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!expenseItem.KimbleOne__IncurredCurrencyIsoCode__c!=null  && expenseItem.KimbleOne__IncurredCurrencyIsoCode__c!=expenseItem.CurrencyIsoCode}">
									<apex:outputLabel value="{!$Label.kimbleone__IncurredAmount}" />
									<apex:outputText value="{!expenseItem.KimbleOne__IncurredCurrencyIsoCode__c} {!expenseItem.KimbleOne__IncurredCurrencyGrossAmount__c}" />
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem >
								<apex:outputpanel >
									<apex:outputText value="{!$Label.kimbleone__Amount}" />
								</apex:outputpanel>
								<apex:outputField value="{!expenseItem.KimbleOne__ExpenseGrossAmount__c}" />
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="{!$ObjectType.KimbleOne__ExpenseItem__c.Fields.KimbleOne__IsReceipted__c.Label}?"  />
								<apex:outputField value="{!expenseItem.KimbleOne__IsReceipted__c}" />
							</apex:pageBlockSectionItem>
							<apex:outputField value="{!expenseItem.KimbleOne__Notes__c}" />
						</apex:pageblockSection>
					</apex:pageBlock>

				</apex:outputPanel>
			</apex:outputPanel></div>
			
			</div>

			<div id="AddForecastTimeEntryPopup" style="display: none">
				<apex:outputPanel id="AddForecastTimeEntryDetails" style="min-width:550px;min-height:300px" layout="block">

				<apex:form >
					<apex:pageBlock title="{!$ObjectType.KimbleOne__ForecastTimeEntry__c.label}" mode="edit">
						<div id="errors3"><apex:pageMessages escape="false"/></div>	
						
						<apex:pageBlockButtons style="align:right" styleclass="ForecastButtonPanel" location="bottom">
							<apex:commandButton value="{!$Label.kimbleone__Save}"
								action="{!SaveNewForecastTimeEntry}"
								oncomplete="hideModalBoxyWithErrorCheck('#errors3'); setupDatePicker();"
								rerender="TimeForm, AddForecastTimeEntryDetails"
								styleclass="ForecastSaveButton DisableButtonWhileBusy"/>
							<input class="btn" type="button" onclick="hideModalBoxy();" value="{!$Label.Cancel}" />
						</apex:pageBlockButtons>
						
						<apex:pageblockSection collapsible="false" showheader="false" columns="2">
								<apex:pageblockSectionItem >
									<apex:outputText value="{!$ObjectType.KimbleOne__TimePeriod__c.Fields.KimbleOne__StartDate__c.Label}"/>
									<apex:inputField styleclass="datePickerPopup" value="{!FakeForDateEntryStartDate.KimbleOne__InputDate__c}" />
								</apex:pageblockSectionItem>
								<apex:pageblockSectionItem >
									<apex:outputText value="{!$ObjectType.KimbleOne__TimePeriod__c.Fields.KimbleOne__EndDate__c.Label}"/>
									<apex:inputField styleclass="datePickerPopup" value="{!FakeForDateEntryEndDate.KimbleOne__InputDate__c}" />
								</apex:pageblockSectionItem>
						</apex:pageblockSection>
						
						<apex:actionStatus id="ForecastLoadingStatus">
		       			<apex:facet name="start">
		       					<h2 style="margin-left: 32px;margin-bottom:100px;display:block;font-size: 1.1em;"><img src="{!URLFOR($Resource.LoadingImage)}" />{!$Label.Loading}</h2>
		       			</apex:facet>
		       			<apex:facet name="stop">
		       				<apex:pageblockSection collapsible="false" showheader="false" columns="1">
							
							<apex:pageBlockSectionItem labelStyle="width:40%">
								<apex:outputText value="{!$Label.kimbleone__ResourceActivityAlternativeLabel}" />
								<apex:outputPanel layout="block" styleClass="requiredInput">
									<apex:outputPanel layout="block" styleClass="requiredBlock"></apex:outputPanel>
									<apex:actionRegion >
									<apex:selectList styleclass="ResourceActivityName" value="{!NewForecastTimeEntry.KimbleOne__ActivityAssignment__c}" multiselect="false" size="1" required="true">
										<apex:actionSupport event="onchange" action="{!SelectForecastAssignment}" rerender="ForecastLoadingStatus" status="ForecastLoadingStatus"/>
										<apex:selectOptions value="{!TheAvailableForecastAssignmentOptions}" />
									</apex:selectList>
									</apex:actionRegion>
								</apex:outputPanel>
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!!ISBLANK(NewForecastTimeEntry.KimbleOne__ActivityAssignment__c)}">
								<apex:outputText value="{!TheForecastAssignmentsMap[NewForecastTimeEntry.KimbleOne__ActivityAssignment__c].ResourcedActivityOperatedWith__r.UsageUnitType__r.Suffix__c}"/>
								<apex:inputField value="{!ForecastEntryUnits.KimbleOne__InputDecimal__c}" required="true"/>
							</apex:pageBlockSectionItem>
							
							<apex:pageBlockSectionItem rendered="{!!ISBLANK(NewForecastTimeEntry.KimbleOne__ActivityAssignment__c)}">
								<apex:outputLabel value="{!$ObjectType.KimbleOne__ForecastTimeEntry__c.Fields.KimbleOne__Notes__c.Label}"/>
								<apex:inputTextarea rows="4" cols="45" value="{!NewForecastTimeEntry.KimbleOne__Notes__c}" />
							</apex:pageBlockSectionItem>		
												
							</apex:pageblockSection>
						</apex:facet>
						</apex:actionStatus>
						</apex:pageBlock>

				</apex:form>
			</apex:outputPanel></div>
			
		</apex:define>
		
	</apex:composition>
	
</apex:page>