<apex:page controller="KimbleOne.UnmanagedPageViewController" showHeader="true" sidebar="false">

<apex:composition template="KimbleOne__SiteMaster">

<apex:define name="Menu">

	<c:Menu DefaultHelpPage="WhatcanIdoinKimble.html" MenuContextType="{!menuType}" MenuContextId="{!menuId}" MenuContextName="{!objectName}"/>

</apex:define>  
   
<apex:define name="Content">

	<style>
		/*
		    loading panel
		*/
		
		.loadingIndicator {
		   top:0;
		   right:0;
		   width:100%;
		   height:100%;
		   font-weight: bold;
		   position:absolute;
		   text-align:center;
		   /* IE filter */
		   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
		   -moz-opacity:0.7;    /* Mozilla extension */
		   -khtml-opacity:0.7;  /* Safari/Conqueror extension */
		   opacity:0.7; /* CSS3 */
		   z-index:1000;
		   background-color:white;
		}
		
		.loadingIndicator img {
		    margin-right:9px;
		}
		
		#loadingIndicatorInnerContainer { 
		    position:absolute; 
		    top:50%;
		    height:10em; 
		    margin-top:-2em;
		    width:100%;
		}
	</style>

	<apex:pageMessages escape="false"/>

	<div id="targetPageContainer" context-id="{!objectId}" pageSource="{!targetPageName}">
		<div id="loadingIndicatorOuterContainer" class="loadingIndicator">
		    <div id="loadingIndicatorInnerContainer">
		        <img src="{!URLFOR($Resource.LoadingImageK)}" />{!$Label.Loading}
		    </div>
		</div>
	</div>
	
	<script>	
	jQuery(document).ready(function()
	{							
		jQuery('#targetPageContainer').each(function()
		{
		   	loadContainer(jQuery( this ));					   			
		});
		
		function loadContainer(containerComponent)
		{
			var pageSourceName = containerComponent.attr('pageSource');
			   		
	   		// kick off the population of the page with an ajax call

	   		jQuery.ajax({ url: pageSourceName + containerComponent.attr('context-id')})
				.done(function(html) {
					containerComponent.empty();
					
					if(html != null && html != '')
					{
						jQuery(html).appendTo("#" + containerComponent.attr('id'));
					}
					else
					{
						// nothing to render in the component
						// remove the container for this component to allow the page to re-flow
						containerComponent.remove();
					}
				})
				.fail(function(xhr, status, error) {
					if(error !=null && error !="") {
						console.log('ajax component load error: ' + error);
						// hide the container for this component
						containerComponent.hide();
					}									
				})			
		}		
	});
	</script>
	
</apex:define>

</apex:composition>

</apex:page>