.THIS {
    margin: 0 0 40px 0; 
}
.THIS ul {
    margin: 0 auto 20px;
    display: table;
}
.THIS ul li {
    display: inline-block;
    margin-right: 20px;
}
.THIS ul li:last-child {
    margin-right: 0;
}
.THIS ul li a {
    color: token(TenableGray);
    font-size: 14px;
    font-weight: bold;
}
.THIS p {
    color: token(TenableWarmGray);
    text-align: center;
    font-size: 14px;
}
.THIS p a {
    color: token(TenableWarmGray);
}
.THIS i {
    margin-right: 12px;
}