.THIS .midBanner {
    /*background-image: url('https://static.tenable.com/images/banners/feature-bg-slate-1460x300.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 30px;*/
    padding: 15px 0 30px;
    min-height: 100px;
    
}
.THIS {
    margin: 0 0 60px;
}