<apex:page title="Contacts import details" controller="DSCORGPKG.DiscoverOrg_clsBrowse" tabStyle="DiscoverOrgSearch__tab" action="{!LoadContactImportPage}" sidebar="false" >
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <link href="{!$Resource.LSDCustomCss}" type="text/css" rel="stylesheet" />
        <apex:includeScript value="{!URLFOR($Resource.DSCORGPKG__MultiSelectJquery,'MultiSelectJquery/jquery-2.1.3.min.js')}"/>
        <style>
            .searchBtnCss {
            background: #6EBE49;
            border: 1px solid #6EBE49;
            color: white;      
            font-size: 14px;
            }
            .searchBtnCss:Hover {    
            background: #339933;
            border: 1px solid #339933;
            color: white;  
            font-size: 14px;    
            }
            .slds-grid-main {
            max-width: 1280px;
            margin: 0 auto;
            }
            *{
            font-family: "Salesforce Sans", Arial, sans-serif !important;
            }
            .innerTable1 td{
            border: 0px;
            padding: 0px;
            }
            .innerTable1 tr td {
            box-shadow: #d8dde6 0 0px 0 inset !important;
            }
            .slds{ min-height:500px}
            .message{  opacity: 0.1; } 
            .slds-notify--alert {   padding: 0.5rem;   text-align: center;  margin: 0.5rem;  border-radius: 3px; }
            .customMessage * {  color: white !important; }
            .slds-theme--alert-texture{ width:100%}
        </style>
        <script>
        $(document).ready(function() {
            resetBinding();
            overrideBtnAndMsgStyle();
        });
        
        function resetBinding(){
            $('.btn').removeClass('btn');
        }
        
        function overrideBtnAndMsgStyle(){
            $('.btn').removeClass('btn');    
            $('.errorM3').addClass('slds-notify slds-notify--alert slds-theme--error slds-theme--alert-texture customMessage');  
            $('.confirmM3').addClass('slds-notify slds-notify--alert slds-theme--success slds-theme--alert-texture customMessage');    
            $('.infoM3').addClass('slds-notify slds-notify--toast slds-theme--alert-texture customMessage');    
            $('.errorM3').removeClass('errorM3'); 
            $('.confirmM3').removeClass('confirmM3'); 
            $('.infoM3').removeClass('infoM3'); 
            $('.infoM3').removeClass('infoM3'); 
            $('.message').removeClass('message');
            $('#divProcessing').hide();
        }
        </script>
        
        
        <div id="divProcessing" class="slds-modal-backdrop slds-modal-backdrop--open" style="z-index:10000000;">
            <div style="position:fixed; top: 50%; left: 50%; margin-top: -45px; margin-left: -45px;">
                <apex:image value="{!URLFOR($Resource.DSCORGPKG__SLDS080,'SLDS080/assets/images/spinners/slds_spinner_brand.gif')}" style="width:62px;"/> <b style="color:white;font-size: 14px;">Please Wait...</b>
            </div>
        </div>
        <apex:form >
            
            <div class="slds">
                <!--Page Header Start Here--> 
                <div class="slds-page-header" role="banner">
                    <div class="slds-grid slds-grid-main" style="padding-left:8px;">
                        <div class="slds-col slds-size--10-of-12">
                            <a href="www.discoverorg.com" target="_blank"><img src="{!URLFOR($Resource.DiscoverOrgUI,'images/logo-x.png')}"  /></a>
                        </div>
                        <div class="slds-col slds-size--2-of-12" align="right">
                            <div class="slds-button-group" id="buttons" role="group" style="width: 185px;">
                                <apex:commandButton styleClass="slds-button slds-button--neutral searchBtnCss" action="{!SaveContacts}" value="Finish"  onClick="javascript:document.getElementById('divProcessing').style.display = 'block';" style="font-size: 14px;"/>
                                <apex:commandButton styleClass="slds-button slds-button--neutral" action="{!Cancel}" value="Cancel" style="font-size: 14px;"/>                              
                            </div>
                        </div>
                    </div>   
                </div>
                <!--Page Header End Here-->
                
                <div class="slds-container--fluid  slds-container--center slds-grid-main" id="containerDiv">
                    <apex:pageMessages />
                    <div class="slds-media slds-tile" style="margin: 15px;">
                        <div class="slds-media__body">
                            <p class="slds-tile__title slds-truncate" style="font-size: 25px;">Contacts import details</p>            
                        </div>
                    </div>
                    
                    
                    
                    <!------  -->
                    <div style="display:{!if(AND(NOT(ISNULL(result.multiDups)),result.multiDups.size>0),'block','none')}">
                        <div class="slds-media slds-tile" style="margin: 15px 15px 0px 15px;">
                            <div class="slds-media__body">                
                                <div class="slds-tile__detail slds-text-body--small">
                                    <p class="slds-truncate" style="font-size: 15px;">Please select matching Contact in Salesforce</p>
                                </div>
                            </div>
                        </div>    
                        
                        <table class="slds-table slds-table--bordered">
                            <thead>
                                <tr>
                                    <th style="width: 20%;">DiscoverOrg Contact</th>
                                    <th>Existing Contact</th>
                                </tr>
                            </thead>
                            <tbody>
                                <apex:repeat value="{!result.multiDups}" var="dup">
                                    <tr>
                                        <td> 
                                            <apex:outputText > {!dup.contact.FirstName} {!dup.contact.LastName} </apex:outputText>
                                        </td>
                                        <td> 
                                            <table class="innerTable1">
                                                <tr>
                                                    <td style="width: 400px;padding: 0px;">                                            
                                                        
                                                        <apex:selectList title="{!dup.contact.name}" value="{!dup.value}" size="1" styleClass="slds-select">
                                                            <apex:selectOptions value="{!dup.options}"/>
                                                        </apex:selectList>
                                                    </td>
                                                    
                                                </tr>
                                                
                                                
                                            </table>
                                        </td>
                                    </tr>
                                </apex:repeat>
                            </tbody>
                        </table>
                    </div> 
                    <!-- -------> 
                    <div style="display:{!if(AND(NOT(ISNULL(result.duplicates)),result.duplicates.size>0),'block','none')}">
                        <div class="slds-media slds-tile" style="margin: 15px 15px 0px 15px;">
                            <div class="slds-media__body">                
                                <div class="slds-tile__detail slds-text-body--small">
                                    <p class="slds-truncate" style="font-size: 15px;">Following records will be merged to existing Contacts (total {!result.duplicates.size})</p>
                                </div>
                            </div>
                        </div>    
                        
                        <table class="slds-table slds-table--bordered">
                            <thead>
                                <tr>
                                    <th style="width: 20%;">DiscoverOrg Contact</th>
                                    <th>Existing Contact</th>
                                </tr>
                            </thead>
                            <tbody>
                                <apex:repeat value="{!result.duplicates}" var="dup">
                                    <tr>
                                        <td> 
                                            <apex:outputText > {!dup.contact.FirstName} {!dup.contact.LastName} </apex:outputText>
                                        </td>
                                        <td> 
                                            <apex:outputLink styleClass="slds-button slds-button--neutral" value="/{!dup.value}"> {!dup.contact.FirstName} {!dup.contact.LastName} </apex:outputLink> 
                                        </td>
                                    </tr>
                                </apex:repeat>
                            </tbody>
                        </table>
                    </div> 
                    <!--  --->
                    <div style="display:{!if(AND(NOT(ISNULL(result.successful)),result.successful.size>0),'block','none')}">
                        <div class="slds-media slds-tile" style="margin: 15px 15px 0px 15px;">
                            <div class="slds-media__body">                
                                <div class="slds-tile__detail slds-text-body--small">
                                    <p class="slds-truncate" style="font-size: 15px;">Will be added (total {!result.successful.size})</p>
                                </div>
                            </div>
                        </div>    
                        
                        <table class="slds-table slds-table--bordered">
                            <thead>
                                <tr>
                                    <th style="width: 20%;">Name</th>
                                    <th>Account Name</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <apex:repeat value="{!result.successful}" var="dup">
                                    <tr>
                                        <td> 
                                            <apex:outputText >{!dup.contact.FirstName} {!dup.contact.LastName} </apex:outputText>
                                        </td>
                                        <td> 
                                            <apex:outputText >{!dup.contact.Account.Name}</apex:outputText> 
                                        </td>
                                        <td> 
                                            <apex:outputText >{!dup.contact.Phone}</apex:outputText> 
                                        </td>
                                    </tr>
                                </apex:repeat>
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>
        </apex:form>
    </html>
</apex:page>