.THIS {
	position: relative;
	top: -222px;
	height: 0;
}
@media only screen and (max-width : 480px) {
	.THIS { top: -214px; }
}
.THIS .jumbotron {
	margin: auto;
}
.THIS h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: token(TenableGray)!important;
}