.THIS .slds-grid {
    padding: 1rem;
    border: 1px solid rgb(218, 223, 225);
    border-radius: token(TenableBorderRadius);
}
.THIS h3 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}
.THIS li {
    font-size: 14px;
    margin: 10px 0 0 10px;
}
.THIS a:after {
    content: "\f08e";
    margin-left: 10px;
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: token(TenableTeal);
}