<apex:page StandardController="Lead" showHeader="false" standardStylesheets="false" sidebar="false" extensions="LID.LinkedInWidgetController">
    <body>
        <!--  Includes the linkedin callback action scripts
        <c:LinkedInJSComponent ObjectType="Lead" SalesforceRecordId="{!Lead.Id}"/>
        -->
    
        <!--  Includes the linkedin widgets
        <c:LinkedInIframeMemberComponent MemberToken="{!Lead.LinkedIn_Member_Token__c}" 
            FirstName="{!Lead.FirstName}"   
            LastName="{!Lead.LastName}" 
            EmailAddress="{!Lead.Email}" 
            CompanyName="{!Lead.Company}"
            Title="{!Lead.Title}" 
            ObjectType="Lead" 
            InstanceURL="{!$Api.Partner_Server_URL_220}" 
            SessionId="{!UserSessionId}" 
            SalesforceRecordId="{!Lead.Id}" 
            UserLoginId="{!$User.Username}" 
            UserLocale="{!UserLocale}"/>
        -->
        
        <a href="https://www.linkedin.com/help/linkedin/answer/50318?query=widget" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/whodat-aws/404.png" width="1049" height="574" border="0"></img></a>

        <img width="0" height="0" src="https://www.linkedin.com/sales/widget/contract/track?orgId={!JSENCODE($Organization.Id)}"></img>
    </body>
</apex:page>