/* -- -- 
 BRAND COLORS
 -- -- */
/* Text color */
.THIS .white {
    color: #fff;
}
.THIS .tenable-teal {
    color: token(TenableTeal);
}
.THIS .tenable-gray {
    color: token(TenableGray);
}    
.THIS .warm-gray {
    color: token(TenableWarmGray);
} 
.THIS .cool-light-gray {
    color: token(TenableAccentLightCoolGray);
} 
.THIS .warm-light-gray {
    color: token(TenableAccentLightWarmGray);
}
/* Background color */
.THIS .white-bg {
    background-color: #fff;
}
.THIS .tenable-orange-bg {
    background-color: token(TenableOrange);
}
.THIS .tenable-teal-bg {
    background-color: token(TenableTeal);
}
.THIS .tenable-gray-bg {
    background-color: token(TenableGray);
}    
.THIS .warm-gray-bg {
    background-color: token(TenableWarmGray);
} 
.THIS .cool-light-gray-bg {
    background-color: token(TenableAccentLightCoolGray);
}
.THIS .warm-light-gray-bg {
    background-color: token(TenableAccentLightWarmGray);
}
.THIS .tenable-dkteal-bg {
    background-color: token(TenableAccentDarkTeal);
}
/* Borders */
.THIS .no-border {
    border: none;
}
.THIS .tenable-teal-border {
    border: 2px solid token(TenableTeal);
}
.THIS .tenable-dkteal-border {
    border: 2px solid token(TenableAccentDarkTeal);
}
.THIS .tenable-gray-border {
    border: 2px solid token(TenableGray);
}    
.THIS .warm-gray-border {
    border: 2px solid token(TenableWarmGray);
} 
.THIS .cool-light-gray-border {
    border: 2px solid token(TenableAccentLightCoolGray);
}
.THIS .warm-light-gray-border {
    border: 2px solid token(TenableAccentLightWarmGray);
}

.THIS .interiorFrame {
    max-width: 1200px;
    display: inherit;
    width: 100%;
    margin: 0 auto;
}

.THIS a, .THIS h1, .THIS h2, .THIS h3, .THIS p, .THIS span, .THIS div {
    font-family: token(TenableFont);
    font-weight: 500;
}

/* -- -- 
 BUTTONS
 -- -- */

.THIS a.ten-btn,
.THIS button.ten-btn {
    padding: 4px 18px;
    font-size: 15px;
     color: token(TenableGray);
    border-radius: token(TenableBorderRadius);
    display: inline-block;
    margin: 10px 0;
}
.THIS .uiButton--brand {
    border-radius: token(TenableBorderRadius) !important;
    font-size: 15px !important;
    padding: 4px 18px !important;
}
.THIS a:focus {
    box-shadow: none !important;
}

/* -- -- 
 8-4 COLUMN OVERRIDES
 -- -- */

.THIS .siteforceSldsTwoCol84Layout .slds-large-size--8-of-12 {
    width: 63%;
}
.THIS .siteforceSldsTwoCol84Layout .slds-large-size--4-of-12 {
    width: 36%;
    padding-left: 70px;
}
/* -- -- 
 HEADER BLOCK
 -- -- */

.THIS .fixedHeader {
    position: fixed;
    width: 100%;
    z-index: 2;
}
/* Back to tenable.com link */
.THIS .backToLink {
    height: 24px;
    background: token(TenableTeal);
}
.THIS .backToLink a {
    color: white;
    text-decoration: none;
    font-family: token(TenableFont);
    font-size: 14px;
}

/* Logo */
.THIS .logoNavBlock {
    padding: 1em 0;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.1);
    background: white;
}
.THIS .logo img {
    width: 150px;
}

/* Navigation */
.THIS .forceCommunityGlobalNavigation {
	background-color: transparent;
    margin-top: 4px;
}
.THIS .forceCommunityGlobalNavigation li {
    padding: 0.6em;
}
.THIS .forceCommunityGlobalNavigation li a,
.THIS .forceCommunityGlobalNavigation li button {
    color: token(TenableWarmGray);
    font-weight: 400;
    padding: 5px 0.5em;
    font-size: 16px;
    border-radius: token(TenableBorderRadius);
}
.THIS .forceCommunityGlobalNavigation li a:hover,
.THIS .forceCommunityGlobalNavigation li button:hover {
    color: token(TenableWarmGray);
    background-color: transparent !important;
    text-decoration: underline;
}
.THIS .forceCommunityGlobalNavigation li a.slds-is-active,
.THIS .forceCommunityGlobalNavigation li button.slds-is-active {
    background-color: token(TenableTeal) !important;
    color: white;
}
.THIS .forceCommunityGlobalNavigation .slds-list_vertical {
    background-color: white;
    top: 57px;
    border-radius: 0 !important;
}
/*.THIS .slds-list_vertical li:first-child a {
    font-weight: 900 !important;
    text-transform: uppercase !important;
}*/
.THIS .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>.slds-list_vertical>.slds-list__item+.slds-list__item>a, 
.THIS .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>.slds-list_vertical>.slds-list__item+.slds-list__item>button {
    border-top: none !important;
}
.THIS .forceCommunityGlobalNavigation li:nth-child(5) ul.slds-list_vertical li:first-child a {
    text-transform: capitalize !important;
}
/* User Profile */
.THIS .selfServiceUserProfileMenu {
    margin-top: 6px;
}
.THIS span.profileName {
    font-size: 15px !important;
    color: token(TenableWarmGray);
    text-shadow: none;
    font-weight: 500;
}
.THIS .menuList.visible.positioned {
    top: 55px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}
.THIS .menuList.visible.positioned li a {
    color: token(TenableWarmGray);
    font-size: 15px;
}
.THIS .menuList.visible.positioned li a:hover {
    background-color: transparent;
    text-decoration: underline;
}
.THIS .selfServiceUserProfileMenu .login .linkLabel {
    color: token(TenableGray);
}
.THIS .forceCommunityUserProfileStats .forceCommunityReputationWidget img {
    width: 56px !important;
    height: 56px !important;
    max-width: none;
}
.THIS .forceCommunityUserProfileStats .forceCommunityReputationWidget .slds-avatar {
    overflow: visible;
    display: initial;
}
.THIS .selfServiceProfileMenuTrigger .trigger-link {
    padding: 0;
}
.THIS .selfServiceUserProfileMenu .profileName, 
.THIS .selfServiceUserProfileMenu .down-arrow {
    display: inline-block;
    position: relative;
    top: 10px;
    
}
.THIS .selfServiceUserProfileMenu .down-arrow {
    left: 10px;
    top: 0;
}
.THIS .selfServiceProfileMenuTrigger .profileName {
    vertical-align: unset;
}
.THIS div[data-region-name=profileMenu] {
    display: table;
}
/*Firefox fix */
.THIS div[data-region-name=profileMenu],  .THIS x:-moz-any-link  { display: inherit;}

/* Notifications Icon */
.THIS .unsNotificationsCounter {
    color: token(TenableTeal);
    float: left;
    margin-top: 14px;
    position: relative;
    width: 30px;
    z-index: 100;
}


/* -- -- 
 BANNER/CAROUSEL BLOCK
 -- -- */

/* Carousel style overrides */
.THIS .carousel .slds-text-heading--large {
   /* font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;*/
    display: none;
}
.THIS .carousel .slds-text-body--regular {
    font-size: 36px;
    letter-spacing: .03em;
    max-width: 1100px;
    overflow: hidden;
    display: inline-block;
    font-weight: 300;
    font-family: token(TenableFont);
}
.THIS .carousel span.slds-text-body--regular .bold {
    font-weight: 600;
}
.THIS .carousel .slds-button--brand {
    background-color: token(TenableTeal);
    border: none;
    font-size: 16px;
    padding: 5px 20px;
    margin-bottom: 15px;
}
.THIS .carousel .cloudx_cmsSS_uiCarousel button.slds-button.isActiveItem {
    color: transparent;
    border: 1px solid white;
    border-radius: token(TenableBorderRadius);
    width: 10px;
    height: 10px;
    margin-top: 4px;
}
.THIS .carousel .slds-button-group .slds-button {
    margin: 0 10px;
}
.THIS .carousel .slds-button--icon-bare {
    color: white;
}
.THIS .bannerBlock {
    position: relative;
    top: 94px;
    /*z-index: -2;*/
}
.THIS .smallBackgroundImg {
    height: 145px;
    background-size: cover;
    background-color: white;
    width: 100%;
}
.THIS .smallBackgroundImg {
    background-image: url(/s/sfsites/c/resource/Tenable_Resources/banners/community-banner-white.png);
}

/* -- -- 
 SEARCH BLOCK
 -- -- */

.THIS .search {
    padding: 30px 0;
    background: #DADFE1;
    margin: 100px 0 0;
}
.THIS.false .search {
    margin: 94px 0 0
}
.THIS .CoveoV2Searchbox .magic-box {
    border: none;
}
.THIS .CoveoSearchInterface.coveo-waiting-for-first-query {
    background: transparent;
}
.THIS .forceCommunitySearchBox .body-search, 
.THIS .forceCommunitySearchBox .search-wrapper, 
.THIS .forceCommunitySearchBox .post-container {
    z-index: 1;
}
/* Coveo search button */
.THIS .CoveoV2Searchbox .CoveoSearchButton {
    border: none; 
    width: 130px;
    height: 48px;
    margin-left: 10px;
    text-align: center;
}
.THIS .cCustomCoveoSearchbox .CoveoSearchbox .CoveoSearchButton {
    z-index: 1;
}
.THIS .CoveoSearchButton > .coveo-icon {
    background-image: none;
}
.THIS .CoveoSearchButton:before {
    content: 'Search';
    vertical-align: middle;
    display: inline-block;
    margin: 12px 0 0 18px;
    font-family: token(TenableFont);
    font-size: 16px;
    color: white;
}
.THIS .search .forceCommunitySearchBox .search-button.uiButton,
.THIS .CoveoV2Searchbox .CoveoSearchButton {
    background-color: token(TenableOrange);
    border-radius: token(TenableBorderRadius);
}
.THIS .search .search-field-wrapper,
.THIS .search .result-container,
.THIS .CoveoV2Searchbox .magic-box {
    max-width: 100%;
}
.THIS .search input::placeholder,
.THIS .search input {
    font-size: 15px;
}
.THIS .search input::placeholder {
    color: token(TenableWarmGray);
}

.THIS .CoveoV2Searchbox .magic-box-input {
    border-radius: 5px;
}
  
.THIS .magic-box .magic-box-suggestions.magic-box-hasSuggestion {
    border-top: 1px solid #9e9e9e;
    margin-right: 142px;
    top: 100%;
    font-size: 15px;
}

.THIS .magic-box .magic-box-suggestions .magic-box-suggestion {
    font-size: 15px;
}
    
.THIS .magic-box .magic-box-clear {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
} 
    
.THIS .magic-box .magic-box-clear:before {
    content: '';
    border-left: #e0e0e0 0px solid; 
}
  
.THIS .magic-box.magic-box-notEmpty .magic-box-clear {
    left: -2px;
}

.THIS .magic-box.magic-box-inline {
    overflow: visible; }

.THIS .magic-box.magic-box-inline .magic-box-suggestions.magic-box-hasSuggestion {
      display: block;
      position: absolute;
      border: 1px solid #9e9e9e;
} 
/* -- -- 
 FOOTER
 -- -- */

.THIS .footerBlock {
    border-top: 1px solid token(TenableAccentLightWarmGray);
    padding-top: 20px;
}

/* -- -- 
 LIVE AGENT
 -- -- */

.THIS .cLiveAgentButton {
    position: fixed;
    right: -5px;
    top: 75%;
}
.THIS .cLiveAgentButton button {
    background-color: token(TenableAccentDarkTeal);
    color: white;
    border: none;
    border-radius: token(TenableBorderRadius) 0 0 token(TenableBorderRadius);
    box-shadow: 1px 2px 4px token(TenableAccentWarmGray);
    font-family: token(TenableFont);
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px 10px 15px !important;
}
.THIS .cLiveAgentButton .disabled {
    background-color: token(TenableAccentLightCoolGray) !important;
    color: token(TenableAccentDarkTeal);
}

/* -- -- 
 TABS
 -- -- */

.THIS .js-tabset>.uiTabBar,
.THIS .listTab>.uiTabBar {
    margin-bottom: 20px;
}
.THIS .js-tabset.uiTabset--default>.uiTabBar>.tabs__nav,
.THIS .listTab.uiTabset--default>.uiTabBar>.tabs__nav {
    border-bottom: 3px solid token(TenableTeal) !important;
}
.THIS .js-tabset>.uiTabBar .uiTabItem .tabHeader,
.THIS .listTab>.uiTabBar .uiTabItem .tabHeader {
    padding: 8px 15px !important;
    color: token(TenableGray);
    border-radius: token(TenableBorderRadius) token(TenableBorderRadius) 0 0;
    background: white;
    letter-spacing: 0;
    text-transform: capitalize;
}
.THIS .js-tabset>.uiTabBar .uiTabItem.active .tabHeader,
.THIS .listTab>.uiTabBar .uiTabItem.active .tabHeader{
    background: token(TenableTeal);
    color: white;
}
.THIS .uiTabset--default .tabs__item+.tabs__item {
    margin-left: 10px !important;
}
.THIS .MEDIUM .uiTabset--default .tabs__item+.tabs__item {
    margin-left: initial !important;
}
.THIS .forceCommunityTabset.uiTabset .uiTabBar .uiTabItem {
    max-width: 50% !important;
}
.THIS .uiTabset--default .tabs__item>a {
    border-bottom: none;
}


/* -- -- 
 HOME BLOCK STYLES 
 -- -- */

/* Latest Questions */
.THIS.Home .forceChatterCompactFeed .page-header-filters {
    display: none;
}
.THIS.Home .forceChatterScroller {
    max-height: 290px;
    overflow: hidden;
}
.THIS.Home div[data-region-name="BotRightColumn"] .forceChatterScroller {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 1000px;
}
.THIS.Home .forceChatterCompactFeed article>a:before {
    content:" ";
    display: inline-block;
    color: token(TenableWarmGray);
    position: absolute;
    left: -14px;
    background-image: url('http://static.tenable.com/marketing/community/svgs/community-discussiongroups.svg');
    width: 20px;
    height: 20px;
    background-size: 20px;  
}
.THIS.Home .forceChatterCompactFeed .compactFeedElement {
    border-bottom: none;
    position: relative;
    right: -23px;
    width: 98%;
}
.THIS.Home .forceChatterCompactFeedItemBody .title {
    font-size: 15px;
}
.THIS.Home .forceChatterCompactFeed .metadata .topicName,
.THIS.Home .forceChatterCompactFeed .metadata .postedBy,
.THIS.Home .forceChatterCompactFeed .metadata .timestamp {
    font-size: 13px;
    color: token(TenableWarmGray);
}
.THIS .forceChatterCompactFeed .solved .metricText,
.THIS .forceChatterCompactFeed .solved .solvedText, 
.THIS .forceChatterCompactFeed .solved .forceIcon{
    color: token(TenableGreen);
}

/* Trending Articles */
.THIS.Home .selfServiceTopicTrendingArticles h2.base-items-header {
    display: none;
}
.THIS .selfServiceTopicTrendingArticles {
    padding: 0 0 .75rem .75rem;
}
.THIS .selfServiceTopicTrendingArticles li:before,
.THIS .selfServiceSimilarArticles li:before {
    content:" ";
    display: table-cell;
    background-repeat: no-repeat;
    background-image: url('http://static.tenable.com/marketing/community/svgs/community-articles.svg');
    width: 20px;
    height: 20px;
    background-size: 20px;
    position: relative;
    top: 11px;
    vertical-align: top;
}
.THIS .selfServiceTopicTrendingArticles li a,
.THIS .selfServiceSimilarArticles li a {
    color: token(TenableTeal);
    display: table-cell;
    padding: 10px 0 0 15px !important;
}
.THIS.Home .selfServiceTopicTrendingArticles li a,
.THIS.Home .selfServiceSimilarArticles li a {
    display: table-cell;
}
.THIS .selfServiceTopicTrendingArticles li a span,
.THIS .selfServiceSimilarArticles li a span {
    font-size: 15px !important;
}
.THIS .selfServiceBaseSimpleItems .base-simple-item {
    border-bottom: none;
}
/* Cases */
.THIS.Home .forceCommunityRecordListStandard.forceCommunityObjectHome {
    margin: 0.75rem 0.75rem 60px 0.75rem;
}
.THIS.Home .forceCommunityRecordListStandard h2 {
    display: none;
}
.THIS.Home .forceCommunityRecordListStandard table {
    border: none !important;
}    
.THIS.Home .forceCommunityRecordListStandard table th {
    font-weight: bold !important;
    text-transform: none !important;
    font-size: 14px !important;
    border-bottom: 2px solid token(TenableAccentLightWarmGray) !important;
    color: token(TenableGray);
    padding-left: 15px;
}
.THIS.Home .forceCommunityRecordListStandard table td {
    padding: 15px !important;
    border: none !important;
}
.THIS.Home .forceCommunityRecordListStandard table tr:nth-child(even) td {
    background-color: token(TenableLightBkgd);
}
.THIS.Home .forceCommunityRecordListStandard .viewAllLink {
    display: none;
}
.THIS.Home .forceCommunityRecordListStandard table td>a:before {
    content: " ";
    margin-right: 15px;
    display: inline-block;
    background-image: url('http://static.tenable.com/marketing/community/svgs/community-cases.svg');
    width: 20px;
    height: 20px;
    background-size: 20px;
    color: token(TenableWarmGray);
    position: relative;
    top: 5px;
}

/* -- -- 
 FEATURED TOPIC OVERRIDES
 -- -- */

.THIS.Home h2 {
    font-size: 20px;
    color: white;
    margin: 0 0 15px 0;
}
.THIS.Home .midBanner .forceCommunityHomeTabs .uiTabBar {
    display: none;
}
.THIS.Home .midBanner .forceCommunityHomeTabs .forceTopicFeaturedTopics {
    margin-top: 0;
}
.THIS.Home li.forceTopicFeaturedTopicItem:nth-child(9) {
    display: none;
}
.THIS.Home .midBanner .uiTabset--default {
    background-color: transparent;
}
.THIS.Home .midBanner .forceTopicFeaturedTopicItem.topicItem {
    width: 24%;
    height: 100px;
    margin: 0 10px 10px 0;
}
.THIS.Home .midBanner .forceTopicFeaturedTopics .topicContent {
    background-color: transparent;
}
.THIS.Home .midBanner .forceTopicFeaturedTopicItem .topicLink {
    border-radius: token(TenableBorderRadius) token(TenableBorderRadius) token(TenableBorderRadius) token(TenableBorderRadius) !important;
    border: 1px solid token(TenableTeal);
}
.THIS.Home .midBanner .forceTopicFeaturedTopics .topicLabel {
    font-size: 20px;
    text-align: left;
    padding: 10px 10px 10px 74px;
    color: token(TenableGray);
    text-transform: capitalize;
    font-weight: 500;
    line-height: 25px;
}
.THIS .midBanner .cTenable_Community_Headline .slds-grid {
    border-bottom: none;
    margin-bottom: 15px;
}
.THIS .midBanner .cTenable_Community_Headline .viewAll {
    padding-right: 20px;
}

/* -- -- 
 PROFILE PAGE OVERRIDES
 -- -- */

.THIS.false .forceCommunityRichText h2 {
    font-size: 24px;
    color: token(TenableGray);
}
.THIS.false .forceCommunityUserProfileDetail .userDetailHeader {
    padding-bottom: 10px;
}
.THIS.false .slds-form-element__label {
    font-size: 14px;
    color: token(TenableWarmGray);
    text-transform: uppercase;
}
.THIS.false .slds-modal .slds-form-element__label {
    text-transform: unset;
}

/* -- -- 
 TOPIC CATALOG/ANSWERS 
 -- -- */

.THIS .forceCommunityTopArticleListForTopic .topicHeaderLink {
    text-transform: none;
    font-weight: 700;
    color: token(TenableTeal);
    font-size: 14px;
    border-bottom: 1px solid token(TenableAccentLightCoolGray);
    width: 100%;
    display: block;
    padding-bottom: 5px;
    font-size: 16px;
}
.THIS .slds-text-title.empty {
    font-size: 13px;
    color: #9f9f9f;
}
.THIS .forceCommunityTopArticleItem .article-title {
    font-size: 15px;
    color: token(TenableWarmGray);
}
.THIS .forceChatterFeedInner .feedActions {
    background: token(TenableLightBkgd);
}
.THIS .forceChatterFeedItem--default .cuf-feedItem>div {
    margin-bottom: 8px;
}
.THIS .forceChatterSimpleFeedItemTopics--pill.forceChatterSimpleFeedItemTopics {
    margin-top: 20px;
}
.THIS .forceChatterStyle .cuf-preamble {
    font-size: 16px;
}
/* Feed topic pill styles */
.THIS .forceChatterSimpleFeedItemTopics--pill ul.topic-commaSeparatedList li a,
.THIS .selfServiceArticleLayout .slds-pill {
    padding: 1px 10px;
    border: none;
    border-radius: token(TenableBorderRadius);
    text-transform: uppercase;
    background: token(TenableAccentTeal);
    color: white;
}
.THIS .selfServiceArticleLayout .slds-pill a {
    color: white;
}
/* moves subject and description of question over to right */
.THIS .forceCommunityForceCommunityFeed .cuf-feedElement .cuf-questionTitle,
.THIS .forceChatterFeedItem--default .cuf-feedItem .cuf-questionBody {
    margin-left: 60px !important;
}

/* -- -- 
 KNOWLEDGE ARTICLE DETAIL
 -- -- */

.THIS .selfServiceArticleHeaderDetail.article-summary {
    display: none;
}
.THIS .slds-breadcrumb .slds-list__item:first-child>a, 
.THIS .slds-breadcrumb__item:first-child>a {
    margin-left: 40px;
}
.THIS .slds-text-heading_label, 
.THIS .slds-text-heading--label {
    font-size: 14px; 
    text-transform: none;
    letter-spacing: 0;
}
.THIS .slds-breadcrumb .slds-list__item:first-child:before, 
.THIS .slds-breadcrumb__item:first-child:before {
    content: 'Topic | ';
}
.THIS .selfServiceArticleLayout.zoom.article-column {
    padding: 0;
}
.THIS .selfServiceArticleTopicList.slds-pill_container--bare {
    padding: .5rem 1.5rem .5rem 0;
}
.THIS .selfServiceArticleLayout.zoom .article-head {
    font-size: 24px;
    color: token(TenableGray);
}
.THIS .selfServiceArticleLayout .forcePageBlockSectionView.full .test-id__field-label, 
.THIS .selfServiceArticleLayout .forcePageBlockSectionView.full .test-id__grouped-field-label-icon {
    color: token(TenableAccentTeal);
}
.THIS.Article .slds-rich-text-editor__textarea, 
.THIS.Article .slds-rich-text-editor__output {
    font-size: 16px;
    line-height: 29px;
}
.THIS.Article .slds-rich-text-editor__output table tr>td {
    padding: 0;
}
/* code snippet styling */
.THIS article.content .forceOutputRichText pre {
    overflow: hidden;
    max-width: 760px;
    display: block;
    overflow-x: auto;
    background: token(TenableAccentLightCoolGray);
    width: 100%;
    padding: 10px;
    font-size: 13px;
}
/* right col - related articles */
.THIS div[data-region-name=sidebar] h2,
.THIS div[data-region-name=sidebar] h3 {
    font-size: 18px;
}
.THIS div[data-region-name=sidebar] h2 {
    margin-bottom: 15px;
}
.THIS div[data-region-name=sidebar] .selfServiceSimilarArticles ul li a span {
    font-size: 14px;
}
.THIS div[data-region-name=sidebar] .selfServiceSimilarArticles .base-simple-item .item-title-link {
    padding: 8px 0;
    border-bottom: none;
}
/* Trending articles ellipsis styles */
.THIS .selfServiceBaseSimpleItems .base-simple-item .item-title-link {
    line-height: 1.2em;
    font-size: 1em;
    max-width: 315px;
}
.THIS.Home .selfServiceBaseSimpleItems .base-simple-item .item-title-link {
    max-width: 530px;
}

/* right col - topic catalog */
.THIS .forceCommunityTopicCatalog .topicHierarchy-topBox {
    border: none;
    padding: 0;
    margin-bottom: 0;
}
.THIS .forceCommunityTopicCatalog a.topicHierarchy-top {
    font-size: 14px;
    font-weight: 100;
    color: token(TenableTeal);
}

/* -- -- 
 TOPIC DETAIL
 -- -- */

.THIS .cTenable_Community_TopicDetailLayout h1.headlineTitle {
    font-size: 24px !important;
    text-align: left !important;
    padding-top: 0 !important;
    margin-bottom: 15px !important;
    font-weight: 500;
}
.THIS .cTenable_Community_TopicDetailLayout .cAskAQuestionComponent{
    border: none !important;
}
/* Follow button */
.THIS .cTenable_Community_TopicDetailLayout .forceChatterChatterFollow .button {
    max-width: 75px;
    padding: 2px 0;
    border-radius: 5px;
    height: 40px;
}
.THIS .cTenable_Community_TopicDetailLayout .forceChatterChatterFollow .button.following {
    max-width: 95px;
}
.THIS .forceChatterChatterNotification .triggerLink {
    height: 40px;
    padding: 10px 0 0;
}
.THIS .forceChatterChatterNotification {
    border: none !important;
}
/* Knowledgeable people */
.THIS .cTenable_Community_TopicDetailLayout .forceDiscoveryKnowledgeablePeople .knowledgeablePeopleHeader {
    font-size: 18px !important;
    margin-bottom: 15px;
    margin-top: 6px;
}

/* Articles list */
.THIS .cTenable_Community_TopicDetailLayout .forceDiscoveryKnowledgeablePeopleRow {
    border-bottom: none;
}
.THIS .cTenable_Community_TopicDetailLayout .selfServiceArticleListItem .footer {
    /*margin-top: 0;
    margin-left: 15px;*/
}
.THIS .cTenable_Community_TopicDetailLayout .selfServiceTopicArticleList.clean .selfServiceArticleListItem {
    border-bottom: none;
    padding: 11px 0 11px 10px;
}
.THIS .cTenable_Community_TopicDetailLayout .selfServiceArticleListItem .article-head {
    font-size: 16px;
    color: token(TenableTeal);
}
.THIS .cTenable_Community_TopicDetailLayout .selfServiceArticleHeaderDetail h1:before {
    content:" ";
    display: inline-block;
    background-image: url('http://static.tenable.com/marketing/community/svgs/community-articles.svg');
    width: 20px;
    height: 20px;
    background-size: 20px;
    position: relative;
    top: 4px;
    float: left;
    margin-right: 15px;
}

/* -- -- 
 CASE LIST
 -- -- */

/* hides list view icon and breadcrumb */
.THIS .forceListViewManager ol.slds-breadcrumb.slds-list--horizontal,
.THIS .forceListViewManager .slds-media__figure {
    display: none;
}
.THIS .forceListViewManagerDisplaySwitcher {
    z-index: 1;
}
.THIS .forceListViewManager h1 {
    font-size: 20px;
}
.THIS .forceRecordLayout.slds-table_bordered,
.THIS .forceRecordLayout.slds-table_bordered tbody td, 
.THIS .forceRecordLayout.slds-table_bordered tbody th {
    border: none !important;
}
.THIS table.forceRecordLayout tbody tr:nth-child(even) {
    background: token(TenableAccentLightCoolGray);
}
.THIS table.forceRecordLayout tbody tr td {
    padding: 15px !important;
}
.THIS .forceCommunityRecordListDesktop .listViewContainer .forceRecordLayout thead tr th a {
    color: token(TenableGray)!important;
    text-transform: none;
    letter-spacing: .02em;
    font-size: 14px;
    font-weight: bold;
}
/* hides the edit dropdown */
.THIS table.forceRecordLayout tbody tr td:last-child,
.THIS table.forceRecordLayout thead tr th:last-child {
    display: none;
}
/* hides filter buttons */
.THIS .forceListManager .slds-col.slds-no-flex.slds-grid.slds-align-bottom {
    display: none;
}
.THIS .forceRecordLayout.slds-table:not(.slds-no-row-hover) tbody tr:hover>td, 
.THIS .forceRecordLayout.slds-table:not(.slds-no-row-hover) tbody tr:hover>th, 
.THIS .forceRecordLayout.slds-table:not(.slds-no-row-hover) tbody tr:focus>td, 
.THIS .forceRecordLayout.slds-table:not(.slds-no-row-hover) tbody tr:focus>th {
    background-color: transparent !important;
}

/* -- -- 
 CASE DETAIL
 -- -- */
/*.THIS .forceHighlightsPanel {
    z-index: -2;
}*/
/* hides follow button */
.THIS .forceHighlightsStencilDesktop .slds-grid.forceActionsContainer {
    display: none;
}
/* hides banner icon and breadcrumb */
.THIS .forceHighlightsStencilDesktop .slds-breadcrumb__item,
.THIS .forceHighlightsStencilDesktop .slds-media__figure {
    display: none;
}
.THIS .forceCommunityRecordHeadline .forceHighlightsStencilDesktop .slds-page-header__title {
    font-size: 24px;
}
.THIS .forceCommunityRecordDetail .forceDetailPanel {
    background-color: transparent !important;
}
.THIS .forceHighlightsStencil .profilePicWrapper {
    display: none;
}
.THIS .slds-page-header {
    padding-left: 0;
}
.THIS ul.slds-page-header__detail-row li:first-child {
    /*border: 2px solid token(TenableTeal);
    padding: 5px 10px;
    border-radius: token(TenableBorderRadius);*/
    min-width: 140px;
}
.THIS ul.slds-page-header__detail-row li:first-child p {
    font-weight: bold;
    color: token(TenableOrange);
}
.THIS ul.slds-page-header__detail-row li p {
    font-size: 15px;
    overflow: visible !important;
}
.THIS .slds-form-element__static,
.THIS .forceContentVirtualRelatedListStencil .itemTitle {
    font-size: 15px;
}

/* -- -- 
 GROUP LIST
 -- -- */

.THIS .forceCommunityGroupAnnouncement {
    background-color: #ffffff;
    margin: 0 0 18px 0;
    border: 1px solid rgb(218, 223, 225);
    border-radius: token(TenableBorderRadius);
    padding: 15px;
    border-top: 4px solid token(TenableOrange);
}
.THIS .forceCommunityGroupAnnouncement .header-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: token(TenableOrange);
}
/* reputation leaderboard styles */
.THIS .forceCommunityReputationLeaderboardRow .reputationCol:before {
    background: transparent;
}
.THIS .forceCommunityReputationLeaderboardRow {
    border: none;
    padding: 12px 0;
}
.THIS .forceCommunityReputationLeaderboardRow .reputationPointsNumber {
    float: left;
    padding: 0 5px 0 0;
    font-family: token(TenableFont);
    font-size: 14px;
}
.THIS .forceCommunityReputationLeaderboardRow .reputationPointsWord {
    padding: 0;
    float: left;
    font-family: token(TenableFont);
    font-size: 14px;
}
.THIS .forceChatterGroupAnnouncement .feedBodyInner span {
    font-size: 14px;
    line-height: 23px;
    color: token(TenableWarmGray);
}
.THIS .forceChatterGroupAnnouncement.slds-text-align_center, 
.THIS .forceChatterGroupAnnouncement.slds-text-align--center {
    text-align: left !important;
}
.THIS .forceChatterGroupAnnouncement .announcementIcon {
    display: none;
}
/* level badge styles */
.THIS .forceCommunityReputationLeaderboardRow .reputationLevelName {
    display: none;
}
.THIS .forceCommunityReputationLeaderboardRow .reputationLevelImage {
    position: relative;
    top: 0;
    margin-top: -26px;
    float: right;
}
.THIS .forceCommunityReputationLeaderboardRow .reputationLevelImage img {
    width: 56px;
    height: initial;
}
.THIS .forceCommunityReputationLeaderboardRow .userName {
    position: relative;
    top: 15px;
}
/* Larger mobile styles */
.THIS .uiBlock .bLeft { display: none; }
.THIS .forceFilterListDeprecated .listTitle { padding-left: 0; }

/* -- -- 
 GROUP DETAIL
 -- -- */

.THIS .forceCommunityGroupHighlightStencilNapili {
    border-bottom: 1px solid token(TenableAccentLightCoolGray);
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: none;
}
.THIS .forceChatterGroupDetailCard.slds-card {
    border: none;
}
.THIS .forceDetailPanel.slds-card {
    background: token(TenableLightBkgd);
}
.THIS .forceDetailPanel h3.slds-theme--shade {
    background-color: transparent;
}
.THIS .forceRelatedListContainer .slds-media__figure {
    display: none;
}
.THIS .forceRelatedListPreview.SMALL .uiAbstractList .forceRecordLayout {
    display: block;
    margin: 0 auto;
    width: 100% !important;
}
.THIS .forceCommunityForceCommunityFeed .groupAnnouncement {
    display: none;
}
.THIS .forceRelatedListPreview ul {
    display: inline-block;
}
.THIS .forceChatterChatterGroupMemberRequestRelatedListRecord .content {
    width: 100%;
}

/* Larger mobile styles */
.THIS .forceCommunityActionsContainerMobile {
    margin: 15px 0;
    width: 100%;
}
.THIS .forceChatterChatterGroupCompactStencil .userPicture, 
.THIS .forceChatterChatterGroupCompactStencil .actionButtonContainer {
    margin-bottom: 20px;
}
/* Membership request related list */
.THIS.Home.false table.forceRecordLayout tbody tr td:last-child, 
.THIS.Home.false table.forceRecordLayout thead tr th:last-child {
    display: table-cell;
}

/* -- -- 
 QUESTION DETAIL
 -- -- */

/* related questions */
.THIS .selfServiceSimilarQuestions .selfServiceBaseSimpleItem .item-title,
.THIS .forceChatterUnansweredQuestions .selfServiceBaseSimpleItem .item-title {
    font-size: 15px;
    padding-left: 30px;
}
.THIS .selfServiceSimilarItemWithViewCount.base-simple-item>* {
    border-bottom: none;
}
.THIS .selfServiceBaseSimpleItems .base-simple-item .item-title-link {
    padding: 14px 0 0;
}
.THIS .selfServiceSimilarQuestions.selfServiceBaseSimpleItems .base-simple-item .item-title-link:before,
.THIS .forceChatterUnansweredQuestions .selfServiceBaseSimpleItem .item-title-link:before {
    content:" ";
    display: inline-block;
    color: token(TenableWarmGray);
    position: absolute;
    background-image: url('http://static.tenable.com/marketing/community/svgs/community-discussiongroups.svg');
    width: 20px;
    height: 20px;
    background-size: 20px;
}
.THIS .slds-large-size--4-of-12 .selfServiceTopicTrendingArticles {
    padding: 0;
}

/* -- -- 
 SEARCH PAGE
 -- -- */

/* Tabs */
.THIS .coveo-tab-section {
    background: transparent;
    border-bottom: 3px solid token(TenableTeal) !important;
    text-align: left;
    height: 39px;
    min-height: 42px;
    margin-bottom: 15px;
}
.THIS .CoveoTab {
    padding: 0px 15px 0;
    color: white;
    border-radius: token(TenableBorderRadius) token(TenableBorderRadius) 0 0;
    background: token(TenableGray);
    letter-spacing: 0;
    text-transform: capitalize;
    margin-right: 10px;
    font-family: token(TenableFont);
    font-size: 13px;
    height: 39px;
}
.THIS .CoveoTab.coveo-selected, 
.THIS .CoveoTab.coveo-selected:hover {
    border-bottom: none;
    background: token(TenableTeal);
}
.THIS .CoveoTab p {
    position: relative;
    top: -6px;
}
/* Facets */
.THIS .CoveoFacet, 
.THIS .CoveoFacetRange, 
.THIS .CoveoFacetSlider, 
.THIS .CoveoHierarchicalFacet {
    font-family: token(TenableFont);
    margin: 10px 0px 30px 0px;
    border: none;
}
.THIS .CoveoSearchInterface .coveo-facet-column {
    padding: 5px 15px 5px 0;
}
.THIS .coveo-facet-header {
    background: token(TenableLightBkgd);
    color: token(TenableWarmGray);
}
.THIS .coveo-facet-value-caption {
    font-size: 14px;
    color: token(TenableWarmGray);
}
/* Search results */
.THIS .CoveoSearchInterface .coveo-results-column {
    font-family: token(TenableFont);
}

/* -- -- 
 USER SETTINGS
 -- -- */

/* Hides Password and Email fields */
.THIS .accountSection div:nth-child(4),
.THIS .accountSection div:nth-child(3) {
    display: none;
}


/* -- -- 
 MEDIA QUERIES
 -- -- */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .THIS .interiorFrame { max-width: none; margin: 0; padding: 0 15px; } 
    .THIS .siteforceSldsTwoCol84Layout .slds-large-size--8-of-12 { width: 60%; }
    .THIS .siteforceSldsTwoCol84Layout .slds-large-size--4-of-12 { width: 35%; padding-left: 20px; }
    .THIS.Home .midBanner .forceTopicFeaturedTopicItem.topicItem { width: 32%; }
    /* Jumbotron */
    .THIS .cTenable_Community_JumbotronHeader { top: -212px; }
    /* Group List */
    .THIS .forceCommunityActionsContainerMobile { margin-bottom: 10px; }
    
}
    
/* Medium Devices, Desktops */
@media only screen and (max-width : 1023px) {
    .THIS .interiorFrame { max-width: none; margin: 0; padding: 0 15px; } 
     /* Logo, Nav, Profile */
    .THIS .fixedHeader { position: initial; z-index: 0; }
    .THIS .ten-nav { position: relative; left: 120px; }
    .THIS .forceCommunityGlobalNavigation svg { fill: token(TenableTeal); }
    /* Carousel, Banner Block */
    .THIS .bannerBlock { top: 0; z-index: 0; }
    .THIS .carousel .slds-text-heading--large { font-size: 30px; }
    .THIS .carousel .slds-button--brand { margin-bottom: 31px; }
    /* Search */
    .THIS .search { margin: 0; padding: 10px 0; }
    .THIS .forceCommunitySearchBox .mobile-search-icon { margin: 0 auto; }
    /* Homepage Layout */
    .THIS .cTenable_Community_HomeLayout { margin: 30px 0; }
    /* Home */
    .THIS.Home .forceChatterCompactFeed article>a:before { left: -23px; }
    .THIS .cTenable_Community_HomeLinks .linkBlock { display: initial; }
    .THIS .cTenable_Community_HomeLinks .imgBlock { margin-bottom: 10px; width: 30%; }
    .THIS .cTenable_Community_HomeLinks .textBlock { width: 70%; }
    .THIS .cTenable_Community_HomeLinks .imgBlock img { width: 100%;}
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .THIS.Home .midBanner .forceTopicFeaturedTopicItem.topicItem { width: 48%; }
    .THIS .siteforceSldsTwoCol84Layout .slds-large-size--8-of-12 { width: 100%; }
    .THIS .siteforceSldsTwoCol84Layout .slds-large-size--4-of-12 { width: 100%; padding-left: 0; }
    /* Interior Page Search */
    .THIS.false .search { margin: 0; }
    /* Jumbotron */
    .THIS .cTenable_Community_JumbotronHeader { top: -163px; }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
     /* Logo, Nav, Profile */
    .THIS .cTenable_Community_HomeLinks .linkBlock { display: inherit; }
}
@media only screen and (max-width: 767px) {
    .THIS .logoNavBlock .logo { width: 60%; }
    .THIS .logoNavBlock .ten-nav { width: 20%; left: 170px; }
    /* REMOVING UNTIL STANDARD NAV FIX IS IN PLACE 
     * .THIS .logoNavBlock .user-profile { width: 15%; position: relative; right: 60px; }
     */
    		.THIS .logoNavBlock .user-profile { width: 15%; position: absolute; right: 20%; }
    		.THIS .selfServiceUserProfileMenu .profileName { display: none; }
    		.THIS div[data-region-name=profileMenu] { display: initial; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	 /* Logo, Nav, Profile */
    .THIS .logoNavBlock .logo { width: 60%; }
    .THIS .logoNavBlock .ten-nav { width: 20%; left: 70px; }
    /* REMOVING UNTIL STANDARD NAV FIX IS IN PLACE 
     * .THIS .logoNavBlock .user-profile { width: 20%; position: relative; right: 40px; }
     */ 
    		.THIS .logoNavBlock .user-profile { width: 30%; position: absolute; right: 20%; }
    
    /* Home */
    .THIS .cTenable_Community_HomeLinks .imgBlock img { width: 50%;}
    .THIS .cTenable_Community_HomeLinks .linkBlock { display: initial; }
    .THIS .cTenable_Community_HomeLinks .imgBlock { margin-bottom: 10px; width: 100%; }
    .THIS .cTenable_Community_HomeLinks .textBlock { width: 100%; }
    .THIS.Home .midBanner .forceTopicFeaturedTopicItem.topicItem { width: 100%; }
    /* Interior Page Search */
    .THIS.false .search { margin: 0; }
    /* Topic Detail Layout */
    .THIS .cTenable_Community_TopicDetailLayout .topicHead { display: inherit; }
    .THIS .cTenable_Community_TopicDetailLayout .topicHead>div { margin-bottom: 20px; }
    .THIS .cTenable_Community_TopicDetailLayout .topicHead>div:last-child { margin-bottom: 0px; }
}